# WRC Rally - Argentina, 2017

## Driver Analysis - Argentina

# Day 1 (27/04/2017)
## Section 1 (Evening)

## SS1 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS1 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:53.800000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:54.700000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:54.700000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:55.400000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:55.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:56.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:56.300000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:56.500000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:56.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:01:57.600000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

# Day 2 (28/04/2017)
## Section 2 (Morning)

## SS2 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS2 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:51.200000</td>
      <td>00:05:51.100000</td>
      <td>00:04:00</td>
      <td>00:12:42.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:55</td>
      <td>00:05:51.500000</td>
      <td>00:04:00.400000</td>
      <td>00:12:46.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:54.700000</td>
      <td>00:05:53.500000</td>
      <td>00:04:01</td>
      <td>00:12:49.200000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:55</td>
      <td>00:05:56.200000</td>
      <td>00:04:03.100000</td>
      <td>00:12:54.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:55.500000</td>
      <td>00:05:58.400000</td>
      <td>00:04:02.800000</td>
      <td>00:12:56.700000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:55.100000</td>
      <td>00:05:58.600000</td>
      <td>00:04:03.900000</td>
      <td>00:12:57.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.100000</td>
      <td>00:06:01.300000</td>
      <td>00:04:04.800000</td>
      <td>00:13:00.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:02:58.500000</td>
      <td>00:05:58.300000</td>
      <td>00:04:05.300000</td>
      <td>00:13:02.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:55.300000</td>
      <td>00:06:02.500000</td>
      <td>00:04:07.400000</td>
      <td>00:13:05.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:02:59.300000</td>
      <td>00:06:07</td>
      <td>00:04:21.400000</td>
      <td>00:13:27.700000</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS3 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS3 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:05</td>
      <td>00:02:39.500000</td>
      <td>00:03:34.300000</td>
      <td>00:10:18.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:08</td>
      <td>00:02:40.900000</td>
      <td>00:03:32.200000</td>
      <td>00:10:21.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:07.300000</td>
      <td>00:02:38.900000</td>
      <td>00:03:35.300000</td>
      <td>00:10:21.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:08</td>
      <td>00:02:41.100000</td>
      <td>00:03:36.800000</td>
      <td>00:10:25.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:08.500000</td>
      <td>00:02:42.400000</td>
      <td>00:03:35.100000</td>
      <td>00:10:26</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:10.600000</td>
      <td>00:02:39.900000</td>
      <td>00:03:35.900000</td>
      <td>00:10:26.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:08.600000</td>
      <td>00:02:42.600000</td>
      <td>00:03:36.400000</td>
      <td>00:10:27.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:11.300000</td>
      <td>00:02:42.700000</td>
      <td>00:03:34.800000</td>
      <td>00:10:28.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:04:12.300000</td>
      <td>00:02:44.400000</td>
      <td>00:03:36</td>
      <td>00:10:32.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:18.600000</td>
      <td>00:02:54</td>
      <td>00:03:46.100000</td>
      <td>00:10:58.700000</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS4 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS4 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:53.500000</td>
      <td>00:05:09.900000</td>
      <td>00:04:41.400000</td>
      <td>00:13:44.800000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:13:47.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:57.400000</td>
      <td>00:05:09</td>
      <td>00:04:44</td>
      <td>00:13:50.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:58.300000</td>
      <td>00:05:10.300000</td>
      <td>00:04:44.400000</td>
      <td>00:13:53</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:57.600000</td>
      <td>00:05:11.700000</td>
      <td>00:04:44.600000</td>
      <td>00:13:53.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:00.200000</td>
      <td>00:05:10.500000</td>
      <td>00:04:45.700000</td>
      <td>00:13:56.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:56</td>
      <td>00:05:14</td>
      <td>00:04:47.200000</td>
      <td>00:13:57.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:58.700000</td>
      <td>00:05:14.400000</td>
      <td>00:04:54.600000</td>
      <td>00:14:07.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:06.600000</td>
      <td>00:05:22</td>
      <td>00:04:51</td>
      <td>00:14:19.600000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>00:04:13.800000</td>
      <td>00:05:29.400000</td>
      <td>00:04:57.800000</td>
      <td>00:14:41</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS5 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS5 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:43.500000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:45.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:46.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:47.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:49.500000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:49.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:50</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:51.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:54.200000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>00:04:55.900000</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

# Day 4 (28/04/2017)
## Section 3 (Afternoon/Evening)

## SS6 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS6 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:51.700000</td>
      <td>00:05:46.300000</td>
      <td>00:03:57.900000</td>
      <td>00:12:35.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:53.700000</td>
      <td>00:05:53.800000</td>
      <td>00:03:57.100000</td>
      <td>00:12:44.600000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:51.600000</td>
      <td>00:05:55.100000</td>
      <td>00:04:01.200000</td>
      <td>00:12:47.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:56.400000</td>
      <td>00:05:52.800000</td>
      <td>00:03:59.600000</td>
      <td>00:12:48.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.300000</td>
      <td>00:05:58.100000</td>
      <td>00:04:00</td>
      <td>00:12:52.400000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:53.600000</td>
      <td>00:05:57.500000</td>
      <td>00:04:04.100000</td>
      <td>00:12:55.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:52.800000</td>
      <td>00:05:58.500000</td>
      <td>00:04:04.200000</td>
      <td>00:12:55.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:59.600000</td>
      <td>00:05:57.300000</td>
      <td>00:04:02.800000</td>
      <td>00:12:59.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:02:57.200000</td>
      <td>00:06:09.700000</td>
      <td>00:04:08.100000</td>
      <td>00:13:15</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:02:59.100000</td>
      <td>00:06:07.100000</td>
      <td>00:04:12.800000</td>
      <td>00:13:19</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS7 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS7 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:08.500000</td>
      <td>00:02:39.200000</td>
      <td>00:03:33.400000</td>
      <td>00:10:21.100000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:09.200000</td>
      <td>00:02:38.100000</td>
      <td>00:03:33.800000</td>
      <td>00:10:21.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:07</td>
      <td>00:02:40.500000</td>
      <td>00:03:33.700000</td>
      <td>00:10:21.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:07.500000</td>
      <td>00:02:39.800000</td>
      <td>00:03:34.100000</td>
      <td>00:10:21.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:09.300000</td>
      <td>00:02:40</td>
      <td>00:03:32.400000</td>
      <td>00:10:21.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:09.300000</td>
      <td>00:02:41.800000</td>
      <td>00:03:32.400000</td>
      <td>00:10:23.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:08.300000</td>
      <td>00:02:40.600000</td>
      <td>00:03:35.200000</td>
      <td>00:10:24.100000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:07.700000</td>
      <td>00:02:41.600000</td>
      <td>00:03:36.600000</td>
      <td>00:10:25.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:04:13.400000</td>
      <td>00:02:45.400000</td>
      <td>00:03:38.900000</td>
      <td>00:10:37.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:16.700000</td>
      <td>00:02:49.700000</td>
      <td>00:03:43.800000</td>
      <td>00:10:50.200000</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS8 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS8 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:54.400000</td>
      <td>00:05:07.300000</td>
      <td>00:04:37.300000</td>
      <td>00:13:39</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:54.400000</td>
      <td>00:05:07</td>
      <td>00:04:41.600000</td>
      <td>00:13:43</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:55.600000</td>
      <td>00:05:10.600000</td>
      <td>00:04:39.900000</td>
      <td>00:13:46.100000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:53.700000</td>
      <td>00:05:12.400000</td>
      <td>00:04:41.900000</td>
      <td>00:13:48</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:54.400000</td>
      <td>00:05:12.600000</td>
      <td>00:04:41.100000</td>
      <td>00:13:48.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:57.500000</td>
      <td>00:05:10.100000</td>
      <td>00:04:42</td>
      <td>00:13:49.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:54.400000</td>
      <td>00:05:09.800000</td>
      <td>00:04:48.500000</td>
      <td>00:13:52.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:03:57.200000</td>
      <td>00:05:13.200000</td>
      <td>00:04:46.200000</td>
      <td>00:13:56.600000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:03.200000</td>
      <td>00:05:23.800000</td>
      <td>00:04:50.600000</td>
      <td>00:14:17.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:56.900000</td>
      <td>00:05:13.800000</td>
      <td>00:05:06.900000</td>
      <td>00:14:17.600000</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS9 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS9 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:49.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:49.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:50.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:51.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:51.700000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:53.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:54.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:55.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:04:59.600000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>00:05:02.300000</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

# Day 3 (29/04/2017)
## Section 4 (Morning)

## SS10 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS10 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:10.300000</td>
      <td>00:03:28.600000</td>
      <td>00:02:21.300000</td>
      <td>00:11:00.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:06.300000</td>
      <td>00:03:31.800000</td>
      <td>00:02:22.900000</td>
      <td>00:11:01</td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:05:07.500000</td>
      <td>00:03:33.600000</td>
      <td>00:02:21.200000</td>
      <td>00:11:02.300000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:11.600000</td>
      <td>00:03:30</td>
      <td>00:02:21.300000</td>
      <td>00:11:02.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:09.800000</td>
      <td>00:03:34.300000</td>
      <td>00:02:21.600000</td>
      <td>00:11:05.700000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:12.300000</td>
      <td>00:03:32</td>
      <td>00:02:21.700000</td>
      <td>00:11:06</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:12.500000</td>
      <td>00:03:33.600000</td>
      <td>00:02:22.400000</td>
      <td>00:11:08.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:05:09.300000</td>
      <td>00:03:34.900000</td>
      <td>00:02:24.600000</td>
      <td>00:11:08.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:18.900000</td>
      <td>00:03:36.600000</td>
      <td>00:02:22.900000</td>
      <td>00:11:18.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:05:21.500000</td>
      <td>00:03:34.900000</td>
      <td>00:02:24.800000</td>
      <td>00:11:21.200000</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS11 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS11 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>sector_5</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:20:01.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:20:02.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:35.600000</td>
      <td>00:03:47.300000</td>
      <td>00:03:57.100000</td>
      <td>00:03:32.100000</td>
      <td>00:04:11</td>
      <td>00:20:03.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:38.500000</td>
      <td>00:03:52.300000</td>
      <td>00:03:54.300000</td>
      <td>00:03:32.200000</td>
      <td>00:04:08.800000</td>
      <td>00:20:06.100000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:20:07.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:37.700000</td>
      <td>00:03:49.500000</td>
      <td>00:03:54.400000</td>
      <td>00:03:34.200000</td>
      <td>00:04:12</td>
      <td>00:20:07.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:38.600000</td>
      <td>00:03:49.800000</td>
      <td>00:03:54.200000</td>
      <td>00:03:33.500000</td>
      <td>00:04:12.900000</td>
      <td>00:20:09</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:20:09.400000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:42.600000</td>
      <td>00:03:55</td>
      <td>00:04:00</td>
      <td>00:03:35.900000</td>
      <td>00:04:14.400000</td>
      <td>00:20:27.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:04:49.300000</td>
      <td>00:03:58.300000</td>
      <td>00:04:03.800000</td>
      <td>00:03:39.600000</td>
      <td>00:04:28.300000</td>
      <td>00:20:59.300000</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS12 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS12 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:23.500000</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:13:18.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:25.500000</td>
      <td>00:06:03.300000</td>
      <td>00:02:50.500000</td>
      <td>00:13:19.300000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:28.100000</td>
      <td>00:06:01.900000</td>
      <td>00:02:50</td>
      <td>00:13:20</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:27.600000</td>
      <td>00:06:03.100000</td>
      <td>00:02:49.700000</td>
      <td>00:13:20.400000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:29.100000</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:13:21.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:30.300000</td>
      <td>00:06:05.700000</td>
      <td>00:02:49.900000</td>
      <td>00:13:25.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:36</td>
      <td>00:06:05.100000</td>
      <td>00:02:50.700000</td>
      <td>00:13:31.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:26.200000</td>
      <td>00:06:06.300000</td>
      <td>00:02:59.700000</td>
      <td>00:13:32.200000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:35.300000</td>
      <td>00:06:07.600000</td>
      <td>00:02:54</td>
      <td>00:13:36.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:39.500000</td>
      <td>00:06:17.700000</td>
      <td>00:02:57.600000</td>
      <td>00:13:54.800000</td>
    </tr>
  </tbody>
</table>

## SS12 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*