# Itinerary Basics

Basic report on stage itinerary - stage name, distance etc.

In [96]:
import notebookimport

In [97]:
import os
import sqlite3
import pandas as pd

In [98]:
#!pip3 install tracery
#!pip3 install inflect

In [99]:
if __name__=='__main__':
    #dbname='wrc18.db'
    dbname='spain18.db'
    conn = sqlite3.connect(dbname)
    rally='Spain'
    rebase = 'PAD'
    rebase = ''

In [100]:
#!/Users/ajh59/anaconda3/bin/pip install tracery
import tracery
from tracery.modifiers import base_english
from inflectenglish import inflect_english
from pytracery_logic import pytracery_logic

def pandas_row_mapper(row, rules, root,  modifiers=base_english):
    ''' Generate text from a single row of dataframe using a tracery grammar. '''
    row=row.to_dict()
    rules=rules.copy()

    for k in row:
        rules[k] = str(row[k])
        grammar = tracery.Grammar(rules)
        if modifiers is not None:
            if isinstance(modifiers,list):
                for modifier in modifiers:
                    grammar.add_modifiers(modifier)
            else:
                grammar.add_modifiers(modifiers)

    return grammar.flatten(root)

def traceryparse(rules, root, modifiers=base_english):
    ''' Create a tracery grammar from a rules set and set of modifiers and apply it to tracery template string. '''
    grammar = tracery.Grammar(rules)
    if modifiers is not None:
        if isinstance(modifiers,list):
            for modifier in modifiers:
                grammar.add_modifiers(modifier)
        else:
            grammar.add_modifiers(modifiers)
    
    return grammar.flatten(root)

## Rally Summary

In [101]:
def dbGetRallySummary(rally, year=2018):
    ''' Create a dataframe containing summary details of a specified rally. '''
    q='''
    SELECT o.*, t.totalDistance FROM 
        (SELECT ce.`country.name`, ce.startDate, ce.finishDate, ce.name, ce.`country.iso3`, ce.surfaces,
            COUNT(*) numOfStages, SUM(itc.distance) AS compDistanceKm
            FROM itinerary_controls itc
            JOIN championship_events ce ON itc.eventId=ce.eventId
            WHERE ce.`country.name`="{rally}" AND type='StageStart' AND strftime('%Y', startDate)='{year}' ) AS o
        JOIN (SELECT ce.`country.name`, SUM(itc.distance) totalDistance FROM itinerary_controls itc
                JOIN championship_events ce ON itc.eventId=ce.eventId
                WHERE ce.`country.name`="{rally}") AS t ON o.`country.name` = t.`country.name`
    '''.format(rally=rally, year=year)
    
    rallydetails = pd.read_sql(q,conn)
    
    return rallydetails

In [137]:
if __name__=='__main__':
    rs = dbGetRallySummary(rally)
    display(rs)
    display(rs.dtypes)

,country.name,startDate,finishDate,name,country.iso3,surfaces,numOfStages,compDistanceKm,totalDistance
0,Spain,2018-10-25,2018-10-28,RallyRACC Catalunya - Rally de España,ESP,,18,331.58,1495.73

country.name       object
startDate          object
finishDate         object
name               object
country.iso3       object
surfaces           object
numOfStages         int64
compDistanceKm    float64
totalDistance     float64
dtype: object

Tracery rules specify an emergent story template.

In [104]:
rules = {'origin': "#name# (#startDate# to #finishDate#) #stages#. #dist#. #surface#.",
         'stages': "runs over #numOfStages# competitive special stages",
         'dist': "The distance covered on the special stages is #compDistanceKm.round#km, with an overall rally distance of #totalDistance.round#km",
         'surface':"The special stage surface type is predominantly #surfaces#",
        }

In [105]:
rs['report'] = rs.apply(lambda row: pandas_row_mapper(row, rules, "#origin#",[base_english,inflect_english, pytracery_logic]), axis=1)

In [106]:
rs[rs['country.name']==rally]['report'].iloc[0]

'RallyRACC Catalunya - Rally de España (2018-10-25 to 2018-10-28) runs over 18 competitive special stages. The distance covered on the special stages is 331.58km, with an overall rally distance of 1495.73km. The special stage surface type is predominantly .'

In [107]:
basepath = 'report'
if not os.path.exists(basepath):
    os.makedirs(basepath)

In [108]:
README='''# Rally Report - {}

*This report is unofficial and is not associated in any way with the Fédération Internationale de l’Automobile (FIA) or WRC Promoter GmbH.*


{}
'''.format(rally, rs[rs['country.name']==rally]['report'].iloc[0])

with open('{}/README.md'.format(basepath), 'w') as out_file:
    out_file.write(README)

In [109]:
import inflect
p=inflect.engine()

In [110]:
rs['startDate']=pd.to_datetime(rs['startDate'])
rs['startDate'].loc[0].strftime("%A %d,  %B %Y")

'Thursday 25,  October 2018'

In [111]:
p.number_to_words(p.ordinal((int(rs['startDate'].loc[0].strftime("%d")))))

'twenty-fifth'

## Itinerary Items

In [112]:
year=2018

In [113]:
q='''
    SELECT *
    FROM itinerary_controls itc
    JOIN championship_events ce ON itc.eventId=ce.eventId
    JOIN itinerary_sections isc ON itc.`itinerarySections.itinerarySectionId`=isc.itinerarySectionId
    JOIN itinerary_legs il ON isc.itineraryLegId=il.itineraryLegId
    WHERE ce.`country.name`="{rally}" AND strftime('%Y', startDate)='{year}' 
            AND firstCarDueDateTimeLocal NOT NULL ORDER BY firstCarDueDateTimeLocal 
    '''.format(rally=rally, year=year)
xx =pd.read_sql(q,conn)
xx.columns

Index(['code', 'controlId', 'controlPenalties', 'distance', 'eventId',
       'firstCarDueDateTime', 'firstCarDueDateTimeLocal', 'location',
       'stageId', 'status', 'targetDuration', 'targetDurationMs',
       'timingPrecision', 'type', 'itineraryLegId',
       'itinerarySections.itinerarySectionId', 'roundingPolicy', 'categories',
       'clerkOfTheCourse', 'country.countryId', 'country.iso2', 'country.iso3',
       'country.name', 'countryId', 'eventId', 'finishDate', 'location',
       'mode', 'name', 'organiserUrl', 'slug', 'startDate', 'stewards',
       'surfaces', 'templateFilename', 'timeZoneId', 'timeZoneName',
       'timeZoneOffset', 'trackingEventId', 'itineraryLegId',
       'itinerarySectionId', 'name', 'order', 'itineraryId', 'itineraryLegId',
       'legDate', 'name', 'order', 'startListId', 'status'],
      dtype='object')

In [114]:
xx.head()

,code,controlId,controlPenalties,distance,eventId,firstCarDueDateTime,firstCarDueDateTimeLocal,location,stageId,status,...,itinerarySectionId,name,order,itineraryId,itineraryLegId,legDate,name,order,startListId,status
0,TC0,3410,All,NaN,37,2018-10-25T11:15:00,2018-10-25T13:15:00+02:00,START - Podium SALOU,-1,Completed,...,327,Section 1,1,124,143,2018-10-25,Thursday 25th October,1,236,Completed
1,TC0A,3411,Late,111.12,37,2018-10-25T13:15:00,2018-10-25T15:15:00+02:00,Regroup IN - Barcelona,-1,Completed,...,327,Section 1,1,124,143,2018-10-25,Thursday 25th October,1,236,Completed
2,TC1,3451,None,NaN,37,2018-10-25T16:05:00,2018-10-25T18:05:00+02:00,Regroup OUT,823,Completed,...,328,Section 2,2,124,143,2018-10-25,Thursday 25th October,1,236,Completed
3,SS1,3452,None,3.20,37,2018-10-25T16:08:00,2018-10-25T18:08:00+02:00,Barcelona (asphalt) TV Live,823,Completed,...,328,Section 2,2,124,143,2018-10-25,Thursday 25th October,1,236,Completed
4,TC1A,3415,Late,108.06,37,2018-10-25T18:08:00,2018-10-25T20:08:00+02:00,Parc Fermé IN (PortAventura),-1,Completed,...,328,Section 2,2,124,143,2018-10-25,Thursday 25th October,1,236,Completed

In [115]:
import datetime
t=datetime.time(abs(int(360/60)), 360 % 60)
dt = datetime.datetime.combine(datetime.date.today(), t)
dt.isoformat()

'2018-11-02T06:00:00'

In [116]:
t = datetime.datetime.combine(datetime.date.today(),datetime.time(0))
(t  + datetime.timedelta( minutes=-359)).isoformat()

'2018-11-01T18:01:00'

In [117]:
xx[:2][['timeZoneId','timeZoneOffset']]

              timeZoneId  timeZoneOffset
0  Romance Standard Time              60
1  Romance Standard Time              60

In [118]:
def dbGetTimeControls(rally, year=2018):
    ''' Get dataframe containing time control details for a specified rally. '''
    q='''
    SELECT il.name AS date, itc.*, ce.timeZoneOffset,
         isc.itinerarySectionId, isc.name AS section, isc.`order`
    FROM itinerary_controls itc
    JOIN championship_events ce ON itc.eventId=ce.eventId
    JOIN itinerary_sections isc ON itc.`itinerarySections.itinerarySectionId`=isc.itinerarySectionId
    JOIN itinerary_legs il ON isc.itineraryLegId=il.itineraryLegId
    WHERE ce.`country.name`="{rally}" AND strftime('%Y', startDate)='{year}'
            AND firstCarDueDateTimeLocal NOT NULL ORDER BY firstCarDueDateTimeLocal 
    '''.format(rally=rally, year=year)
    time_controls = pd.read_sql(q,conn)
    time_controls['firstCarDueDateTimeLocal']=pd.to_datetime(time_controls['firstCarDueDateTimeLocal'])
    return time_controls

In [119]:
if __name__=='__main__':
    time_controls = dbGetTimeControls(rally)
    display(time_controls.head())

,date,code,controlId,controlPenalties,distance,eventId,firstCarDueDateTime,firstCarDueDateTimeLocal,location,stageId,...,targetDurationMs,timingPrecision,type,itineraryLegId,itinerarySections.itinerarySectionId,roundingPolicy,timeZoneOffset,itinerarySectionId,section,order
0,Thursday 25th October,TC0,3410,All,NaN,37,2018-10-25T11:15:00,2018-10-25 11:15:00,START - Podium SALOU,-1,...,NaN,Minute,TimeControl,143,327,NoRounding,60,327,Section 1,1
1,Thursday 25th October,TC0A,3411,Late,111.12,37,2018-10-25T13:15:00,2018-10-25 13:15:00,Regroup IN - Barcelona,-1,...,7200000.0,Minute,TimeControl,143,327,NoRounding,60,327,Section 1,1
2,Thursday 25th October,TC1,3451,None,NaN,37,2018-10-25T16:05:00,2018-10-25 16:05:00,Regroup OUT,823,...,10200000.0,Minute,TimeControl,143,328,NoRounding,60,328,Section 2,2
3,Thursday 25th October,SS1,3452,None,3.20,37,2018-10-25T16:08:00,2018-10-25 16:08:00,Barcelona (asphalt) TV Live,823,...,180000.0,Minute,StageStart,143,328,RoundToClosestMinute,60,328,Section 2,2
4,Thursday 25th October,TC1A,3415,Late,108.06,37,2018-10-25T18:08:00,2018-10-25 18:08:00,Parc Fermé IN (PortAventura),-1,...,7200000.0,Minute,TimeControl,143,328,NoRounding,60,328,Section 2,2

In [120]:
#Check datetime type
time_controls['firstCarDueDateTime'] = pd.to_datetime(time_controls['firstCarDueDateTime'])

In [121]:
import datetime

def newtime(row):
    t=datetime.timedelta( minutes=row['timeZoneOffset'])
    return row['firstCarDueDateTime']+ t

time_controls['mylocaltime'] = time_controls.apply(lambda row: newtime(row),axis=1)

In [122]:
rules = {'origin': "#mylocaltime.pdtime(%H:%M:%S)# #code# #location# #distance.isNotNull(post=km).brackets# \[#targetDuration#\]",
        }

In [123]:
dategroups = time_controls.groupby('date',sort=False)
for key in dategroups.groups.keys():
    print('---\n\n{}:\n'.format(key))
    grouped2=dategroups.get_group(key).groupby('section',sort=False)
    for key2 in grouped2.groups.keys():
        g2 = grouped2.get_group(key2)
        l=len(g2[g2['code'].str.startswith('SS')])
        print('{} - {} special {}\n'.format(key2,p.number_to_words(l),p.plural_noun('stage',l)))
        for r in grouped2.get_group(key2).apply(lambda row: pandas_row_mapper(row, rules, "#origin#",[base_english,inflect_english]), axis=1):
            print('\t{}'.format(r))
        print('\n')

---

Thursday 25th October:

Section 1 - zero special stages

	12:15:00 TC0 START - Podium SALOU  [None]
	14:15:00 TC0A Regroup IN - Barcelona (111.12km) [02:00:00]


Section 2 - one special stage

	17:05:00 TC1 Regroup OUT  [02:50:00]
	17:08:00 SS1 Barcelona (asphalt) TV Live (3.2km) [00:03:00]
	19:08:00 TC1A Parc Fermé IN (PortAventura) (108.06km) [02:00:00]


---

Friday 26th October:

Section 3 - three special stages

	07:00:00 TC1B Parc Fermé OUT - Service IN  [None]
	07:15:00 TC1C Service OUT  [00:15:00]
	08:30:00 TC2 Gandesa (79.93km) [01:15:00]
	08:33:00 SS2 Gandesa 1 (gravel) (7.0km) [00:03:00]
	09:03:00 TC3 Pesells (10.07km) [00:30:00]
	09:06:00 SS3 Pesells 1 (gravel) (26.59km) [00:03:00]
	10:17:00 TC4 La Fatarella (32.48km) [01:11:00]
	10:20:00 SS4 La Fatarella -Vilalba 1 (gravel & asphalt) (38.85km) [00:03:00]
	12:15:00 TC4A Regroup and Technical Zone  IN (85.37km) [01:55:00]


Section 4 - three special stages

	12:35:00 TC4B Regroup OUT - Service IN  [00:20:00]
	13:05:00 TC4C Service OUT  [00:30:00]
	14:20:00 TC5 Gandesa (79.93km) [01:15:00]
	14:23:00 SS5 Gandesa 2 (gravel) (7.0km) [00:03:00]
	14:53:00 TC6 Pesells (10.07km) [00:30:00]
	14:56:00 SS6 Pesells 2 (gravel) (26.59km) [00:03:00]
	16:07:00 TC7 La Fatarella (32.48km) [01:11:00]
	16:10:00 SS7 La Fatarella -Vilalba 2 (gravel & asphalt) (38.85km) [00:03:00]
	18:10:00 TC7A Parc Fermé and Technical Zone  IN (87.19km) [02:00:00]
	18:20:00 TC7B Parc Fermé OUT / FlexiService IN  [00:10:00]
	19:35:00 TC7C Flexiservice OUT / Parc Fermé IN (PortAventura)  [01:15:00]


---

Saturday 27th October:

Section 5 - three special stages

	05:45:00 TC7D Parc Fermé OUT - Service IN  [None]
	06:00:00 TC7E Service OUT  [00:15:00]
	07:20:00 TC8 Savallà (72.94km) [01:20:00]
	07:23:00 SS8 Savallà 1 (asphalt) (14.12km) [00:03:00]
	08:05:00 TC9 Querol (15.49km) [00:42:00]
	08:08:00 SS9 Querol 1 (asphalt) (21.26km) [00:03:00]
	09:01:00 TC10 El Montmell (14.0km) [00:53:00]
	09:08:00 SS10 El Montmell 1 (asphalt) TV Live (24.4km) [00:07:00]
	10:33:00 TC10A Regroup and Technical Zone IN Port Aventura (66.43km) [01:25:00]


Section 6 - three special stages

	10:43:00 TC10B Regroup OUT - Service IN  [00:10:00]
	11:13:00 TC10C Service OUT  [00:30:00]
	12:25:00 TC11 Savallà (72.94km) [01:12:00]
	12:28:00 SS11 Savallà 2 (asphalt) (14.12km) [00:03:00]
	13:07:00 TC12 Querol (15.49km) [00:39:00]
	13:10:00 SS12 Querol 2 (asphalt) (21.26km) [00:03:00]
	14:01:00 TC13 El Montmell (14.0km) [00:51:00]
	14:08:00 SS13 El Montmell 2 (asphalt) TV Live (24.4km) [00:07:00]
	15:42:00 TC13A Regroup IN - Salou (71.33km) [01:34:00]


Section 7 - one special stage

	15:57:00 TC14 Regroup OUT  [00:15:00]
	16:00:00 SS14 Salou (asphalt) (2.24km) [00:03:00]
	16:20:00 TC14A Parc Fermé and Technical Zone IN (1.38km) [00:20:00]
	16:30:00 TC14B Parc Fermé OUT / Flexiservice IN  [00:10:00]
	17:15:00 TC14C Flexiservice OUT/ Parc Ferme IN (Port Aventura)  [00:45:00]


---

Sunday 28th October:

Section 8 - one special stage

	06:45:00 TC14D Parc Fermé OUT - Service IN  [None]
	07:00:00 TC14E Service OUT  [00:15:00]
	07:32:00 TC15 Riudecanyes (26.49km) [00:32:00]
	07:35:00 SS15 Riudecanyes 1 (asphalt) (16.35km) [00:03:00]
	08:06:00 TC15A Regroup IN - Mont-roig del Camp (11.02km) [00:31:00]


Section 9 - one special stage

	08:16:00 TC15B Regroup OUT   [00:10:00]
	08:35:00 TC16 Santa Marina (11.86km) [00:19:00]
	08:38:00 SS16 Santa Marina 1 (asphalt) TV Live (14.5km) [00:03:00]
	09:35:00 TC16A Regroup and Technical Zone IN Port Aventura (41.23km) [00:57:00]


Section 10 - one special stage

	09:45:00 TC16B Regroup OUT - Service IN  [00:10:00]
	10:15:00 TC16C Service OUT  [00:30:00]
	10:47:00 TC17 Riudecanyes (26.49km) [00:32:00]
	10:50:00 SS17 Riudecanyes 2 (asphalt) (16.35km) [00:03:00]
	11:21:00 TC17A Regroup IN - Mont-roig del Camp (11.02km) [00:31:00]


Section 11 - one special stage

	11:56:00 TC17B Regroup OUT  [00:35:00]
	12:15:00 TC18 Santa Marina (11.86km) [00:19:00]
	12:18:00 SS18 Santa Marina 2 (asphalt) (Power Stage) (14.5km) [00:03:00]
	13:38:00 TC18A Parc Fermé and Technical Zone  IN (41.49km) [01:20:00]
	13:41:00 TC18B Parc Fermé OUT / Service IN  [00:03:00]
	13:51:00 TC18C Service OUT   [00:10:00]
	14:01:00 TC18D Before Podium Salou (1.99km) [00:10:00]

In [136]:
def initStageReports(rebase='overall'):
    ''' Generate the initial report for a particular section rebased to a particular position or driver.'''
    sectionREADME_base = '''### {section} Report
    '''

    SUMMARY ='\n'
    
    rules['stages'] = "#code# - #location# #distance.isNotNull(post=km).brackets#"

    dn = '' if not rebase or 'overall' in rebase else '_'+rebase
  
    sections = time_controls.groupby('section',sort=False)
    keyorder = [k for k in time_controls.sort_values('order')['section'].unique() if k in sections.groups.keys()]
    for key in keyorder:

        sectionfn = '{bp}/{key}_report{dn}.md'.format(bp=basepath,key=key, dn=dn)

        with open(sectionfn, 'w') as out_file:
            out_file.write('')

        sectionControls = sections.get_group(key)
        sstages = sectionControls[sectionControls['code'].str.startswith('SS')]
        l=len(sstages)
        
        if l:
            title = '# {}, {}\n\nThis section comprises {} special {}'.format(key,sectionControls['date'].iloc[0], p.number_to_words(l),p.plural_noun('stage',l))
            sstage=[]
            for r in sstages.apply(lambda row: pandas_row_mapper(row, rules, "#stages#",[base_english,inflect_english]), axis=1):
                sstage.append(r)
            sectionREADME = '{} ({})'.format(sectionREADME,', '.join(sstage))
        else: 
            title = '# {}, {}\n\nThere were no special stages in this section.'.format(key,sectionControls['date'].iloc[0])
        sectionREADME = '''{title}'''.format( title=title)

        sectionREADME = '''{s}\n\nThe full scheduled itinerary for the section was as follows:\n'''.format(s=sectionREADME,)

        controls = []
        for r in sectionControls.apply(lambda row: pandas_row_mapper(row, rules, "#origin#",[base_english,inflect_english]), axis=1):
            controls.append(r)
        sectionREADME = '{}\n\t- {}\n'.format(sectionREADME, '\n\t- '.join(controls))

        print(sectionREADME,'\n------\n')
        with open(sectionfn, 'a') as out_file:
            out_file.write(sectionREADME)

        #Add section
        SUMMARY = '{summary}\n* [{key}]({key}_report{dn}.md)\n'.format(summary=SUMMARY, key=key,dn=dn)

        sstageDict = sstages.set_index('code').to_dict(orient='index')
        #Add special stages
        for s in sstageDict: #[Section 2](Section 2_report.md)
            SUMMARY = '{summary}  - [{s} - {n}]({s}_report{dn}.md)\n'.format(summary=SUMMARY,
                                                                              s=s, 
                                                                              n=sstageDict[s]['location'],
                                                                              dn=dn)

    with open('{}/SUMMARY{}.md'.format(basepath,dn), 'a') as out_file:
        out_file.write(SUMMARY)

initStageReports(rebase)
#initStageReports()

# Section 1, Thursday 25th October

There were no special stages in this section.

The full scheduled itinerary for the section was as follows:

	- 12:15:00 TC0 START - Podium SALOU  [None]
	- 14:15:00 TC0A Regroup IN - Barcelona (111.12km) [02:00:00]

------

# Section 2, Thursday 25th October

This section comprises one special stage

The full scheduled itinerary for the section was as follows:

	- 17:05:00 TC1 Regroup OUT  [02:50:00]
	- 17:08:00 SS1 Barcelona (asphalt) TV Live (3.2km) [00:03:00]
	- 19:08:00 TC1A Parc Fermé IN (PortAventura) (108.06km) [02:00:00]

------

# Section 3, Friday 26th October

This section comprises three special stages

The full scheduled itinerary for the section was as follows:

	- 07:00:00 TC1B Parc Fermé OUT - Service IN  [None]
	- 07:15:00 TC1C Service OUT  [00:15:00]
	- 08:30:00 TC2 Gandesa (79.93km) [01:15:00]
	- 08:33:00 SS2 Gandesa 1 (gravel) (7.0km) [00:03:00]
	- 09:03:00 TC3 Pesells (10.07km) [00:30:00]
	- 09:06:00 SS3 Pesells 1 (gravel) (26.59km) [00:03:00]
	- 10:17:00 TC4 La Fatarella (32.48km) [01:11:00]
	- 10:20:00 SS4 La Fatarella -Vilalba 1 (gravel & asphalt) (38.85km) [00:03:00]
	- 12:15:00 TC4A Regroup and Technical Zone  IN (85.37km) [01:55:00]

------

# Section 4, Friday 26th October

This section comprises three special stages

The full scheduled itinerary for the section was as follows:

	- 12:35:00 TC4B Regroup OUT - Service IN  [00:20:00]
	- 13:05:00 TC4C Service OUT  [00:30:00]
	- 14:20:00 TC5 Gandesa (79.93km) [01:15:00]
	- 14:23:00 SS5 Gandesa 2 (gravel) (7.0km) [00:03:00]
	- 14:53:00 TC6 Pesells (10.07km) [00:30:00]
	- 14:56:00 SS6 Pesells 2 (gravel) (26.59km) [00:03:00]
	- 16:07:00 TC7 La Fatarella (32.48km) [01:11:00]
	- 16:10:00 SS7 La Fatarella -Vilalba 2 (gravel & asphalt) (38.85km) [00:03:00]
	- 18:10:00 TC7A Parc Fermé and Technical Zone  IN (87.19km) [02:00:00]
	- 18:20:00 TC7B Parc Fermé OUT / FlexiService IN  [00:10:00]
	- 19:35:00 TC7C Flexiservice OUT / Parc Fermé IN (PortAventura)  [01:15:00]

------

# Section 5, Saturday 27th October

This section comprises three special stages

The full scheduled itinerary for the section was as follows:

	- 05:45:00 TC7D Parc Fermé OUT - Service IN  [None]
	- 06:00:00 TC7E Service OUT  [00:15:00]
	- 07:20:00 TC8 Savallà (72.94km) [01:20:00]
	- 07:23:00 SS8 Savallà 1 (asphalt) (14.12km) [00:03:00]
	- 08:05:00 TC9 Querol (15.49km) [00:42:00]
	- 08:08:00 SS9 Querol 1 (asphalt) (21.26km) [00:03:00]
	- 09:01:00 TC10 El Montmell (14.0km) [00:53:00]
	- 09:08:00 SS10 El Montmell 1 (asphalt) TV Live (24.4km) [00:07:00]
	- 10:33:00 TC10A Regroup and Technical Zone IN Port Aventura (66.43km) [01:25:00]

------

# Section 6, Saturday 27th October

This section comprises three special stages

The full scheduled itinerary for the section was as follows:

	- 10:43:00 TC10B Regroup OUT - Service IN  [00:10:00]
	- 11:13:00 TC10C Service OUT  [00:30:00]
	- 12:25:00 TC11 Savallà (72.94km) [01:12:00]
	- 12:28:00 SS11 Savallà 2 (asphalt) (14.12km) [00:03:00]
	- 13:07:00 TC12 Querol (15.49km) [00:39:00]
	- 13:10:00 SS12 Querol 2 (asphalt) (21.26km) [00:03:00]
	- 14:01:00 TC13 El Montmell (14.0km) [00:51:00]
	- 14:08:00 SS13 El Montmell 2 (asphalt) TV Live (24.4km) [00:07:00]
	- 15:42:00 TC13A Regroup IN - Salou (71.33km) [01:34:00]

------

# Section 7, Saturday 27th October

This section comprises one special stage

The full scheduled itinerary for the section was as follows:

	- 15:57:00 TC14 Regroup OUT  [00:15:00]
	- 16:00:00 SS14 Salou (asphalt) (2.24km) [00:03:00]
	- 16:20:00 TC14A Parc Fermé and Technical Zone IN (1.38km) [00:20:00]
	- 16:30:00 TC14B Parc Fermé OUT / Flexiservice IN  [00:10:00]
	- 17:15:00 TC14C Flexiservice OUT/ Parc Ferme IN (Port Aventura)  [00:45:00]

------

# Section 8, Sunday 28th October

This section comprises one special stage

The full scheduled itinerary for the section was as follows:

	- 06:45:00 TC14D Parc Fermé OUT - Service IN  [None]
	- 07:00:00 TC14E Service OUT  [00:15:00]
	- 07:32:00 TC15 Riudecanyes (26.49km) [00:32:00]
	- 07:35:00 SS15 Riudecanyes 1 (asphalt) (16.35km) [00:03:00]
	- 08:06:00 TC15A Regroup IN - Mont-roig del Camp (11.02km) [00:31:00]

------

# Section 9, Sunday 28th October

This section comprises one special stage

The full scheduled itinerary for the section was as follows:

	- 08:16:00 TC15B Regroup OUT   [00:10:00]
	- 08:35:00 TC16 Santa Marina (11.86km) [00:19:00]
	- 08:38:00 SS16 Santa Marina 1 (asphalt) TV Live (14.5km) [00:03:00]
	- 09:35:00 TC16A Regroup and Technical Zone IN Port Aventura (41.23km) [00:57:00]

------

# Section 10, Sunday 28th October

This section comprises one special stage

The full scheduled itinerary for the section was as follows:

	- 09:45:00 TC16B Regroup OUT - Service IN  [00:10:00]
	- 10:15:00 TC16C Service OUT  [00:30:00]
	- 10:47:00 TC17 Riudecanyes (26.49km) [00:32:00]
	- 10:50:00 SS17 Riudecanyes 2 (asphalt) (16.35km) [00:03:00]
	- 11:21:00 TC17A Regroup IN - Mont-roig del Camp (11.02km) [00:31:00]

------

# Section 11, Sunday 28th October

This section comprises one special stage

The full scheduled itinerary for the section was as follows:

	- 11:56:00 TC17B Regroup OUT  [00:35:00]
	- 12:15:00 TC18 Santa Marina (11.86km) [00:19:00]
	- 12:18:00 SS18 Santa Marina 2 (asphalt) (Power Stage) (14.5km) [00:03:00]
	- 13:38:00 TC18A Parc Fermé and Technical Zone  IN (41.49km) [01:20:00]
	- 13:41:00 TC18B Parc Fermé OUT / Service IN  [00:03:00]
	- 13:51:00 TC18C Service OUT   [00:10:00]
	- 14:01:00 TC18D Before Podium Salou (1.99km) [00:10:00]

------

In [135]:
sstages['date']

NameError: name 'sstages' is not defined

In [126]:
sstages.set_index('code').to_dict(orient='index')

NameError: name 'sstages' is not defined

In [41]:
print(SUMMARY)

NameError: name 'SUMMARY' is not defined

In [42]:
!head -n100 "report/Section 3_report.md"

# Section 3, Friday 26th October

This section comprises three special stages (SS2 - Gandesa 1 (gravel) (7.0km), SS3 - Pesells 1 (gravel) (26.59km), SS4 - La Fatarella -Vilalba 1 (gravel & asphalt) (38.85km))

The full scheduled itinerary for the section was as follows:

	- 08:00:00 TC1B Parc Fermé OUT - Service IN  [None]
	- 08:15:00 TC1C Service OUT  [00:15:00]
	- 09:30:00 TC2 Gandesa (79.93km) [01:15:00]
	- 09:33:00 SS2 Gandesa 1 (gravel) (7.0km) [00:03:00]
	- 10:03:00 TC3 Pesells (10.07km) [00:30:00]
	- 10:06:00 SS3 Pesells 1 (gravel) (26.59km) [00:03:00]
	- 11:17:00 TC4 La Fatarella (32.48km) [01:11:00]
	- 11:20:00 SS4 La Fatarella -Vilalba 1 (gravel & asphalt) (38.85km) [00:03:00]
	- 13:15:00 TC4A Regroup and Technical Zone  IN (85.37km) [01:55:00]

In [ ]:
sectionControls['code']

In [ ]:
sectionControls#[sectionControls['code']]

In [ ]:
l