# WRC Rally - Poland, 2017

## Driver Analysis - H. PADDON (4)

# Day 1 (29/06/2017)
## Section 1 (Evening)

## SS1 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS1 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:44.400000</td>
    </tr>
    <tr>
      <th>34</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:45.300000</td>
    </tr>
    <tr>
      <th>32</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:45.700000</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:45.800000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:45.900000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:45.900000</td>
    </tr>
    <tr>
      <th>28</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:45.900000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:01:46</td>
    </tr>
    <tr>
      <th>26</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:46.200000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

# Day 2 (30/06/2017)
## Section 2 (Morning)

## SS2 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS2 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:52.400000</td>
      <td>00:01:30.500000</td>
      <td>00:03:22.900000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:53.400000</td>
      <td>00:01:29.700000</td>
      <td>00:03:23.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:51.600000</td>
      <td>00:01:32.700000</td>
      <td>00:03:24.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:53.400000</td>
      <td>00:01:31.100000</td>
      <td>00:03:24.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:56.300000</td>
      <td>00:01:31.400000</td>
      <td>00:03:27.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:53.600000</td>
      <td>00:01:35.900000</td>
      <td>00:03:29.500000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:56.700000</td>
      <td>00:01:34.500000</td>
      <td>00:03:31.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:56.500000</td>
      <td>00:01:34.700000</td>
      <td>00:03:31.200000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:01:56.600000</td>
      <td>00:01:35.500000</td>
      <td>00:03:32.100000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:59.700000</td>
      <td>00:01:33.100000</td>
      <td>00:03:32.800000</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS3 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS3 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:30.500000</td>
      <td>00:02:30.800000</td>
      <td>00:02:31.700000</td>
      <td>00:07:33</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:30.800000</td>
      <td>00:02:31.200000</td>
      <td>00:02:31.900000</td>
      <td>00:07:33.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:29.900000</td>
      <td>00:02:32.500000</td>
      <td>00:02:31.900000</td>
      <td>00:07:34.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:31.300000</td>
      <td>00:02:32.500000</td>
      <td>00:02:32.300000</td>
      <td>00:07:36.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:02:31.500000</td>
      <td>00:02:35.800000</td>
      <td>00:02:33.500000</td>
      <td>00:07:40.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:31.100000</td>
      <td>00:02:34.600000</td>
      <td>00:02:36.500000</td>
      <td>00:07:42.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:33.600000</td>
      <td>00:02:37.800000</td>
      <td>00:02:35.200000</td>
      <td>00:07:46.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:32.900000</td>
      <td>00:02:38.600000</td>
      <td>00:02:36.900000</td>
      <td>00:07:48.400000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:02:35.600000</td>
      <td>00:02:39.400000</td>
      <td>00:02:35.900000</td>
      <td>00:07:50.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:35.600000</td>
      <td>00:02:40.700000</td>
      <td>00:02:37.600000</td>
      <td>00:07:53.900000</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS4 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS4 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:50.200000</td>
      <td>00:03:27.300000</td>
      <td>00:02:29.800000</td>
      <td>00:09:47.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:52</td>
      <td>00:03:26.400000</td>
      <td>00:02:30.200000</td>
      <td>00:09:48.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:56.200000</td>
      <td>00:03:21.600000</td>
      <td>00:02:32.500000</td>
      <td>00:09:50.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:53</td>
      <td>00:03:27.400000</td>
      <td>00:02:30.900000</td>
      <td>00:09:51.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:54</td>
      <td>00:03:32.500000</td>
      <td>00:02:33.400000</td>
      <td>00:09:59.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:56</td>
      <td>00:03:32.300000</td>
      <td>00:02:33</td>
      <td>00:10:01.300000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:58.400000</td>
      <td>00:03:31.100000</td>
      <td>00:02:34.300000</td>
      <td>00:10:03.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:58.600000</td>
      <td>00:03:33.100000</td>
      <td>00:02:35.900000</td>
      <td>00:10:07.600000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:58.800000</td>
      <td>00:03:31.300000</td>
      <td>00:02:38.600000</td>
      <td>00:10:08.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:59.500000</td>
      <td>00:03:33.700000</td>
      <td>00:02:38.100000</td>
      <td>00:10:11.300000</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS5 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS5 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:42.200000</td>
      <td>00:03:12.600000</td>
      <td>00:06:54.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:41.800000</td>
      <td>00:03:14.900000</td>
      <td>00:06:56.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:43.500000</td>
      <td>00:03:14.500000</td>
      <td>00:06:58</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:44.900000</td>
      <td>00:03:14</td>
      <td>00:06:58.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:41.700000</td>
      <td>00:03:20.900000</td>
      <td>00:07:02.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:48.100000</td>
      <td>00:03:22.100000</td>
      <td>00:07:10.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:47.400000</td>
      <td>00:03:23.400000</td>
      <td>00:07:10.800000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:49.600000</td>
      <td>00:03:24.800000</td>
      <td>00:07:14.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:53.300000</td>
      <td>00:03:22</td>
      <td>00:07:15.300000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:50.400000</td>
      <td>00:03:28.600000</td>
      <td>00:07:19</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

# Day 9 (30/06/2017)
## Section 3 (Afternoon/Evening)

## SS7 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS7 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:02:34.900000</td>
      <td>00:02:36.800000</td>
      <td>00:02:36.200000</td>
      <td>00:07:47.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:33.500000</td>
      <td>00:02:39.500000</td>
      <td>00:02:35.600000</td>
      <td>00:07:48.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:34</td>
      <td>00:02:38.800000</td>
      <td>00:02:36.300000</td>
      <td>00:07:49.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:02:35.700000</td>
      <td>00:02:39.900000</td>
      <td>00:02:34.600000</td>
      <td>00:07:50.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:34.100000</td>
      <td>00:02:40.800000</td>
      <td>00:02:36.900000</td>
      <td>00:07:51.800000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:33.500000</td>
      <td>00:02:40.300000</td>
      <td>00:02:38.400000</td>
      <td>00:07:52.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:36.600000</td>
      <td>00:02:40.400000</td>
      <td>00:02:36.500000</td>
      <td>00:07:53.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:34.200000</td>
      <td>00:02:42.600000</td>
      <td>00:02:38.400000</td>
      <td>00:07:55.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:33.900000</td>
      <td>00:02:46.500000</td>
      <td>00:02:39</td>
      <td>00:07:59.400000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:02:36.700000</td>
      <td>00:02:41.900000</td>
      <td>00:02:43.300000</td>
      <td>00:08:01.900000</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS8 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS8 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:58.600000</td>
      <td>00:03:29.200000</td>
      <td>00:02:35.500000</td>
      <td>00:10:03.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:57.100000</td>
      <td>00:03:31.600000</td>
      <td>00:02:35.800000</td>
      <td>00:10:04.500000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:53.800000</td>
      <td>00:03:34.900000</td>
      <td>00:02:38</td>
      <td>00:10:06.700000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:58.200000</td>
      <td>00:03:31.400000</td>
      <td>00:02:37.600000</td>
      <td>00:10:07.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:58.200000</td>
      <td>00:03:30.900000</td>
      <td>00:02:38.100000</td>
      <td>00:10:07.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:55.300000</td>
      <td>00:03:34.600000</td>
      <td>00:02:38.600000</td>
      <td>00:10:08.500000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:58.300000</td>
      <td>00:03:31.300000</td>
      <td>00:02:39.700000</td>
      <td>00:10:09.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:04.800000</td>
      <td>00:03:27.700000</td>
      <td>00:02:38</td>
      <td>00:10:10.500000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:00.800000</td>
      <td>00:03:34.500000</td>
      <td>00:02:39.500000</td>
      <td>00:10:14.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:05.300000</td>
      <td>00:03:31.700000</td>
      <td>00:02:39.800000</td>
      <td>00:10:16.800000</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS9 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS9 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:46.200000</td>
      <td>00:03:21.200000</td>
      <td>00:07:07.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:46.600000</td>
      <td>00:03:22.300000</td>
      <td>00:07:08.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:48.500000</td>
      <td>00:03:22.100000</td>
      <td>00:07:10.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:48.500000</td>
      <td>00:03:23.300000</td>
      <td>00:07:11.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:49.100000</td>
      <td>00:03:24.400000</td>
      <td>00:07:13.500000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:46.300000</td>
      <td>00:03:27.200000</td>
      <td>00:07:13.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:50.700000</td>
      <td>00:03:24.400000</td>
      <td>00:07:15.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:51.200000</td>
      <td>00:03:24.800000</td>
      <td>00:07:16</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:50.900000</td>
      <td>00:03:26</td>
      <td>00:07:16.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:50.100000</td>
      <td>00:03:27.200000</td>
      <td>00:07:17.300000</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS10 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS10 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:44.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:44.800000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:45</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:01:45.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:45.700000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:45.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:46.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:46.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:01:46.600000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:46.700000</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

# Day 3 (01/07/2017)
## Section 4 (Morning)

## SS11 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS11 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:14.500000</td>
      <td>00:02:40.100000</td>
      <td>00:02:07.600000</td>
      <td>00:08:02.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:13</td>
      <td>00:02:39.600000</td>
      <td>00:02:10.400000</td>
      <td>00:08:03</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:15.400000</td>
      <td>00:02:42.400000</td>
      <td>00:02:06.500000</td>
      <td>00:08:04.300000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:13.900000</td>
      <td>00:02:39.900000</td>
      <td>00:02:10.900000</td>
      <td>00:08:04.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:16.800000</td>
      <td>00:02:43</td>
      <td>00:02:08.300000</td>
      <td>00:08:08.100000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:13.300000</td>
      <td>00:02:45.600000</td>
      <td>00:02:09.900000</td>
      <td>00:08:08.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:16</td>
      <td>00:02:41.500000</td>
      <td>00:02:11.300000</td>
      <td>00:08:08.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:18</td>
      <td>00:02:45.700000</td>
      <td>00:02:09.300000</td>
      <td>00:08:13</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:19.300000</td>
      <td>00:02:44.900000</td>
      <td>00:02:10</td>
      <td>00:08:14.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:17.500000</td>
      <td>00:02:41.800000</td>
      <td>00:02:15.600000</td>
      <td>00:08:14.900000</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS12 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS12 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:07.400000</td>
      <td>00:02:36.900000</td>
      <td>00:03:36.600000</td>
      <td>00:01:18.900000</td>
      <td>00:10:39.800000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:07.100000</td>
      <td>00:02:37.500000</td>
      <td>00:03:38.900000</td>
      <td>00:01:19.300000</td>
      <td>00:10:42.800000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:09.500000</td>
      <td>00:02:38.400000</td>
      <td>00:03:36</td>
      <td>00:01:19.900000</td>
      <td>00:10:43.800000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:10.900000</td>
      <td>00:02:39.500000</td>
      <td>00:03:35.600000</td>
      <td>00:01:19.900000</td>
      <td>00:10:45.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:11.100000</td>
      <td>00:02:40.400000</td>
      <td>00:03:38.100000</td>
      <td>00:01:21.100000</td>
      <td>00:10:50.700000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:10.500000</td>
      <td>00:02:43.100000</td>
      <td>00:03:40.100000</td>
      <td>00:01:19</td>
      <td>00:10:52.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:13.700000</td>
      <td>00:02:41.800000</td>
      <td>00:03:39.300000</td>
      <td>00:01:19.700000</td>
      <td>00:10:54.500000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:14.600000</td>
      <td>00:02:42.500000</td>
      <td>00:03:39.300000</td>
      <td>00:01:20.100000</td>
      <td>00:10:56.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:13.300000</td>
      <td>00:02:43.100000</td>
      <td>00:03:40.300000</td>
      <td>00:01:20</td>
      <td>00:10:56.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:13.500000</td>
      <td>00:02:41.800000</td>
      <td>00:03:42.100000</td>
      <td>00:01:19.700000</td>
      <td>00:10:57.100000</td>
    </tr>
  </tbody>
</table>

## SS12 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS13 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS13 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:53.900000</td>
      <td>00:03:30.200000</td>
      <td>00:07:24.100000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:55.800000</td>
      <td>00:03:29.700000</td>
      <td>00:07:25.500000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:56.900000</td>
      <td>00:03:29</td>
      <td>00:07:25.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:55.400000</td>
      <td>00:03:30.600000</td>
      <td>00:07:26</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:55.200000</td>
      <td>00:03:31.500000</td>
      <td>00:07:26.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:54.900000</td>
      <td>00:03:33.100000</td>
      <td>00:07:28</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:56.700000</td>
      <td>00:03:31.400000</td>
      <td>00:07:28.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:55.800000</td>
      <td>00:03:33.500000</td>
      <td>00:07:29.300000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:57.200000</td>
      <td>00:03:33.100000</td>
      <td>00:07:30.300000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:56.700000</td>
      <td>00:03:34.200000</td>
      <td>00:07:30.900000</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS14 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS14 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:27.700000</td>
      <td>00:03:11.900000</td>
      <td>00:03:28.900000</td>
      <td>00:10:08.500000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:30</td>
      <td>00:03:11.900000</td>
      <td>00:03:29.800000</td>
      <td>00:10:11.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:31</td>
      <td>00:03:12.600000</td>
      <td>00:03:29.300000</td>
      <td>00:10:12.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:29.700000</td>
      <td>00:03:13.800000</td>
      <td>00:03:31</td>
      <td>00:10:14.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:29.500000</td>
      <td>00:03:16.900000</td>
      <td>00:03:35</td>
      <td>00:10:21.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:31.300000</td>
      <td>00:03:16.100000</td>
      <td>00:03:35.100000</td>
      <td>00:10:22.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:30.100000</td>
      <td>00:03:15.900000</td>
      <td>00:03:36.800000</td>
      <td>00:10:22.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:33.800000</td>
      <td>00:03:18.700000</td>
      <td>00:03:32.600000</td>
      <td>00:10:25.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:32.300000</td>
      <td>00:03:18.700000</td>
      <td>00:03:34.300000</td>
      <td>00:10:25.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:32.700000</td>
      <td>00:03:17.700000</td>
      <td>00:03:35.900000</td>
      <td>00:10:26.300000</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

# Day 16 (01/07/2017)
## Section 5 (Afternoon/Evening)

## SS15 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS15 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:06.900000</td>
      <td>00:02:38.100000</td>
      <td>00:02:02.900000</td>
      <td>00:07:47.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:09</td>
      <td>00:02:38.900000</td>
      <td>00:02:01.700000</td>
      <td>00:07:49.600000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:10.100000</td>
      <td>00:02:38</td>
      <td>00:02:03.600000</td>
      <td>00:07:51.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:10</td>
      <td>00:02:38</td>
      <td>00:02:04.900000</td>
      <td>00:07:52.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:11.900000</td>
      <td>00:02:39.100000</td>
      <td>00:02:02.900000</td>
      <td>00:07:53.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:09.700000</td>
      <td>00:02:42.100000</td>
      <td>00:02:03.800000</td>
      <td>00:07:55.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:11</td>
      <td>00:02:40.100000</td>
      <td>00:02:06.800000</td>
      <td>00:07:57.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:13.100000</td>
      <td>00:02:41.600000</td>
      <td>00:02:05.100000</td>
      <td>00:07:59.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:12</td>
      <td>00:02:40.200000</td>
      <td>00:02:08.200000</td>
      <td>00:08:00.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:12.100000</td>
      <td>00:02:41.900000</td>
      <td>00:02:07.300000</td>
      <td>00:08:01.300000</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS16 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS16 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:02.100000</td>
      <td>00:02:31.800000</td>
      <td>00:03:29.500000</td>
      <td>00:01:20</td>
      <td>00:10:23.400000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:04.400000</td>
      <td>00:02:35.900000</td>
      <td>00:03:27.100000</td>
      <td>00:01:18.700000</td>
      <td>00:10:26.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:05.100000</td>
      <td>00:02:36</td>
      <td>00:03:28.500000</td>
      <td>00:01:18.600000</td>
      <td>00:10:28.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:02</td>
      <td>00:02:34.500000</td>
      <td>00:03:32.400000</td>
      <td>00:01:20</td>
      <td>00:10:28.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:06.800000</td>
      <td>00:02:37.100000</td>
      <td>00:03:29.200000</td>
      <td>00:01:19.800000</td>
      <td>00:10:32.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:06.100000</td>
      <td>00:02:36.100000</td>
      <td>00:03:32.900000</td>
      <td>00:01:18.600000</td>
      <td>00:10:33.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:06.600000</td>
      <td>00:02:39.800000</td>
      <td>00:03:28</td>
      <td>00:01:20</td>
      <td>00:10:34.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:07.800000</td>
      <td>00:02:38.200000</td>
      <td>00:03:28.300000</td>
      <td>00:01:20.800000</td>
      <td>00:10:35.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:06.500000</td>
      <td>00:02:37.100000</td>
      <td>00:03:32.800000</td>
      <td>00:01:19.300000</td>
      <td>00:10:35.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:07.300000</td>
      <td>00:02:39.500000</td>
      <td>00:03:34.200000</td>
      <td>00:01:19.600000</td>
      <td>00:10:40.600000</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS17 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS17 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:55.900000</td>
      <td>00:03:24.900000</td>
      <td>00:07:20.800000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:54.900000</td>
      <td>00:03:26.400000</td>
      <td>00:07:21.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:56.100000</td>
      <td>00:03:27.900000</td>
      <td>00:07:24</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:57</td>
      <td>00:03:28.400000</td>
      <td>00:07:25.400000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:54.800000</td>
      <td>00:03:31</td>
      <td>00:07:25.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:58</td>
      <td>00:03:28.500000</td>
      <td>00:07:26.500000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:56.500000</td>
      <td>00:03:31.100000</td>
      <td>00:07:27.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:57.100000</td>
      <td>00:03:31.600000</td>
      <td>00:07:28.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:58.400000</td>
      <td>00:03:30.700000</td>
      <td>00:07:29.100000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:00</td>
      <td>00:03:29.600000</td>
      <td>00:07:29.600000</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS18 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS18 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:23.400000</td>
      <td>00:03:10.300000</td>
      <td>00:03:28.400000</td>
      <td>00:10:02.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:24.200000</td>
      <td>00:03:10.900000</td>
      <td>00:03:27.500000</td>
      <td>00:10:02.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:25.300000</td>
      <td>00:03:09.200000</td>
      <td>00:03:30.300000</td>
      <td>00:10:04.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:26.600000</td>
      <td>00:03:10.800000</td>
      <td>00:03:28.100000</td>
      <td>00:10:05.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:25.900000</td>
      <td>00:03:10.200000</td>
      <td>00:03:29.500000</td>
      <td>00:10:05.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:27.100000</td>
      <td>00:03:11.700000</td>
      <td>00:03:30.400000</td>
      <td>00:10:09.200000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:28.100000</td>
      <td>00:03:11.900000</td>
      <td>00:03:29.400000</td>
      <td>00:10:09.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:26.800000</td>
      <td>00:03:12</td>
      <td>00:03:31.100000</td>
      <td>00:10:09.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:27</td>
      <td>00:03:12.900000</td>
      <td>00:03:30.800000</td>
      <td>00:10:10.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:26.900000</td>
      <td>00:03:13.200000</td>
      <td>00:03:31.200000</td>
      <td>00:10:11.300000</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS19 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS19 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:44.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:44.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:01:44.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:45</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:45</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:45.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:01:45.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:45.700000</td>
    </tr>
  </tbody>
</table>

## SS19 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

# Day 4 (02/07/2017)
## Section 6 (Morning)

## SS20 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS20.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS20 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:42.700000</td>
      <td>00:02:27.600000</td>
      <td>00:06:10.300000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:45.600000</td>
      <td>00:02:29.600000</td>
      <td>00:06:15.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:54.200000</td>
      <td>00:02:29.400000</td>
      <td>00:06:23.600000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:55.400000</td>
      <td>00:02:30.500000</td>
      <td>00:06:25.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:55.700000</td>
      <td>00:02:31.800000</td>
      <td>00:06:27.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:56.800000</td>
      <td>00:02:33.400000</td>
      <td>00:06:30.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:57.200000</td>
      <td>00:02:36.200000</td>
      <td>00:06:33.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:58.900000</td>
      <td>00:02:34.800000</td>
      <td>00:06:33.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:00.600000</td>
      <td>00:02:33.900000</td>
      <td>00:06:34.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:04:02.100000</td>
      <td>00:02:33.300000</td>
      <td>00:06:35.400000</td>
    </tr>
  </tbody>
</table>

## SS20 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS20.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS21 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS21.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS21 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:09.600000</td>
      <td>00:03:18.800000</td>
      <td>00:02:29.700000</td>
      <td>00:08:58.100000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:12.500000</td>
      <td>00:03:23.100000</td>
      <td>00:02:31.300000</td>
      <td>00:09:06.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:12.800000</td>
      <td>00:03:32.100000</td>
      <td>00:02:31.900000</td>
      <td>00:09:16.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:16.900000</td>
      <td>00:03:29.800000</td>
      <td>00:02:33.100000</td>
      <td>00:09:19.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:15.800000</td>
      <td>00:03:30.400000</td>
      <td>00:02:34.700000</td>
      <td>00:09:20.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:14.900000</td>
      <td>00:03:32.700000</td>
      <td>00:02:33.400000</td>
      <td>00:09:21</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:18.300000</td>
      <td>00:03:29.400000</td>
      <td>00:02:35</td>
      <td>00:09:22.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:18.100000</td>
      <td>00:03:32.500000</td>
      <td>00:02:35.800000</td>
      <td>00:09:26.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:22.200000</td>
      <td>00:03:30.900000</td>
      <td>00:02:35.300000</td>
      <td>00:09:28.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:18.500000</td>
      <td>00:03:34</td>
      <td>00:02:35.900000</td>
      <td>00:09:28.400000</td>
    </tr>
  </tbody>
</table>

## SS21 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS21.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*

## SS22 - stage sector delta time (seconds) compared to H. PADDON stage sector time

![](./chart_stage_sector_delta4_SS22.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage), rebased relative to car 4.*

## SS22 - stage sector time (seconds)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:33.700000</td>
      <td>00:02:28.900000</td>
      <td>00:06:02.600000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:36.200000</td>
      <td>00:02:26.900000</td>
      <td>00:06:03.100000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:35.100000</td>
      <td>00:02:29.700000</td>
      <td>00:06:04.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:34</td>
      <td>00:02:33.700000</td>
      <td>00:06:07.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:37.700000</td>
      <td>00:02:30.500000</td>
      <td>00:06:08.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:39.400000</td>
      <td>00:02:29.700000</td>
      <td>00:06:09.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:40.800000</td>
      <td>00:02:30.600000</td>
      <td>00:06:11.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:39.700000</td>
      <td>00:02:32.300000</td>
      <td>00:06:12</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:40.800000</td>
      <td>00:02:31.500000</td>
      <td>00:06:12.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:40.200000</td>
      <td>00:02:34.500000</td>
      <td>00:06:14.700000</td>
    </tr>
  </tbody>
</table>

## SS22 - stage split delta time (seconds) compared to H. PADDON

![](./split_delta_driver4_SS22.png)

*This chart allows you to compare the __on stage__ performance of each driver, with split times rebased relative to car 4 on stage.*