# WRC Rally - Finland, 2017

# Day 1 (27/07/2017)
## Section 1 (Evening)

## SS1 Harju
 ### Distance: 2.31 km
 
First car 19:00

*A short stage with no splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
   35|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   36|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   37|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   38|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   39|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
   40|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   41|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   42|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   43|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
   44|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
   45|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
   46|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   47|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   48|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   49|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 1:

In stage SS1, M-Sport World Rally Team's O. TÄNAK (EST) and co-driver M. JÄRVEOJA (EST) took the stage, and the lead of the rally, with a time of 1:44.1, +1.1 ahead of second on stage T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport).



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:44.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.2</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.6</td>
      <td>+0.4</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:45.7</td>
      <td>+0.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:46.3</td>
      <td>+0.6</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:46.6</td>
      <td>+0.3</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:46.8</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:47.1</td>
      <td>+0.3</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:47.2</td>
      <td>+0.1</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:47.6</td>
      <td>+0.4</td>
      <td>+3.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:44.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.2</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.6</td>
      <td>+0.4</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:45.7</td>
      <td>+0.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:46.3</td>
      <td>+0.6</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:46.6</td>
      <td>+0.3</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:46.8</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:47.1</td>
      <td>+0.3</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:47.2</td>
      <td>+0.1</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:47.6</td>
      <td>+0.4</td>
      <td>+3.5</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS1 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>45</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:44.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>47</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.2</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>48</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.6</td>
      <td>+1.5</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>41</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:45.7</td>
      <td>+1.6</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>46</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:46.3</td>
      <td>+2.2</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>42</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:46.6</td>
      <td>+2.5</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>40</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:46.8</td>
      <td>+2.7</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>39</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:47.1</td>
      <td>+3.0</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>43</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:47.2</td>
      <td>+3.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>44</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:47.6</td>
      <td>+3.5</td>
      <td>+0.4</td>
    </tr>
  </tbody>
</table>

## SS1 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>45</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:01:44.100000</td>
    </tr>
    <tr>
      <th>47</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>48</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:45.600000</td>
    </tr>
    <tr>
      <th>41</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:01:45.700000</td>
    </tr>
    <tr>
      <th>46</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:46.300000</td>
    </tr>
    <tr>
      <th>42</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:46.600000</td>
    </tr>
    <tr>
      <th>40</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:46.800000</td>
    </tr>
    <tr>
      <th>39</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:47.100000</td>
    </tr>
    <tr>
      <th>43</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:47.200000</td>
    </tr>
    <tr>
      <th>44</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:47.600000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS1.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS1 - overall rally positions at end of stage

On the first completed stage, SS1, O. TÄNAK took the stage for M-Sport World Rally Team, and along with it the lead of the rally, going +1.1 ahead overall.

T. NEUVILLE, in the Hyundai i20 Coupe WRC, gained second place overall.

S. OGIER, in the Ford Fiesta WRC, moved into third place overall, +1.5 behind the overall rally leader and trailing T. NEUVILLE in second by +0.4.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:44.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.2</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.6</td>
      <td>+0.4</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:45.7</td>
      <td>+0.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:46.3</td>
      <td>+0.6</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:46.6</td>
      <td>+0.3</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:46.8</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:47.1</td>
      <td>+0.3</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:47.2</td>
      <td>+0.1</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:47.6</td>
      <td>+0.4</td>
      <td>+3.5</td>
    </tr>
  </tbody>
</table>

## SS1 - Overall rank evolution

## Full Overall Results at end of SS1

carNo| driverName  |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|------|-------:|--------:|----------:|--------:|-------:
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:44.1|        |         |          1|        1|       1
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:45.2|     1.1|      1.1|          2|        2|       2
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:45.6|     0.4|      1.5|          3|        3|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:45.7|     0.1|      1.6|          4|        4|       4
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:46.3|     0.6|      2.2|          5|        5|       5
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:46.6|     0.3|      2.5|          6|        6|       6
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:46.8|     0.2|      2.7|          7|        7|       7
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:47.1|     0.3|      3.0|          8|        8|       8
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:47.2|     0.1|      3.1|          9|        9|       9
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:47.6|     0.4|      3.5|         10|       10|      10
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:48.8|     1.2|      4.7|         11|       11|       1
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:49.5|     0.7|      5.4|         12|       12|       2
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:49.8|     0.3|      5.7|         13|       13|      11
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:54.5|     0.0|     10.4|         29|       14|      12
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:56.5|     0.5|     12.4|         33|       15|       1

# Day 2 (28/07/2017)
## Section 2 (Morning)

## SS2 Halinen
 ### Distance: 7.65 km
 
First car 07:12

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    4|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    8|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   13|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   14|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   15|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 2:

On stage SS2, and with their first stage win, T. SUNINEN (FIN) and M. MARKKULA (FIN) in the Ford Fiesta WRC took the stage by +0.1 from Citroën Total Abu Dhabi WRT's K. MEEKE (GBR) and P. NAGLE (IRL), in a time of 3:39.7.

O. TÄNAK (EST) and M. JÄRVEOJA (EST) in the Ford Fiesta WRC, seventh on stage with a time of 3:40.6, and +0.9 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>3:39.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:39.8</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:40.0</td>
      <td>+0.2</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:40.1</td>
      <td>+0.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:40.2</td>
      <td>+0.1</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>3:40.6</td>
      <td>+0.4</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>3:40.6</td>
      <td>+0.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:40.7</td>
      <td>+0.1</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>3:41.7</td>
      <td>+1.0</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:42.0</td>
      <td>+0.3</td>
      <td>+2.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>5:24.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>5:25.8</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>5:26.3</td>
      <td>+0.5</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:26.4</td>
      <td>+0.1</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>5:26.6</td>
      <td>+0.2</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>5:26.9</td>
      <td>+0.3</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>5:27.5</td>
      <td>+0.6</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>5:29.2</td>
      <td>+1.7</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>5:29.2</td>
      <td>+0.0</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:30.2</td>
      <td>+1.0</td>
      <td>+5.5</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS2 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-0.3</td>
      <td>3:39.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-0.1</td>
      <td>3:39.8</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-0.7</td>
      <td>3:40.0</td>
      <td>+0.3</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+0.2</td>
      <td>3:40.1</td>
      <td>+0.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:29.1</td>
      <td>3:40.2</td>
      <td>+0.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>+0.2</td>
      <td>3:40.6</td>
      <td>+0.9</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-0.1</td>
      <td>3:40.6</td>
      <td>+0.9</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-1.4</td>
      <td>3:40.7</td>
      <td>+1.0</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>+1.3</td>
      <td>3:41.7</td>
      <td>+2.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+0.9</td>
      <td>3:42.0</td>
      <td>+2.3</td>
      <td>+0.3</td>
    </tr>
  </tbody>
</table>

## SS2 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:02:28.800000</td>
      <td>00:01:10.900000</td>
      <td>00:03:39.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:29</td>
      <td>00:01:10.800000</td>
      <td>00:03:39.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:28.400000</td>
      <td>00:01:11.600000</td>
      <td>00:03:40</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:29.300000</td>
      <td>00:01:10.800000</td>
      <td>00:03:40.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:29.100000</td>
      <td>00:01:11.100000</td>
      <td>00:03:40.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:02:29.300000</td>
      <td>00:01:11.300000</td>
      <td>00:03:40.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:02:29</td>
      <td>00:01:11.600000</td>
      <td>00:03:40.600000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:27.700000</td>
      <td>00:01:13</td>
      <td>00:03:40.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:02:30.400000</td>
      <td>00:01:11.300000</td>
      <td>00:03:41.700000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:30</td>
      <td>00:01:12</td>
      <td>00:03:42</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS2.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS2 - overall rally positions at end of stage

Following stage SS2, O. TÄNAK continued in overall lead of the rally for M-Sport World Rally Team in the Ford Fiesta WRC, with a gap to second of +1.1.

S. OGIER, for M-Sport World Rally Team, took second place overall, gaining one position from third.

Previous second place overall, T. NEUVILLE in the Hyundai i20 Coupe WRC, fell back eight positions to tenth, +5.5 behind the leader.

C. BREEN, for Citroën Total Abu Dhabi WRT, moved to third place overall, up one place from fourth, +1.6 behind the overall rally leader and +0.5 behind second placed S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>5:24.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>5:25.8</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>5:26.3</td>
      <td>+0.5</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:26.4</td>
      <td>+0.1</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>5:26.6</td>
      <td>+0.2</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>5:26.9</td>
      <td>+0.3</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>5:27.5</td>
      <td>+0.6</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>5:29.2</td>
      <td>+1.7</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>5:29.2</td>
      <td>+0.0</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:30.2</td>
      <td>+1.0</td>
      <td>+5.5</td>
    </tr>
  </tbody>
</table>

## SS2 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS2.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS2.png)

### Stage position chart SS2

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS2.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS2

carNo| driverName  |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|------|-------:|--------:|----------:|--------:|-------:
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |5:24.7|        |         |          1|        1|       1
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |5:25.8|     1.1|      1.1|          2|        2|       2
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |5:26.3|     0.5|      1.6|          3|        3|       3
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |5:26.4|     0.1|      1.7|          4|        4|       4
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |5:26.6|     0.2|      1.9|          5|        5|       5
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |5:26.9|     0.3|      2.2|          6|        6|       6
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |5:27.5|     0.6|      2.8|          7|        7|       7
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |5:29.2|     1.7|      4.5|          8|        8|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |5:29.2|     0.0|      4.5|          9|        9|       8
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |5:30.2|     1.0|      5.5|         10|       10|       9
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |5:30.5|     0.3|      5.8|         11|       11|       2
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |5:32.9|     2.4|      8.2|         12|       12|      10
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |5:33.9|     1.0|      9.2|         13|       13|      11
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |5:57.5|     2.0|     32.8|         27|       14|      12
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |6:05.3|     0.1|     40.6|         32|       15|       1

## SS3 Urria
 ### Distance: 12.75 km
 
First car 07:45

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    4|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    8|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   13|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   14|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   15|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 3:

On stage SS3, and with their first stage win, Toyota Gazoo Racing WRT's J. LATVALA (FIN) and M. ANTTILA (FIN) took the stage by +0.1 from E. LAPPI (FIN) and J. FERM (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, in a time of 5:56.4.

O. TÄNAK (EST) and co-driver M. JÄRVEOJA (EST) for M-Sport World Rally Team in the Ford Fiesta WRC, fifth on stage with a time of 5:57.8, and +1.4 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:56.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>5:56.5</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>5:56.8</td>
      <td>+0.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>5:57.0</td>
      <td>+0.2</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>5:57.8</td>
      <td>+0.8</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>5:58.0</td>
      <td>+0.2</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>5:58.9</td>
      <td>+0.9</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>5:59.9</td>
      <td>+1.0</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>6:01.0</td>
      <td>+1.1</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>6:01.3</td>
      <td>+0.3</td>
      <td>+4.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>11:22.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>11:22.8</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>11:23.6</td>
      <td>+0.8</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>11:24.3</td>
      <td>+0.7</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>11:26.0</td>
      <td>+1.7</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>11:27.1</td>
      <td>+1.1</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>11:28.5</td>
      <td>+1.4</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>11:28.6</td>
      <td>+0.1</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>11:29.1</td>
      <td>+0.5</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>11:29.4</td>
      <td>+0.3</td>
      <td>+6.9</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS3 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-5.6</td>
      <td>5:56.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-3.3</td>
      <td>5:56.5</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-5.0</td>
      <td>5:56.8</td>
      <td>+0.4</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-5.4</td>
      <td>5:57.0</td>
      <td>+0.6</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-4.1</td>
      <td>5:57.8</td>
      <td>+1.4</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-3.9</td>
      <td>5:58.0</td>
      <td>+1.6</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>-4.0</td>
      <td>5:58.9</td>
      <td>+2.5</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-2.5</td>
      <td>5:59.9</td>
      <td>+3.5</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-1.1</td>
      <td>6:01.0</td>
      <td>+4.6</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:17.9</td>
      <td>6:01.3</td>
      <td>+4.9</td>
      <td>+0.3</td>
    </tr>
  </tbody>
</table>

## SS3 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:12.300000</td>
      <td>00:02:44.100000</td>
      <td>00:05:56.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:14.600000</td>
      <td>00:02:41.900000</td>
      <td>00:05:56.500000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:12.900000</td>
      <td>00:02:43.900000</td>
      <td>00:05:56.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:12.500000</td>
      <td>00:02:44.500000</td>
      <td>00:05:57</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:13.800000</td>
      <td>00:02:44</td>
      <td>00:05:57.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:14</td>
      <td>00:02:44</td>
      <td>00:05:58</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:03:13.900000</td>
      <td>00:02:45</td>
      <td>00:05:58.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:15.400000</td>
      <td>00:02:44.500000</td>
      <td>00:05:59.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:16.800000</td>
      <td>00:02:44.200000</td>
      <td>00:06:01</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:17.900000</td>
      <td>00:02:43.400000</td>
      <td>00:06:01.300000</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS3.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS3 - overall rally positions at end of stage

At the end of stage SS3, O. TÄNAK continued in overall lead of the rally for M-Sport World Rally Team, +0.3 ahead of second.

J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, moved up into second place overall, up two places from fourth.

Previous second place overall, S. OGIER for M-Sport World Rally Team in the Ford Fiesta WRC, fell back four positions to sixth, +4.6 behind the leader.

H. PADDON, in the Hyundai i20 Coupe WRC, took third place overall, up two positions from fifth, +1.1 behind the overall rally leader and trailing second placed J. LATVALA by +0.8.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>11:22.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>11:22.8</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>11:23.6</td>
      <td>+0.8</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>11:24.3</td>
      <td>+0.7</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>11:26.0</td>
      <td>+1.7</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>11:27.1</td>
      <td>+1.1</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>11:28.5</td>
      <td>+1.4</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>11:28.6</td>
      <td>+0.1</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>11:29.1</td>
      <td>+0.5</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>11:29.4</td>
      <td>+0.3</td>
      <td>+6.9</td>
    </tr>
  </tbody>
</table>

## SS3 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS3.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS3.png)

### Stage position chart SS3

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS3.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS3

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |11:22.5|        |         |          1|        1|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |11:22.8|     0.3|0.3      |          2|        2|       2
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |11:23.6|     0.8|1.1      |          3|        3|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |11:24.3|     0.7|1.8      |          4|        4|       4
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |11:26.0|     1.7|3.5      |          5|        5|       1
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |11:27.1|     1.1|4.6      |          6|        6|       5
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |11:28.5|     1.4|6        |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |11:28.6|     0.1|6.1      |          8|        8|       7
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |11:29.1|     0.5|6.6      |          9|        9|       8
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |11:29.4|     0.3|6.9      |         10|       10|       9
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |11:29.4|     0.0|6.9      |         11|       11|       2
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |11:33.1|     3.7|10.6     |         12|       12|      10
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |11:39.5|     6.4|17       |         13|       13|      11
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |12:29.5|     1.7|+1:07.0  |         24|       14|      12
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |12:35.4|     2.0|+1:12.9  |         27|       15|       1

## SS4 Jukoj&#228;rvi
 ### Distance: 21.31 km
 
First car 08:48

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
  NaN|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    4|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
  NaN|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    8|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   13|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   14|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   15|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 4:

In stage SS4, E. LAPPI (FIN) and co-driver J. FERM (FIN) for Toyota Gazoo Racing WRT took the stage, their first stage win, in a time of 10:06.3, +1.3 ahead of J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) (Toyota Gazoo Racing WRT).

J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) (Toyota Gazoo Racing WRT) was second on the stage and took overall lead of the rally from O. TÄNAK (EST) and M. JÄRVEOJA (EST) (M-Sport World Rally Team).



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>10:06.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:07.6</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>10:11.9</td>
      <td>+4.3</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:12.7</td>
      <td>+0.8</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>10:13.6</td>
      <td>+0.9</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>10:14.2</td>
      <td>+0.6</td>
      <td>+7.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>10:14.6</td>
      <td>+0.4</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:15.3</td>
      <td>+0.7</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:16.7</td>
      <td>+1.4</td>
      <td>+10.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:25.3</td>
      <td>+8.6</td>
      <td>+19.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>21:30.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>21:35.7</td>
      <td>+5.3</td>
      <td>+5.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>21:38.5</td>
      <td>+2.8</td>
      <td>+8.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>21:38.7</td>
      <td>+0.2</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>21:41.3</td>
      <td>+2.6</td>
      <td>+10.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>21:42.1</td>
      <td>+0.8</td>
      <td>+11.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>21:43.2</td>
      <td>+1.1</td>
      <td>+12.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>21:44.4</td>
      <td>+1.2</td>
      <td>+14.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>21:49.8</td>
      <td>+5.4</td>
      <td>+19.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>22:04.8</td>
      <td>+15.0</td>
      <td>+34.4</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS4 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-2.8</td>
      <td>-6.6</td>
      <td>10:06.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.8</td>
      <td>-5.3</td>
      <td>10:07.6</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>-1.7</td>
      <td>-3.1</td>
      <td>10:11.9</td>
      <td>+5.6</td>
      <td>+4.3</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+1.4</td>
      <td>-1.5</td>
      <td>10:12.7</td>
      <td>+6.4</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-0.3</td>
      <td>-0.9</td>
      <td>10:13.6</td>
      <td>+7.3</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>+1.1</td>
      <td>-0.5</td>
      <td>10:14.2</td>
      <td>+7.9</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+1.8</td>
      <td>+0.4</td>
      <td>10:14.6</td>
      <td>+8.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+0.0</td>
      <td>+1.3</td>
      <td>10:15.3</td>
      <td>+9.0</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+2.0</td>
      <td>+2.2</td>
      <td>10:16.7</td>
      <td>+10.4</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+2.3</td>
      <td>+3.6</td>
      <td>10:25.3</td>
      <td>+19.0</td>
      <td>+8.6</td>
    </tr>
  </tbody>
</table>

## SS4 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:12.400000</td>
      <td>00:03:13.600000</td>
      <td>00:03:40.300000</td>
      <td>00:10:06.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:12.400000</td>
      <td>00:03:14.900000</td>
      <td>00:03:40.300000</td>
      <td>00:10:07.600000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:03:13.500000</td>
      <td>00:03:16</td>
      <td>00:03:42.400000</td>
      <td>00:10:11.900000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:16.600000</td>
      <td>00:03:14.500000</td>
      <td>00:03:41.600000</td>
      <td>00:10:12.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:14.900000</td>
      <td>00:03:16.800000</td>
      <td>00:03:41.900000</td>
      <td>00:10:13.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:16.300000</td>
      <td>00:03:15.800000</td>
      <td>00:03:42.100000</td>
      <td>00:10:14.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:17</td>
      <td>00:03:16</td>
      <td>00:03:41.600000</td>
      <td>00:10:14.600000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:15.200000</td>
      <td>00:03:18.700000</td>
      <td>00:03:41.400000</td>
      <td>00:10:15.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:17.200000</td>
      <td>00:03:17.600000</td>
      <td>00:03:41.900000</td>
      <td>00:10:16.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:17.500000</td>
      <td>00:03:18.700000</td>
      <td>00:03:49.100000</td>
      <td>00:10:25.300000</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS4.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS4 - overall rally positions at end of stage

By the end of a disastrous stage SS4 for previous overall leader O. TÄNAK, J. LATVALA for Toyota Gazoo Racing WRT moved forward one place, from second at end of the previous stage, to take overall lead of the rally, from E. LAPPI for Toyota Gazoo Racing WRT +5.3 ahead.

The overall leader from the previous stage, O. TÄNAK, for M-Sport World Rally Team in the Ford Fiesta WRC, moved back twelve positions to thirteenth, putting him +1:34.4 behind the overall leader.

E. LAPPI, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, moved up into second place overall, gaining eight places from tenth.

C. BREEN, in the Citroën C3 WRC, moved into third place overall, up one position from fourth, +8.1 behind the overall rally leader and +2.8 behind E. LAPPI.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>21:30.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>21:35.7</td>
      <td>+5.3</td>
      <td>+5.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>21:38.5</td>
      <td>+2.8</td>
      <td>+8.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>21:38.7</td>
      <td>+0.2</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>21:41.3</td>
      <td>+2.6</td>
      <td>+10.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>21:42.1</td>
      <td>+0.8</td>
      <td>+11.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>21:43.2</td>
      <td>+1.1</td>
      <td>+12.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>21:44.4</td>
      <td>+1.2</td>
      <td>+14.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>21:49.8</td>
      <td>+5.4</td>
      <td>+19.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>22:04.8</td>
      <td>+15.0</td>
      <td>+34.4</td>
    </tr>
  </tbody>
</table>

## SS4 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS4.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS4.png)

### Stage position chart SS4

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS4.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS4

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |21:30.4|        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |21:35.7|     5.3|5.3      |          2|        2|       2
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |21:38.5|     2.8|8.1      |          3|        3|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |21:38.7|     0.2|8.3      |          4|        4|       1
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |21:41.3|     2.6|10.9     |          5|        5|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |21:42.1|     0.8|11.7     |          6|        6|       4
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |21:43.2|     1.1|12.8     |          7|        7|       5
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |21:44.4|     1.2|14       |          8|        8|       6
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |21:49.8|     5.4|19.4     |          9|        9|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |22:04.8|    15.0|34.4     |         10|       10|       8
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |23:04.8|     3.3|+1:34.4  |         13|       11|       9
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |23:37.6|     1.7|+2:07.2  |         22|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |23:41.8|     4.0|+2:11.4  |         24|       13|       1
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |28:29.9|    26.6|+6:59.5  |         53|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |28:33.4|     3.5|+7:03.0  |         54|       15|      12

## SS5 Halinen
 ### Distance: 7.65 km
*Rerun of stage SS2* 
First car 10:06

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   11|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   12|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 5:

In stage SS5, E. LAPPI (FIN) and co-driver J. FERM (FIN) for Toyota Gazoo Racing WRT took the stage, giving them their second stage win, in a time of 3:36.5.

In second place on stage, +0.1 behind, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>3:36.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:36.6</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>3:37.0</td>
      <td>+0.4</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>3:37.2</td>
      <td>+0.2</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>3:37.2</td>
      <td>+0.0</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>3:37.4</td>
      <td>+0.2</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:37.4</td>
      <td>+0.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:38.5</td>
      <td>+1.1</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:38.6</td>
      <td>+0.1</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:38.8</td>
      <td>+0.2</td>
      <td>+2.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>25:07.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>25:12.2</td>
      <td>+5.2</td>
      <td>+5.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>25:15.7</td>
      <td>+3.5</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>25:15.9</td>
      <td>+0.2</td>
      <td>+8.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>25:18.3</td>
      <td>+2.4</td>
      <td>+11.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>25:20.6</td>
      <td>+2.3</td>
      <td>+13.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>25:20.9</td>
      <td>+0.3</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>25:23.0</td>
      <td>+2.1</td>
      <td>+16.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>25:29.8</td>
      <td>+6.8</td>
      <td>+22.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>25:43.3</td>
      <td>+13.5</td>
      <td>+36.3</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS5 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-2.3</td>
      <td>3:36.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.2</td>
      <td>3:36.6</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>-2.0</td>
      <td>3:37.0</td>
      <td>+0.5</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-2.0</td>
      <td>3:37.2</td>
      <td>+0.7</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-4.3</td>
      <td>3:37.2</td>
      <td>+0.7</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-1.8</td>
      <td>3:37.4</td>
      <td>+0.9</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-1.6</td>
      <td>3:37.4</td>
      <td>+0.9</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.7</td>
      <td>3:38.5</td>
      <td>+2.0</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-2.6</td>
      <td>3:38.6</td>
      <td>+2.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-1.0</td>
      <td>3:38.8</td>
      <td>+2.3</td>
      <td>+0.2</td>
    </tr>
  </tbody>
</table>

## SS5 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:02:27</td>
      <td>00:01:09.500000</td>
      <td>00:03:36.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:27.100000</td>
      <td>00:01:09.500000</td>
      <td>00:03:36.600000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:02:27.300000</td>
      <td>00:01:09.700000</td>
      <td>00:03:37</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:02:27.300000</td>
      <td>00:01:09.900000</td>
      <td>00:03:37.200000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:02:25</td>
      <td>00:01:12.200000</td>
      <td>00:03:37.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:27.700000</td>
      <td>00:01:09.700000</td>
      <td>00:03:37.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:02:27.500000</td>
      <td>00:01:09.900000</td>
      <td>00:03:37.400000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:27.600000</td>
      <td>00:01:10.900000</td>
      <td>00:03:38.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:26.700000</td>
      <td>00:01:11.900000</td>
      <td>00:03:38.600000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:28.300000</td>
      <td>00:01:10.500000</td>
      <td>00:03:38.800000</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS5.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS5 - overall rally positions at end of stage

At the end of stage SS5, J. LATVALA continued in overall lead of the rally for Toyota Gazoo Racing WRT, with a gap to second of +5.2.

E. LAPPI, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained second place overall.

C. BREEN, for Citroën Total Abu Dhabi WRT in the Citroën C3 WRC, retained third place overall, +8.7 behind the overall rally leader and +3.5 behind E. LAPPI in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>25:07.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>25:12.2</td>
      <td>+5.2</td>
      <td>+5.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>25:15.7</td>
      <td>+3.5</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>25:15.9</td>
      <td>+0.2</td>
      <td>+8.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>25:18.3</td>
      <td>+2.4</td>
      <td>+11.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>25:20.6</td>
      <td>+2.3</td>
      <td>+13.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>25:20.9</td>
      <td>+0.3</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>25:23.0</td>
      <td>+2.1</td>
      <td>+16.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>25:29.8</td>
      <td>+6.8</td>
      <td>+22.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>25:43.3</td>
      <td>+13.5</td>
      <td>+36.3</td>
    </tr>
  </tbody>
</table>

## SS5 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS5.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS5.png)

### Stage position chart SS5

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS5.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS5

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |25:07.0|        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |25:12.2|5.2     |5.2      |          2|        2|       2
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |25:15.7|3.5     |8.7      |          3|        3|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |25:15.9|0.2     |8.9      |          4|        4|       1
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |25:18.3|2.4     |11.3     |          5|        5|       2
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |25:20.6|2.3     |13.6     |          6|        6|       4
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |25:20.9|0.3     |13.9     |          7|        7|       5
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |25:23.0|2.1     |16       |          8|        8|       6
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |25:29.8|6.8     |22.8     |          9|        9|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |25:43.3|13.5    |36.3     |         10|       10|       8
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |26:42.2|58.9    |+1:35.2  |         11|       11|       9
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |27:34.2|0.9     |+2:27.2  |         22|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |27:39.6|4.6     |+2:32.6  |         24|       13|       1
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |39:06.4|+1:18.3 |+13:59.4 |         56|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |39:09.9|3.5     |+14:02.9 |         57|       15|      12

## SS6 Urria
 ### Distance: 12.75 km
*Rerun of stage SS3* 
First car 10:39

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   11|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   12|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 6:

On stage SS6, and with their third stage win, E. LAPPI (FIN) and J. FERM (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC took the stage by +1.8 from O. TÄNAK (EST) and M. JÄRVEOJA (EST) for M-Sport World Rally Team in the Ford Fiesta WRC, in a time of 5:49.7.

J. LATVALA (FIN) and M. ANTTILA (FIN) in the Toyota Yaris WRC, fourth on stage with a time of 5:52.7, and +3.0 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>5:49.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>5:51.5</td>
      <td>+1.8</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>5:51.9</td>
      <td>+0.4</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:52.7</td>
      <td>+0.8</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>5:53.0</td>
      <td>+0.3</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>5:53.0</td>
      <td>+0.0</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>5:53.1</td>
      <td>+0.1</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>5:54.1</td>
      <td>+1.0</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>5:54.4</td>
      <td>+0.3</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:55.9</td>
      <td>+1.5</td>
      <td>+6.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>30:59.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>31:01.9</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>31:08.7</td>
      <td>+6.8</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>31:09.0</td>
      <td>+0.3</td>
      <td>+9.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>31:10.2</td>
      <td>+1.2</td>
      <td>+10.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>31:13.9</td>
      <td>+3.7</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>31:14.7</td>
      <td>+0.8</td>
      <td>+15.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>31:17.4</td>
      <td>+2.7</td>
      <td>+17.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>31:25.7</td>
      <td>+8.3</td>
      <td>+26.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>31:39.5</td>
      <td>+13.8</td>
      <td>+39.8</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS6 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-2.8</td>
      <td>5:49.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-2.8</td>
      <td>5:51.5</td>
      <td>+1.8</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>-2.3</td>
      <td>5:51.9</td>
      <td>+2.2</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-1.7</td>
      <td>5:52.7</td>
      <td>+3.0</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-1.0</td>
      <td>5:53.0</td>
      <td>+3.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-1.7</td>
      <td>5:53.0</td>
      <td>+3.3</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-3.1</td>
      <td>5:53.1</td>
      <td>+3.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-1.0</td>
      <td>5:54.1</td>
      <td>+4.4</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-1.0</td>
      <td>5:54.4</td>
      <td>+4.7</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:13.1</td>
      <td>5:55.9</td>
      <td>+6.2</td>
      <td>+1.5</td>
    </tr>
  </tbody>
</table>

## SS6 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:10.300000</td>
      <td>00:02:39.400000</td>
      <td>00:05:49.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:10.300000</td>
      <td>00:02:41.200000</td>
      <td>00:05:51.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:03:10.800000</td>
      <td>00:02:41.100000</td>
      <td>00:05:51.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:11.400000</td>
      <td>00:02:41.300000</td>
      <td>00:05:52.700000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:12.100000</td>
      <td>00:02:40.900000</td>
      <td>00:05:53</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:11.400000</td>
      <td>00:02:41.600000</td>
      <td>00:05:53</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:10</td>
      <td>00:02:43.100000</td>
      <td>00:05:53.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:12.100000</td>
      <td>00:02:42</td>
      <td>00:05:54.100000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:12.100000</td>
      <td>00:02:42.300000</td>
      <td>00:05:54.400000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:13.100000</td>
      <td>00:02:42.800000</td>
      <td>00:05:55.900000</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS6.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS6 - overall rally positions at end of stage

Following stage SS6, J. LATVALA continued to lead the rally for Toyota Gazoo Racing WRT, commanding a lead of +2.2.

E. LAPPI, in the Toyota Yaris WRC, retained second place overall.

C. BREEN, for Citroën Total Abu Dhabi WRT, retained third place overall, +9.0 behind the overall rally leader and +6.8 behind E. LAPPI in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>30:59.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>31:01.9</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>31:08.7</td>
      <td>+6.8</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>31:09.0</td>
      <td>+0.3</td>
      <td>+9.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>31:10.2</td>
      <td>+1.2</td>
      <td>+10.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>31:13.9</td>
      <td>+3.7</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>31:14.7</td>
      <td>+0.8</td>
      <td>+15.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>31:17.4</td>
      <td>+2.7</td>
      <td>+17.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>31:25.7</td>
      <td>+8.3</td>
      <td>+26.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>31:39.5</td>
      <td>+13.8</td>
      <td>+39.8</td>
    </tr>
  </tbody>
</table>

## SS6 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS6.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS6.png)

### Stage position chart SS6

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS6.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS6

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |30:59.7|        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |31:01.9|     2.2|2.2      |          2|        2|       2
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |31:08.7|     6.8|9        |          3|        3|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |31:09.0|     0.3|9.3      |          4|        4|       1
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |31:10.2|     1.2|10.5     |          5|        5|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |31:13.9|     3.7|14.2     |          6|        6|       4
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |31:14.7|     0.8|15       |          7|        7|       5
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |31:17.4|     2.7|17.7     |          8|        8|       6
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |31:25.7|     8.3|26       |          9|        9|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |31:39.5|    13.8|39.8     |         10|       10|       8
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |32:33.7|    54.2|+1:34.0  |         11|       11|       9
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |33:52.1|     5.8|+2:52.4  |         21|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |34:01.5|     3.9|+3:01.8  |         23|       13|       1
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |51:56.1|    15.1|+20:56.4 |         58|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |51:59.6|     1.4|+20:59.9 |         60|       15|      12

## SS7 Jukoj&#228;rvi
 ### Distance: 21.31 km
*Rerun of stage SS4* 
First car 11:42

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   11|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   12|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 7:

In stage SS7, Toyota Gazoo Racing WRT's E. LAPPI (FIN) and co-driver J. FERM (FIN) took the stage, giving them their fourth stage win, in a time of 9:57.2.

In second place on stage, +0.6 behind, J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT) retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>9:57.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>9:57.8</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>10:01.1</td>
      <td>+3.3</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:02.6</td>
      <td>+1.5</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:02.8</td>
      <td>+0.2</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>10:03.0</td>
      <td>+0.2</td>
      <td>+5.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>10:03.0</td>
      <td>+0.0</td>
      <td>+5.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>10:03.3</td>
      <td>+0.3</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>10:04.1</td>
      <td>+0.8</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:05.9</td>
      <td>+1.8</td>
      <td>+8.7</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>40:57.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>40:59.1</td>
      <td>+1.6</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>41:11.3</td>
      <td>+12.2</td>
      <td>+13.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>41:11.7</td>
      <td>+0.4</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>41:11.8</td>
      <td>+0.1</td>
      <td>+14.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>41:17.2</td>
      <td>+5.4</td>
      <td>+19.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>41:17.7</td>
      <td>+0.5</td>
      <td>+20.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>41:20.0</td>
      <td>+2.3</td>
      <td>+22.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>41:31.6</td>
      <td>+11.6</td>
      <td>+34.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>41:49.0</td>
      <td>+17.4</td>
      <td>+51.5</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS7 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-2.6</td>
      <td>-5.1</td>
      <td>9:57.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-4.1</td>
      <td>-6.5</td>
      <td>9:57.8</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>-3.5</td>
      <td>-4.6</td>
      <td>10:01.1</td>
      <td>+3.9</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-3.0</td>
      <td>-3.6</td>
      <td>10:02.6</td>
      <td>+5.4</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+0.9</td>
      <td>-2.4</td>
      <td>10:02.8</td>
      <td>+5.6</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-3.3</td>
      <td>-3.9</td>
      <td>10:03.0</td>
      <td>+5.8</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-1.7</td>
      <td>-2.3</td>
      <td>10:03.0</td>
      <td>+5.8</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-1.5</td>
      <td>-3.5</td>
      <td>10:03.3</td>
      <td>+6.1</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-1.0</td>
      <td>-2.7</td>
      <td>10:04.1</td>
      <td>+6.9</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:14.3</td>
      <td>00:06:27.9</td>
      <td>10:05.9</td>
      <td>+8.7</td>
      <td>+1.8</td>
    </tr>
  </tbody>
</table>

## SS7 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:11.700000</td>
      <td>00:03:11.100000</td>
      <td>00:03:34.400000</td>
      <td>00:09:57.200000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:10.200000</td>
      <td>00:03:11.200000</td>
      <td>00:03:36.400000</td>
      <td>00:09:57.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:03:10.800000</td>
      <td>00:03:12.500000</td>
      <td>00:03:37.800000</td>
      <td>00:10:01.100000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:11.300000</td>
      <td>00:03:13</td>
      <td>00:03:38.300000</td>
      <td>00:10:02.600000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:15.200000</td>
      <td>00:03:10.300000</td>
      <td>00:03:37.300000</td>
      <td>00:10:02.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:11</td>
      <td>00:03:13</td>
      <td>00:03:39</td>
      <td>00:10:03</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:12.600000</td>
      <td>00:03:13</td>
      <td>00:03:37.400000</td>
      <td>00:10:03</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:12.800000</td>
      <td>00:03:11.600000</td>
      <td>00:03:38.900000</td>
      <td>00:10:03.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:13.300000</td>
      <td>00:03:11.900000</td>
      <td>00:03:38.900000</td>
      <td>00:10:04.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:14.300000</td>
      <td>00:03:13.600000</td>
      <td>00:03:38</td>
      <td>00:10:05.900000</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS7.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS7 - overall rally positions at end of stage

At the end of stage SS7, J. LATVALA continued to lead the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, +1.6 ahead of second.

E. LAPPI, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained second place overall.

M. OSTBERG, for M-Sport World Rally Team in the Ford Fiesta WRC, moved up into third place overall, up two positions from fifth, +13.8 behind the overall rally leader and +12.2 behind second placed E. LAPPI.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>40:57.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>40:59.1</td>
      <td>+1.6</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>41:11.3</td>
      <td>+12.2</td>
      <td>+13.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>41:11.7</td>
      <td>+0.4</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>41:11.8</td>
      <td>+0.1</td>
      <td>+14.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>41:17.2</td>
      <td>+5.4</td>
      <td>+19.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>41:17.7</td>
      <td>+0.5</td>
      <td>+20.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>41:20.0</td>
      <td>+2.3</td>
      <td>+22.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>41:31.6</td>
      <td>+11.6</td>
      <td>+34.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>41:49.0</td>
      <td>+17.4</td>
      <td>+51.5</td>
    </tr>
  </tbody>
</table>

## SS7 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS7.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS7.png)

### Stage position chart SS7

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS7.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS7

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |40:57.5  |        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |40:59.1  |1.6     |1.6      |          2|        2|       2
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |41:11.3  |12.2    |13.8     |          3|        3|       1
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |41:11.7  |0.4     |14.2     |          4|        4|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |41:11.8  |0.1     |14.3     |          5|        5|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |41:17.2  |5.4     |19.7     |          6|        6|       4
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |41:17.7  |0.5     |20.2     |          7|        7|       5
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |41:20.0  |2.3     |22.5     |          8|        8|       6
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |41:31.6  |11.6    |34.1     |          9|        9|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |41:49.0  |17.4    |51.5     |         10|       10|       8
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |42:37.8  |48.8    |+1:40.3  |         11|       11|       9
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |44:46.6  |4       |+3:49.1  |         19|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |44:57.9  |4.9     |+4:00.4  |         22|       13|       1
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:08:53.3|+3:26.4 |+27:55.8 |         54|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:08:56.8|3.5     |+27:59.3 |         55|       15|      12

# Day 7 (28/07/2017)
## Section 3 (Afternoon/Evening/Night)

## SS8 &#196;&#228;nekoski-Valtra
 ### Distance: 7.39 km
 
First car 15:00

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   11|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   12|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 8:

On stage SS8, and with their second stage win, T. SUNINEN (FIN) and co-driver M. MARKKULA (FIN) for M-Sport World Rally Team took the stage by +0.2 from J. HÄNNINEN (FIN) and K. LINDSTRÖM (FIN) (Toyota Gazoo Racing WRT), in a time of 3:27.4.

J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT), third on stage with a time of 3:28.5, and +1.1 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>3:27.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:27.6</td>
      <td>+0.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:28.5</td>
      <td>+0.9</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>3:28.5</td>
      <td>+0.0</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>3:28.6</td>
      <td>+0.1</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>3:28.7</td>
      <td>+0.1</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>3:28.8</td>
      <td>+0.1</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:30.3</td>
      <td>+1.5</td>
      <td>+2.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:32.2</td>
      <td>+1.9</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:32.2</td>
      <td>+0.0</td>
      <td>+4.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>44:26.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>44:27.6</td>
      <td>+1.6</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>44:39.2</td>
      <td>+11.6</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>44:40.0</td>
      <td>+0.8</td>
      <td>+14.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>44:40.5</td>
      <td>+0.5</td>
      <td>+14.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>44:44.8</td>
      <td>+4.3</td>
      <td>+18.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>44:49.9</td>
      <td>+5.1</td>
      <td>+23.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>44:50.3</td>
      <td>+0.4</td>
      <td>+24.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>45:03.8</td>
      <td>+13.5</td>
      <td>+37.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>45:25.3</td>
      <td>+21.5</td>
      <td>+59.3</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS8 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-2.7</td>
      <td>3:27.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-2.9</td>
      <td>3:27.6</td>
      <td>+0.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-1.9</td>
      <td>3:28.5</td>
      <td>+1.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-2.2</td>
      <td>3:28.5</td>
      <td>+1.1</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-2.2</td>
      <td>3:28.6</td>
      <td>+1.2</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>-2.2</td>
      <td>3:28.7</td>
      <td>+1.3</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-1.3</td>
      <td>3:28.8</td>
      <td>+1.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-0.8</td>
      <td>3:30.3</td>
      <td>+2.9</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:59.0</td>
      <td>3:32.2</td>
      <td>+4.8</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-0.9</td>
      <td>3:32.2</td>
      <td>+4.8</td>
      <td>+1.9</td>
    </tr>
  </tbody>
</table>

## SS8 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 8, V. GORBAN lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:56.300000</td>
      <td>00:01:31.100000</td>
      <td>00:03:27.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:56.100000</td>
      <td>00:01:31.500000</td>
      <td>00:03:27.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:57.100000</td>
      <td>00:01:31.400000</td>
      <td>00:03:28.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:56.800000</td>
      <td>00:01:31.700000</td>
      <td>00:03:28.500000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:01:56.800000</td>
      <td>00:01:31.800000</td>
      <td>00:03:28.600000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:01:56.800000</td>
      <td>00:01:31.900000</td>
      <td>00:03:28.700000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:01:57.700000</td>
      <td>00:01:31.100000</td>
      <td>00:03:28.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:58.200000</td>
      <td>00:01:32.100000</td>
      <td>00:03:30.300000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:59</td>
      <td>00:01:33.200000</td>
      <td>00:03:32.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:58.100000</td>
      <td>00:01:34.100000</td>
      <td>00:03:32.200000</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS8.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS8 - overall rally positions at end of stage

After stage SS8, J. LATVALA retained overall lead of the rally for Toyota Gazoo Racing WRT, with a gap to second of +1.6.

E. LAPPI, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained second place overall.

T. SUNINEN, for M-Sport World Rally Team, moved to third place overall, up two positions from fifth, +13.2 behind the overall rally leader and trailing E. LAPPI in second by +11.6.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>44:26.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>44:27.6</td>
      <td>+1.6</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>44:39.2</td>
      <td>+11.6</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>44:40.0</td>
      <td>+0.8</td>
      <td>+14.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>44:40.5</td>
      <td>+0.5</td>
      <td>+14.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>44:44.8</td>
      <td>+4.3</td>
      <td>+18.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>44:49.9</td>
      <td>+5.1</td>
      <td>+23.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>44:50.3</td>
      <td>+0.4</td>
      <td>+24.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>45:03.8</td>
      <td>+13.5</td>
      <td>+37.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>45:25.3</td>
      <td>+21.5</td>
      <td>+59.3</td>
    </tr>
  </tbody>
</table>

## SS8 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS8.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS8.png)

### Stage position chart SS8

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS8.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS8

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |44:26.0|        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |44:27.6|     1.6|1.6      |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |44:39.2|    11.6|13.2     |          3|        3|       1
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |44:40.0|     0.8|14       |          4|        4|       2
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |44:40.5|     0.5|14.5     |          5|        5|       3
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |44:44.8|     4.3|18.8     |          6|        6|       4
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |44:49.9|     5.1|23.9     |          7|        7|       5
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |44:50.3|     0.4|24.3     |          8|        8|       6
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |45:03.8|    13.5|37.8     |          9|        9|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |45:25.3|    21.5|59.3     |         10|       10|       8
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |46:06.4|    41.1|+1:40.4  |         11|       11|       9
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |48:40.1|     3.4|+4:14.1  |         21|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |48:44.2|     4.1|+4:18.2  |         22|       13|       1

## SS9 Laukaa
 ### Distance: 11.76 km
 
First car 16:13

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   11|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   12|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 9:

In stage SS9, E. LAPPI (FIN) and J. FERM (FIN) (Toyota Gazoo Racing WRT) took the stage, giving them their fifth stage win, in a time of 5:51.0.

In second place on stage, +0.5 behind, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>5:51.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:51.5</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>5:53.4</td>
      <td>+1.9</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:53.5</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>5:55.0</td>
      <td>+1.5</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>5:55.9</td>
      <td>+0.9</td>
      <td>+4.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>5:56.5</td>
      <td>+0.6</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>5:57.4</td>
      <td>+0.9</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>5:59.9</td>
      <td>+2.5</td>
      <td>+8.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>6:00.4</td>
      <td>+0.5</td>
      <td>+9.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>50:17.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>50:18.6</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>50:32.6</td>
      <td>+14.0</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>50:37.0</td>
      <td>+4.4</td>
      <td>+19.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>50:37.4</td>
      <td>+0.4</td>
      <td>+19.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>50:40.7</td>
      <td>+3.3</td>
      <td>+23.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>50:49.8</td>
      <td>+9.1</td>
      <td>+32.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>50:50.7</td>
      <td>+0.9</td>
      <td>+33.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>50:57.3</td>
      <td>+6.6</td>
      <td>+39.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>51:28.1</td>
      <td>+30.8</td>
      <td>+1:10.6</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS9 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-1.7</td>
      <td>5:51.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.3</td>
      <td>5:51.5</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+0.2</td>
      <td>5:53.4</td>
      <td>+2.4</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:18.5</td>
      <td>5:53.5</td>
      <td>+2.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>+0.6</td>
      <td>5:55.0</td>
      <td>+4.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+2.5</td>
      <td>5:55.9</td>
      <td>+4.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>+0.6</td>
      <td>5:56.5</td>
      <td>+5.5</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>+2.1</td>
      <td>5:57.4</td>
      <td>+6.4</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+3.2</td>
      <td>5:59.9</td>
      <td>+8.9</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+3.5</td>
      <td>6:00.4</td>
      <td>+9.4</td>
      <td>+0.5</td>
    </tr>
  </tbody>
</table>

## SS9 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:16.800000</td>
      <td>00:02:34.200000</td>
      <td>00:05:51</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:16.200000</td>
      <td>00:02:35.300000</td>
      <td>00:05:51.500000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:18.700000</td>
      <td>00:02:34.700000</td>
      <td>00:05:53.400000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:18.500000</td>
      <td>00:02:35</td>
      <td>00:05:53.500000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:19.100000</td>
      <td>00:02:35.900000</td>
      <td>00:05:55</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:21</td>
      <td>00:02:34.900000</td>
      <td>00:05:55.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:19.100000</td>
      <td>00:02:37.400000</td>
      <td>00:05:56.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:03:20.600000</td>
      <td>00:02:36.800000</td>
      <td>00:05:57.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:21.700000</td>
      <td>00:02:38.200000</td>
      <td>00:05:59.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:22</td>
      <td>00:02:38.400000</td>
      <td>00:06:00.400000</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS9.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS9 - overall rally positions at end of stage

Following stage SS9, J. LATVALA continued to lead the rally in the Toyota Yaris WRC, commanding a lead of +1.1.

E. LAPPI, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained second place overall.

T. SUNINEN, for M-Sport World Rally Team in the Ford Fiesta WRC, retained third place overall, +15.1 behind the overall rally leader and +14.0 behind E. LAPPI in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>50:17.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>50:18.6</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>50:32.6</td>
      <td>+14.0</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>50:37.0</td>
      <td>+4.4</td>
      <td>+19.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>50:37.4</td>
      <td>+0.4</td>
      <td>+19.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>50:40.7</td>
      <td>+3.3</td>
      <td>+23.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>50:49.8</td>
      <td>+9.1</td>
      <td>+32.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>50:50.7</td>
      <td>+0.9</td>
      <td>+33.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>50:57.3</td>
      <td>+6.6</td>
      <td>+39.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>51:28.1</td>
      <td>+30.8</td>
      <td>+1:10.6</td>
    </tr>
  </tbody>
</table>

## SS9 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS9.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS9.png)

### Stage position chart SS9

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS9.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS9

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |50:17.5|        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |50:18.6|     1.1|1.1      |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |50:32.6|    14.0|15.1     |          3|        3|       1
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |50:37.0|     4.4|19.5     |          4|        4|       3
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |50:37.4|     0.4|19.9     |          5|        5|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |50:40.7|     3.3|23.2     |          6|        6|       4
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |50:49.8|     9.1|32.3     |          7|        7|       5
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |50:50.7|     0.9|33.2     |          8|        8|       6
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |50:57.3|     6.6|39.8     |          9|        9|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |51:28.1|    30.8|+1:10.6  |         10|       10|       8
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |52:01.4|    33.3|+1:43.9  |         11|       11|       9
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |55:07.5|     4.4|+4:50.0  |         21|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |55:08.5|     1.0|+4:51.0  |         22|       13|       1

## SS10 Lankamaa
 ### Distance: 21.68 km
 
First car 17:11

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   11|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   12|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 10:

In stage SS10, E. LAPPI (FIN) and J. FERM (FIN) in the Toyota Yaris WRC took the stage, and their sixth stage win, in 10:21.4, +0.7 ahead of T. SUNINEN (FIN) and M. MARKKULA (FIN) for M-Sport World Rally Team in the Ford Fiesta WRC.

As well as taking the stage, his +1.4 gain over Toyota Gazoo Racing WRT's J. LATVALA (FIN) and M. ANTTILA (FIN), the rally leader going into the stage, meant E. LAPPI (FIN) and J. FERM (FIN) in the Toyota Yaris WRC also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>10:21.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:22.1</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:22.8</td>
      <td>+0.7</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>10:24.2</td>
      <td>+1.4</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>10:25.6</td>
      <td>+1.4</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:26.5</td>
      <td>+0.9</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>10:30.7</td>
      <td>+4.2</td>
      <td>+9.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:33.9</td>
      <td>+3.2</td>
      <td>+12.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>10:40.6</td>
      <td>+6.7</td>
      <td>+19.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>10:42.0</td>
      <td>+1.4</td>
      <td>+20.6</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:00:40.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:00:40.3</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:00:54.7</td>
      <td>+14.4</td>
      <td>+14.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:01:04.9</td>
      <td>+10.2</td>
      <td>+24.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:01:07.7</td>
      <td>+2.8</td>
      <td>+27.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:01:17.2</td>
      <td>+9.5</td>
      <td>+37.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>1:01:19.4</td>
      <td>+2.2</td>
      <td>+39.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:01:30.4</td>
      <td>+11.0</td>
      <td>+50.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:01:31.2</td>
      <td>+0.8</td>
      <td>+51.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:02:17.0</td>
      <td>+45.8</td>
      <td>+1:37.0</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS10 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-6.8</td>
      <td>-10.9</td>
      <td>10:21.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-3.6</td>
      <td>-7.8</td>
      <td>10:22.1</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.7</td>
      <td>-9.1</td>
      <td>10:22.8</td>
      <td>+1.4</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-4.4</td>
      <td>-8.3</td>
      <td>10:24.2</td>
      <td>+2.8</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-3.0</td>
      <td>-6.5</td>
      <td>10:25.6</td>
      <td>+4.2</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-3.8</td>
      <td>-7.7</td>
      <td>10:26.5</td>
      <td>+5.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-1.5</td>
      <td>-3.7</td>
      <td>10:30.7</td>
      <td>+9.3</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:11.9</td>
      <td>00:06:30.0</td>
      <td>10:33.9</td>
      <td>+12.5</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-3.4</td>
      <td>-5.0</td>
      <td>10:40.6</td>
      <td>+19.2</td>
      <td>+6.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>+0.2</td>
      <td>-0.6</td>
      <td>10:42.0</td>
      <td>+20.6</td>
      <td>+1.4</td>
    </tr>
  </tbody>
</table>

## SS10 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 10, K. MEEKE lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:05.100000</td>
      <td>00:03:14</td>
      <td>00:04:02.300000</td>
      <td>00:10:21.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:08.300000</td>
      <td>00:03:13.900000</td>
      <td>00:03:59.900000</td>
      <td>00:10:22.100000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:09.200000</td>
      <td>00:03:11.700000</td>
      <td>00:04:01.900000</td>
      <td>00:10:22.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:07.500000</td>
      <td>00:03:14.200000</td>
      <td>00:04:02.500000</td>
      <td>00:10:24.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:08.900000</td>
      <td>00:03:14.600000</td>
      <td>00:04:02.100000</td>
      <td>00:10:25.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:08.100000</td>
      <td>00:03:14.200000</td>
      <td>00:04:04.200000</td>
      <td>00:10:26.500000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:10.400000</td>
      <td>00:03:15.900000</td>
      <td>00:04:04.400000</td>
      <td>00:10:30.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:11.900000</td>
      <td>00:03:18.100000</td>
      <td>00:04:03.900000</td>
      <td>00:10:33.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:08.500000</td>
      <td>00:03:16.500000</td>
      <td>00:04:15.600000</td>
      <td>00:10:40.600000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:03:12.100000</td>
      <td>00:03:17.300000</td>
      <td>00:04:12.600000</td>
      <td>00:10:42</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS10.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS10 - overall rally positions at end of stage

At the end of stage SS10, the overall leader from the previous stage, J. LATVALA, in the Toyota Yaris WRC, fell one place to second.

E. LAPPI for Toyota Gazoo Racing WRT in the Toyota Yaris WRC moved forward one position, from second at end of the previous stage, to take overall lead of the rally, +0.3 ahead.

T. SUNINEN, for M-Sport World Rally Team in the Ford Fiesta WRC, retained third place overall, +14.7 behind the overall rally leader and +14.4 behind J. LATVALA.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:00:40.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:00:40.3</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:00:54.7</td>
      <td>+14.4</td>
      <td>+14.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:01:04.9</td>
      <td>+10.2</td>
      <td>+24.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:01:07.7</td>
      <td>+2.8</td>
      <td>+27.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:01:17.2</td>
      <td>+9.5</td>
      <td>+37.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>1:01:19.4</td>
      <td>+2.2</td>
      <td>+39.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:01:30.4</td>
      <td>+11.0</td>
      <td>+50.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:01:31.2</td>
      <td>+0.8</td>
      <td>+51.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:02:17.0</td>
      <td>+45.8</td>
      <td>+1:37.0</td>
    </tr>
  </tbody>
</table>

## SS10 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS10.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS10.png)

### Stage position chart SS10

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS10.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS10

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|-------:|---------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:00:40.0|        |         |          1|        1|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:00:40.3|     0.3|0.3      |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:00:54.7|    14.4|14.7     |          3|        3|       1
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:01:04.9|    10.2|24.9     |          4|        4|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:01:07.7|     2.8|27.7     |          5|        5|       4
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:01:17.2|     9.5|37.2     |          6|        6|       5
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:01:19.4|     2.2|39.4     |          7|        7|       2
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:01:30.4|    11.0|50.4     |          8|        8|       6
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:01:31.2|     0.8|51.2     |          9|        9|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:02:17.0|    45.8|+1:37.0  |         10|       10|       8
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:02:27.0|    10.0|+1:47.0  |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:06:30.0|     3.4|+5:50.0  |         18|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:06:46.9|     1.1|+6:06.9  |         21|       13|      10

## SS11 &#196;&#228;nekoski-Valtra
 ### Distance: 7.39 km
*Rerun of stage SS8* 
First car 18:09

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   11|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   12|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 11:

In stage SS11, E. LAPPI (FIN) and J. FERM (FIN) in the Toyota Yaris WRC continued to lead the rally with their seventh stage win of the rally,their third consecutive stage win, in a time of 3:23.4.

T. SUNINEN (FIN) and M. MARKKULA (FIN) for M-Sport World Rally Team were placed second on the stage, +0.4 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>3:23.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>3:23.8</td>
      <td>+0.4</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>3:24.1</td>
      <td>+0.3</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>3:25.4</td>
      <td>+1.3</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>3:25.8</td>
      <td>+0.4</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:25.9</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:25.9</td>
      <td>+0.0</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:26.6</td>
      <td>+0.7</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:26.8</td>
      <td>+0.2</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:28.9</td>
      <td>+2.1</td>
      <td>+5.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:04:03.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:04:06.9</td>
      <td>+3.5</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:04:18.5</td>
      <td>+11.6</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:04:30.8</td>
      <td>+12.3</td>
      <td>+27.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:04:33.1</td>
      <td>+2.3</td>
      <td>+29.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:04:43.1</td>
      <td>+10.0</td>
      <td>+39.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>1:04:45.2</td>
      <td>+2.1</td>
      <td>+41.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:04:58.0</td>
      <td>+12.8</td>
      <td>+54.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:05:01.4</td>
      <td>+3.4</td>
      <td>+58.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:05:45.9</td>
      <td>+44.5</td>
      <td>+1:42.5</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS11 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-2.9</td>
      <td>3:23.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-2.3</td>
      <td>3:23.8</td>
      <td>+0.4</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-2.3</td>
      <td>3:24.1</td>
      <td>+0.7</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-0.7</td>
      <td>3:25.4</td>
      <td>+2.0</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>-1.7</td>
      <td>3:25.8</td>
      <td>+2.4</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-0.8</td>
      <td>3:25.9</td>
      <td>+2.5</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-1.0</td>
      <td>3:25.9</td>
      <td>+2.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-0.9</td>
      <td>3:26.6</td>
      <td>+3.2</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:56.6</td>
      <td>3:26.8</td>
      <td>+3.4</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-0.3</td>
      <td>3:28.9</td>
      <td>+5.5</td>
      <td>+2.1</td>
    </tr>
  </tbody>
</table>

## SS11 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 11, V. GORBAN lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:53.700000</td>
      <td>00:01:29.700000</td>
      <td>00:03:23.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:54.300000</td>
      <td>00:01:29.500000</td>
      <td>00:03:23.800000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:01:54.300000</td>
      <td>00:01:29.800000</td>
      <td>00:03:24.100000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:01:55.900000</td>
      <td>00:01:29.500000</td>
      <td>00:03:25.400000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:01:54.900000</td>
      <td>00:01:30.900000</td>
      <td>00:03:25.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:55.800000</td>
      <td>00:01:30.100000</td>
      <td>00:03:25.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:55.600000</td>
      <td>00:01:30.300000</td>
      <td>00:03:25.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:55.700000</td>
      <td>00:01:30.900000</td>
      <td>00:03:26.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:56.600000</td>
      <td>00:01:30.200000</td>
      <td>00:03:26.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:56.300000</td>
      <td>00:01:32.600000</td>
      <td>00:03:28.900000</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS11.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS11 - overall rally positions at end of stage

After stage SS11, E. LAPPI continued to lead the rally for Toyota Gazoo Racing WRT, with a lead of +3.5.

J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained second place overall.

T. SUNINEN, for M-Sport World Rally Team, retained third place overall, +15.1 behind the overall rally leader and +11.6 behind J. LATVALA in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:04:03.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:04:06.9</td>
      <td>+3.5</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:04:18.5</td>
      <td>+11.6</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:04:30.8</td>
      <td>+12.3</td>
      <td>+27.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:04:33.1</td>
      <td>+2.3</td>
      <td>+29.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:04:43.1</td>
      <td>+10.0</td>
      <td>+39.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>1:04:45.2</td>
      <td>+2.1</td>
      <td>+41.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:04:58.0</td>
      <td>+12.8</td>
      <td>+54.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:05:01.4</td>
      <td>+3.4</td>
      <td>+58.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:05:45.9</td>
      <td>+44.5</td>
      <td>+1:42.5</td>
    </tr>
  </tbody>
</table>

## SS11 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS11.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS11.png)

### Stage position chart SS11

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS11.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS11

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|-------:|---------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:04:03.4|        |         |          1|        1|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:04:06.9|     3.5|3.5      |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:04:18.5|    11.6|15.1     |          3|        3|       1
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:04:30.8|    12.3|27.4     |          4|        4|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:04:33.1|     2.3|29.7     |          5|        5|       4
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:04:43.1|    10.0|39.7     |          6|        6|       5
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:04:45.2|     2.1|41.8     |          7|        7|       2
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:04:58.0|    12.8|54.6     |          8|        8|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:05:01.4|     3.4|58       |          9|        9|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:05:45.9|    44.5|+1:42.5  |         10|       10|       8
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:05:51.1|     5.2|+1:47.7  |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:10:11.9|    33.5|+6:08.5  |         17|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:10:30.9|     1.3|+6:27.5  |         21|       13|      10

## SS12 Laukaa
 ### Distance: 11.76 km
*Rerun of stage SS9* 
First car 19:22

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   11|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   12|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 12:

In stage SS12, Toyota Gazoo Racing WRT's E. LAPPI (FIN) and J. FERM (FIN) continued to lead the rally with their eighth stage win,their fourth consecutive stage win, in a time of 5:44.9.

J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC were placed second on the stage, +1.1 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>5:44.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:46.0</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>5:47.8</td>
      <td>+1.8</td>
      <td>+2.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>5:48.5</td>
      <td>+0.7</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>5:48.8</td>
      <td>+0.3</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>5:49.1</td>
      <td>+0.3</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:49.5</td>
      <td>+0.4</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>5:50.5</td>
      <td>+1.0</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>5:53.2</td>
      <td>+2.7</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>5:53.8</td>
      <td>+0.6</td>
      <td>+8.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:09:48.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:09:52.9</td>
      <td>+4.6</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:10:07.3</td>
      <td>+14.4</td>
      <td>+19.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:10:22.2</td>
      <td>+14.9</td>
      <td>+33.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:10:24.6</td>
      <td>+2.4</td>
      <td>+36.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>1:10:33.0</td>
      <td>+8.4</td>
      <td>+44.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:10:33.6</td>
      <td>+0.6</td>
      <td>+45.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:10:47.5</td>
      <td>+13.9</td>
      <td>+59.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:10:54.6</td>
      <td>+7.1</td>
      <td>+1:06.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:11:39.6</td>
      <td>+45.0</td>
      <td>+1:51.3</td>
    </tr>
  </tbody>
</table>

## SS12 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS12 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-2.7</td>
      <td>5:44.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.3</td>
      <td>5:46.0</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>-2.0</td>
      <td>5:47.8</td>
      <td>+2.9</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-1.6</td>
      <td>5:48.5</td>
      <td>+3.6</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-0.9</td>
      <td>5:48.8</td>
      <td>+3.9</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-1.0</td>
      <td>5:49.1</td>
      <td>+4.2</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:17.9</td>
      <td>5:49.5</td>
      <td>+4.6</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-1.2</td>
      <td>5:50.5</td>
      <td>+5.6</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+0.7</td>
      <td>5:53.2</td>
      <td>+8.3</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+1.6</td>
      <td>5:53.8</td>
      <td>+8.9</td>
      <td>+0.6</td>
    </tr>
  </tbody>
</table>

## SS12 - stage sector delta time (seconds) to fastest stage sector time

E. LAPPI drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

Despite being competitive at the start of stage 12, E. CAMILLI lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:15.200000</td>
      <td>00:02:29.700000</td>
      <td>00:05:44.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:15.600000</td>
      <td>00:02:30.400000</td>
      <td>00:05:46</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:03:15.900000</td>
      <td>00:02:31.900000</td>
      <td>00:05:47.800000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:16.300000</td>
      <td>00:02:32.200000</td>
      <td>00:05:48.500000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:17</td>
      <td>00:02:31.800000</td>
      <td>00:05:48.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:16.900000</td>
      <td>00:02:32.200000</td>
      <td>00:05:49.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:17.900000</td>
      <td>00:02:31.600000</td>
      <td>00:05:49.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:16.700000</td>
      <td>00:02:33.800000</td>
      <td>00:05:50.500000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:18.600000</td>
      <td>00:02:34.600000</td>
      <td>00:05:53.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:19.500000</td>
      <td>00:02:34.300000</td>
      <td>00:05:53.800000</td>
    </tr>
  </tbody>
</table>

## SS12 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS12.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS12 - overall rally positions at end of stage

Following stage SS12, E. LAPPI remained in overall lead of the rally for Toyota Gazoo Racing WRT, with a lead of +4.6.

J. LATVALA, for Toyota Gazoo Racing WRT, retained second place overall.

T. SUNINEN, for M-Sport World Rally Team, retained third place overall, +19.0 behind the overall rally leader and trailing second placed J. LATVALA by +14.4.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:09:48.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:09:52.9</td>
      <td>+4.6</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:10:07.3</td>
      <td>+14.4</td>
      <td>+19.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:10:22.2</td>
      <td>+14.9</td>
      <td>+33.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:10:24.6</td>
      <td>+2.4</td>
      <td>+36.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>1:10:33.0</td>
      <td>+8.4</td>
      <td>+44.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:10:33.6</td>
      <td>+0.6</td>
      <td>+45.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:10:47.5</td>
      <td>+13.9</td>
      <td>+59.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:10:54.6</td>
      <td>+7.1</td>
      <td>+1:06.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:11:39.6</td>
      <td>+45.0</td>
      <td>+1:51.3</td>
    </tr>
  </tbody>
</table>

## SS12 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS12.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS12.png)

### Stage position chart SS12

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS12.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS12

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:09:48.3|        |          |          1|        1|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:09:52.9|4.6     |4.6       |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:10:07.3|14.4    |19        |          3|        3|       1
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:10:22.2|14.9    |33.9      |          4|        4|       3
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:10:24.6|2.4     |36.3      |          5|        5|       4
   14|M. ØSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:10:33.0|8.4     |44.7      |          6|        6|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:10:33.6|0.6     |45.3      |          7|        7|       5
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:10:47.5|13.9    |59.2      |          8|        8|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:10:54.6|7.1     |+1:06.3   |          9|        9|       7
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:11:39.6|45      |+1:51.3   |         10|       10|       8
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:11:40.1|0.5     |+1:51.8   |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:16:31.0|41.8    |+6:42.7   |         17|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:16:48.9|4.2     |+7:00.6   |         20|       13|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:12:41.4|+26:45.6|+1:02:53.1|         54|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:12:44.9|3.5     |+1:02:56.6|         55|       15|      12

## SS13 Harju
 ### Distance: 2.31 km
*Rerun of stage SS1* 
First car 20:30

*A short stage with no splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    2|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    3|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1       
    4|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   10|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
   11|   14|M. ØSTBERG   |M-Sport World Rally Team   |           |RC1       
   12|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   13|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   14|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   15|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   16|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 13:

On stage SS13, and with their first stage win, T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) took the stage by +0.1 from O. TÄNAK (EST) and co-driver M. JÄRVEOJA (EST) in the Ford Fiesta WRC, in a time of 1:46.9.

E. LAPPI (FIN) and J. FERM (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, seventh on stage with a time of 1:48.1, and +1.2 behind the stagewinner, retained overall lead of the rally.


There were 1 retirements amongst the RC1 (M) competitors  around stage 13:
- S. OGIER (FRA) / J. INGRASSIA (FRA) -  at TC13E in the *M-Sport World Rally Team* Ford Fiesta WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:46.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:47.0</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:47.2</td>
      <td>+0.2</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:47.9</td>
      <td>+0.7</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:47.9</td>
      <td>+0.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:48.1</td>
      <td>+0.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:48.1</td>
      <td>+0.0</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:48.4</td>
      <td>+0.3</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:48.8</td>
      <td>+0.4</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:49.4</td>
      <td>+0.6</td>
      <td>+2.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:11:36.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:11:40.8</td>
      <td>+4.4</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:11:55.4</td>
      <td>+14.6</td>
      <td>+19.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:12:09.4</td>
      <td>+14.0</td>
      <td>+33.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:12:15.5</td>
      <td>+6.1</td>
      <td>+39.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:12:21.4</td>
      <td>+5.9</td>
      <td>+45.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:12:21.5</td>
      <td>+0.1</td>
      <td>+45.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:12:34.4</td>
      <td>+12.9</td>
      <td>+58.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:12:44.0</td>
      <td>+9.6</td>
      <td>+1:07.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:13:26.6</td>
      <td>+42.6</td>
      <td>+1:50.2</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS13 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:46.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:47.0</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:47.2</td>
      <td>+0.3</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:47.9</td>
      <td>+1.0</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>15</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:47.9</td>
      <td>+1.0</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:48.1</td>
      <td>+1.2</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:48.1</td>
      <td>+1.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>1:48.4</td>
      <td>+1.5</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:48.8</td>
      <td>+1.9</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:49.4</td>
      <td>+2.5</td>
      <td>+0.6</td>
    </tr>
  </tbody>
</table>

## SS13 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:46.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:01:47</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:01:47.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:47.900000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:47.900000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:48.100000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:48.100000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. ØSTBERG</td>
      <td>00:01:48.400000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:48.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:49.400000</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS13.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS13 - overall rally positions at end of stage

Following stage SS13, E. LAPPI retained overall lead of the rally for Toyota Gazoo Racing WRT, commanding a lead of +4.4.

J. LATVALA, in the Toyota Yaris WRC, retained second place overall.

T. SUNINEN, in the Ford Fiesta WRC, retained third place overall, +19.0 behind the overall rally leader and trailing J. LATVALA in second by +14.6.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:11:36.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:11:40.8</td>
      <td>+4.4</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:11:55.4</td>
      <td>+14.6</td>
      <td>+19.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:12:09.4</td>
      <td>+14.0</td>
      <td>+33.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:12:15.5</td>
      <td>+6.1</td>
      <td>+39.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:12:21.4</td>
      <td>+5.9</td>
      <td>+45.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:12:21.5</td>
      <td>+0.1</td>
      <td>+45.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:12:34.4</td>
      <td>+12.9</td>
      <td>+58.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:12:44.0</td>
      <td>+9.6</td>
      <td>+1:07.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:13:26.6</td>
      <td>+42.6</td>
      <td>+1:50.2</td>
    </tr>
  </tbody>
</table>

## SS13 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS13.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS13.png)

### Stage position chart SS13

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS13.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS13

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:11:36.4|        |          |          1|        1|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:11:40.8|4.4     |4.4       |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:11:55.4|14.6    |19        |          3|        3|       1
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:12:09.4|14      |33        |          4|        4|       3
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:12:15.5|6.1     |39.1      |          5|        5|       4
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:12:21.4|5.9     |45        |          6|        6|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:12:21.5|0.1     |45.1      |          7|        7|       5
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:12:34.4|12.9    |58        |          8|        8|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:12:44.0|9.6     |+1:07.6   |          9|        9|       7
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:13:26.6|42.6    |+1:50.2   |         10|       10|       8
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:13:28.9|2.3     |+1:52.5   |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:18:28.2|45.3    |+6:51.8   |         17|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:18:41.3|0.1     |+7:04.9   |         20|       13|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:21:28.3|+32:52.0|+1:09:51.9|         54|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:21:31.8|3.5     |+1:09:55.4|         55|       15|      12

# Day 3 (29/07/2017)
## Section 4 (Morning)

## SS14 Pihlajakoski
 ### Distance: 14.90 km
 
First car 08:58

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   13|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 14:

On stage SS14, and with their second stage win, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC took the stage by +2.7 from Toyota Gazoo Racing WRT's J. HÄNNINEN (FIN) and K. LINDSTRÖM (FIN), in a time of 6:53.9.

E. LAPPI (FIN) and J. FERM (FIN) in the Toyota Yaris WRC, fourth on stage with a time of 6:57.7, and +3.8 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>6:53.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>6:56.6</td>
      <td>+2.7</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>6:57.1</td>
      <td>+0.5</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>6:57.7</td>
      <td>+0.6</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>6:59.5</td>
      <td>+1.8</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>6:59.7</td>
      <td>+0.2</td>
      <td>+5.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>7:00.3</td>
      <td>+0.6</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>7:01.0</td>
      <td>+0.7</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>7:01.9</td>
      <td>+0.9</td>
      <td>+8.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>7:02.1</td>
      <td>+0.2</td>
      <td>+8.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:18:34.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:18:34.7</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:18:52.5</td>
      <td>+17.8</td>
      <td>+18.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:19:11.5</td>
      <td>+19.0</td>
      <td>+37.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:19:12.1</td>
      <td>+0.6</td>
      <td>+38.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:19:21.2</td>
      <td>+9.1</td>
      <td>+47.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:19:22.4</td>
      <td>+1.2</td>
      <td>+48.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:19:36.3</td>
      <td>+13.9</td>
      <td>+1:02.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:19:55.6</td>
      <td>+19.3</td>
      <td>+1:21.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:20:26.9</td>
      <td>+31.3</td>
      <td>+1:52.8</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS14 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-22.7</td>
      <td>6:53.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-21.9</td>
      <td>6:56.6</td>
      <td>+2.7</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-21.4</td>
      <td>6:57.1</td>
      <td>+3.2</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-19.8</td>
      <td>6:57.7</td>
      <td>+3.8</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-20.1</td>
      <td>6:59.5</td>
      <td>+5.6</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-20.1</td>
      <td>6:59.7</td>
      <td>+5.8</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-20.5</td>
      <td>7:00.3</td>
      <td>+6.4</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-19.6</td>
      <td>7:01.0</td>
      <td>+7.1</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-19.8</td>
      <td>7:01.9</td>
      <td>+8.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-18.7</td>
      <td>7:02.1</td>
      <td>+8.2</td>
      <td>+0.2</td>
    </tr>
  </tbody>
</table>

## SS14 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 14, D. SORDO lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:53.800000</td>
      <td>00:03:00.100000</td>
      <td>00:06:53.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:54.600000</td>
      <td>00:03:02</td>
      <td>00:06:56.600000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:55.100000</td>
      <td>00:03:02</td>
      <td>00:06:57.100000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:56.700000</td>
      <td>00:03:01</td>
      <td>00:06:57.700000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:56.400000</td>
      <td>00:03:03.100000</td>
      <td>00:06:59.500000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:56.400000</td>
      <td>00:03:03.300000</td>
      <td>00:06:59.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:56</td>
      <td>00:03:04.300000</td>
      <td>00:07:00.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:56.900000</td>
      <td>00:03:04.100000</td>
      <td>00:07:01</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:56.700000</td>
      <td>00:03:05.200000</td>
      <td>00:07:01.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:57.800000</td>
      <td>00:03:04.300000</td>
      <td>00:07:02.100000</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS14.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS14 - overall rally positions at end of stage

After stage SS14, E. LAPPI continued in overall lead of the rally for Toyota Gazoo Racing WRT, commanding a lead of +0.6.

J. LATVALA, in the Toyota Yaris WRC, retained second place overall.

T. SUNINEN, in the Ford Fiesta WRC, retained third place overall, +18.4 behind the overall rally leader and trailing second placed J. LATVALA by +17.8.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:18:34.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:18:34.7</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:18:52.5</td>
      <td>+17.8</td>
      <td>+18.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:19:11.5</td>
      <td>+19.0</td>
      <td>+37.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:19:12.1</td>
      <td>+0.6</td>
      <td>+38.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:19:21.2</td>
      <td>+9.1</td>
      <td>+47.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:19:22.4</td>
      <td>+1.2</td>
      <td>+48.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:19:36.3</td>
      <td>+13.9</td>
      <td>+1:02.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:19:55.6</td>
      <td>+19.3</td>
      <td>+1:21.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:20:26.9</td>
      <td>+31.3</td>
      <td>+1:52.8</td>
    </tr>
  </tbody>
</table>

## SS14 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS14.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS14.png)

### Stage position chart SS14

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS14.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS14

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:18:34.1|        |          |          1|        1|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:18:34.7|0.6     |0.6       |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:18:52.5|17.8    |18.4      |          3|        3|       1
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:19:11.5|19      |37.4      |          4|        4|       3
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:19:12.1|0.6     |38        |          5|        5|       4
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:19:21.2|9.1     |47.1      |          6|        6|       5
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:19:22.4|1.2     |48.3      |          7|        7|       2
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:19:36.3|13.9    |+1:02.2   |          8|        8|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:19:55.6|19.3    |+1:21.5   |          9|        9|       7
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:20:26.9|31.3    |+1:52.8   |         10|       10|       8
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:20:44.3|17.4    |+2:10.2   |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:26:08.5|54      |+7:34.4   |         17|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:26:23.0|7       |+7:48.9   |         19|       13|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:28:27.8|+28:38.2|+1:09:53.7|         52|       14|      11

## SS15 P&#228;ij&#228;l&#228;
 ### Distance: 22.68 km
 
First car 10:06

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
  NaN|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 15:

In stage SS15, J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) for Toyota Gazoo Racing WRT took the stage, and their third stage win, in 10:55.5, +3.7 ahead of E. EVANS (GBR) and D. BARRITT (GBR) in the Ford Fiesta WRC.

As well as taking the stage, his +5.4 gain over E. LAPPI (FIN) and J. FERM (FIN) (Toyota Gazoo Racing WRT), the rally leader going into the stage, meant J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) for Toyota Gazoo Racing WRT also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:55.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:59.2</td>
      <td>+3.7</td>
      <td>+3.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>11:00.9</td>
      <td>+1.7</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>11:02.0</td>
      <td>+1.1</td>
      <td>+6.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>11:02.2</td>
      <td>+0.2</td>
      <td>+6.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>11:03.0</td>
      <td>+0.8</td>
      <td>+7.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>11:04.8</td>
      <td>+1.8</td>
      <td>+9.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>11:05.2</td>
      <td>+0.4</td>
      <td>+9.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>11:08.1</td>
      <td>+2.9</td>
      <td>+12.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>11:12.5</td>
      <td>+4.4</td>
      <td>+17.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:29:30.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:29:35.0</td>
      <td>+4.8</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:29:54.7</td>
      <td>+19.7</td>
      <td>+24.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:30:14.1</td>
      <td>+19.4</td>
      <td>+43.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:30:20.4</td>
      <td>+6.3</td>
      <td>+50.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:30:24.0</td>
      <td>+3.6</td>
      <td>+53.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:30:27.2</td>
      <td>+3.2</td>
      <td>+57.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:30:44.4</td>
      <td>+17.2</td>
      <td>+1:14.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:31:00.8</td>
      <td>+16.4</td>
      <td>+1:30.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:31:29.9</td>
      <td>+29.1</td>
      <td>+1:59.7</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS15 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-23.0</td>
      <td>-48.3</td>
      <td>10:55.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-22.9</td>
      <td>-46.5</td>
      <td>10:59.2</td>
      <td>+3.7</td>
      <td>+3.7</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-22.4</td>
      <td>-47.1</td>
      <td>11:00.9</td>
      <td>+5.4</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-21.8</td>
      <td>-44.3</td>
      <td>11:02.0</td>
      <td>+6.5</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-22.2</td>
      <td>-43.2</td>
      <td>11:02.2</td>
      <td>+6.7</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-22.3</td>
      <td>-43.3</td>
      <td>11:03.0</td>
      <td>+7.5</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-21.8</td>
      <td>-42.4</td>
      <td>11:04.8</td>
      <td>+9.3</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-20.5</td>
      <td>-41.8</td>
      <td>11:05.2</td>
      <td>+9.7</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-19.4</td>
      <td>-40.4</td>
      <td>11:08.1</td>
      <td>+12.6</td>
      <td>+2.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-19.6</td>
      <td>-39.2</td>
      <td>11:12.5</td>
      <td>+17.0</td>
      <td>+4.4</td>
    </tr>
  </tbody>
</table>

## SS15 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:33.400000</td>
      <td>00:03:30</td>
      <td>00:03:52.100000</td>
      <td>00:10:55.500000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:33.500000</td>
      <td>00:03:31.700000</td>
      <td>00:03:54</td>
      <td>00:10:59.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:34</td>
      <td>00:03:30.600000</td>
      <td>00:03:56.300000</td>
      <td>00:11:00.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:34.600000</td>
      <td>00:03:32.800000</td>
      <td>00:03:54.600000</td>
      <td>00:11:02</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:34.200000</td>
      <td>00:03:34.300000</td>
      <td>00:03:53.700000</td>
      <td>00:11:02.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:34.100000</td>
      <td>00:03:34.300000</td>
      <td>00:03:54.600000</td>
      <td>00:11:03</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:34.600000</td>
      <td>00:03:34.700000</td>
      <td>00:03:55.500000</td>
      <td>00:11:04.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:35.900000</td>
      <td>00:03:34</td>
      <td>00:03:55.300000</td>
      <td>00:11:05.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:37</td>
      <td>00:03:34.300000</td>
      <td>00:03:56.800000</td>
      <td>00:11:08.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:36.800000</td>
      <td>00:03:35.700000</td>
      <td>00:04:00</td>
      <td>00:11:12.500000</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS15.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS15 - overall rally positions at end of stage

By the end of stage SS15, J. LATVALA for Toyota Gazoo Racing WRT improved by one position, from second at end of the previous stage, to take overall lead of the rally, +4.8 ahead.

The overall leader from the previous stage, E. LAPPI, in the Toyota Yaris WRC, fell back one place to second.

T. SUNINEN, for M-Sport World Rally Team, retained third place overall, +24.5 behind the overall rally leader and +19.7 behind second placed E. LAPPI.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:29:30.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:29:35.0</td>
      <td>+4.8</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:29:54.7</td>
      <td>+19.7</td>
      <td>+24.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:30:14.1</td>
      <td>+19.4</td>
      <td>+43.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:30:20.4</td>
      <td>+6.3</td>
      <td>+50.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:30:24.0</td>
      <td>+3.6</td>
      <td>+53.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:30:27.2</td>
      <td>+3.2</td>
      <td>+57.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:30:44.4</td>
      <td>+17.2</td>
      <td>+1:14.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:31:00.8</td>
      <td>+16.4</td>
      <td>+1:30.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:31:29.9</td>
      <td>+29.1</td>
      <td>+1:59.7</td>
    </tr>
  </tbody>
</table>

## SS15 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS15.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS15.png)

### Stage position chart SS15

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS15.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS15

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|-------:|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:29:30.2|        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:29:35.0|     4.8|4.8      |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:29:54.7|    19.7|24.5     |          3|        3|       1
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:30:14.1|    19.4|43.9     |          4|        4|       3
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:30:20.4|     6.3|50.2     |          5|        5|       4
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:30:24.0|     3.6|53.8     |          6|        6|       5
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:30:27.2|     3.2|57       |          7|        7|       2
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:30:44.4|    17.2|+1:14.2  |          8|        8|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:31:00.8|    16.4|+1:30.6  |          9|        9|       7
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:31:29.9|    29.1|+1:59.7  |         10|       10|       8
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:32:05.3|    35.4|+2:35.1  |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:38:05.8|    57.9|+8:35.6  |         16|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:38:34.8|    11.7|+9:04.6  |         18|       13|      10

## SS16 Ouninpohja
 ### Distance: 24.38 km
 
First car 10:49

*A long stage with three splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 16:

In stage SS16, Toyota Gazoo Racing WRT's J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) continued to lead the rally with their fourth stage win,their third consecutive stage win, in a time of 10:56.9.

E. LAPPI (FIN) and J. FERM (FIN) in the Toyota Yaris WRC were placed second on the stage, +2.5 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:56.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>10:59.4</td>
      <td>+2.5</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>11:08.4</td>
      <td>+9.0</td>
      <td>+11.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>11:09.4</td>
      <td>+1.0</td>
      <td>+12.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>11:11.0</td>
      <td>+1.6</td>
      <td>+14.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>11:15.1</td>
      <td>+4.1</td>
      <td>+18.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>11:15.1</td>
      <td>+0.0</td>
      <td>+18.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>11:24.3</td>
      <td>+9.2</td>
      <td>+27.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>11:30.5</td>
      <td>+6.2</td>
      <td>+33.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>11:39.3</td>
      <td>+8.8</td>
      <td>+42.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:40:27.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:40:34.4</td>
      <td>+7.3</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:41:22.5</td>
      <td>+48.1</td>
      <td>+55.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:41:25.2</td>
      <td>+2.7</td>
      <td>+58.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:41:29.8</td>
      <td>+4.6</td>
      <td>+1:02.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:41:39.1</td>
      <td>+9.3</td>
      <td>+1:12.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:41:59.5</td>
      <td>+20.4</td>
      <td>+1:32.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:42:25.1</td>
      <td>+25.6</td>
      <td>+1:58.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:42:40.9</td>
      <td>+15.8</td>
      <td>+2:13.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:43:44.6</td>
      <td>+1:03.7</td>
      <td>+3:17.5</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS16 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-14.4</td>
      <td>-34.5</td>
      <td>-56.6</td>
      <td>10:56.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-15.7</td>
      <td>-33.3</td>
      <td>-55.3</td>
      <td>10:59.4</td>
      <td>+2.5</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-13.3</td>
      <td>-28.7</td>
      <td>-47.3</td>
      <td>11:08.4</td>
      <td>+11.5</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-12.7</td>
      <td>-27.6</td>
      <td>-46.7</td>
      <td>11:09.4</td>
      <td>+12.5</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-14.0</td>
      <td>-28.3</td>
      <td>-44.7</td>
      <td>11:11.0</td>
      <td>+14.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-10.6</td>
      <td>-23.6</td>
      <td>-42.5</td>
      <td>11:15.1</td>
      <td>+18.2</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-12.9</td>
      <td>-26.2</td>
      <td>-43.9</td>
      <td>11:15.1</td>
      <td>+18.2</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-9.8</td>
      <td>-21.9</td>
      <td>-35.4</td>
      <td>11:24.3</td>
      <td>+27.4</td>
      <td>+9.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-9.2</td>
      <td>-23.2</td>
      <td>-26.1</td>
      <td>11:30.5</td>
      <td>+33.6</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-8.9</td>
      <td>-17.0</td>
      <td>-23.2</td>
      <td>11:39.3</td>
      <td>+42.4</td>
      <td>+8.8</td>
    </tr>
  </tbody>
</table>

## SS16 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:59.800000</td>
      <td>00:02:28.300000</td>
      <td>00:03:04</td>
      <td>00:02:24.800000</td>
      <td>00:10:56.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:02:58.500000</td>
      <td>00:02:30.800000</td>
      <td>00:03:04.100000</td>
      <td>00:02:26</td>
      <td>00:10:59.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:00.900000</td>
      <td>00:02:33</td>
      <td>00:03:07.500000</td>
      <td>00:02:27</td>
      <td>00:11:08.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:01.500000</td>
      <td>00:02:33.500000</td>
      <td>00:03:07</td>
      <td>00:02:27.400000</td>
      <td>00:11:09.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:00.200000</td>
      <td>00:02:34.100000</td>
      <td>00:03:09.700000</td>
      <td>00:02:27</td>
      <td>00:11:11</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:01.300000</td>
      <td>00:02:35.100000</td>
      <td>00:03:08.400000</td>
      <td>00:02:30.300000</td>
      <td>00:11:15.100000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:03.600000</td>
      <td>00:02:35.400000</td>
      <td>00:03:07.200000</td>
      <td>00:02:28.900000</td>
      <td>00:11:15.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:04.400000</td>
      <td>00:02:36.300000</td>
      <td>00:03:12.600000</td>
      <td>00:02:31</td>
      <td>00:11:24.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:05</td>
      <td>00:02:34.400000</td>
      <td>00:03:23.200000</td>
      <td>00:02:27.900000</td>
      <td>00:11:30.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:05.300000</td>
      <td>00:02:40.300000</td>
      <td>00:03:19.900000</td>
      <td>00:02:33.800000</td>
      <td>00:11:39.300000</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS16.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS16 - overall rally positions at end of stage

Following stage SS16, J. LATVALA continued to lead the rally for Toyota Gazoo Racing WRT, commanding a lead of +7.3.

E. LAPPI, in the Toyota Yaris WRC, retained second place overall.

J. HÄNNINEN, for Toyota Gazoo Racing WRT, moved up to third place overall, up one position from fourth, +55.4 behind the overall rally leader and trailing second placed E. LAPPI by +48.1.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:40:27.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:40:34.4</td>
      <td>+7.3</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:41:22.5</td>
      <td>+48.1</td>
      <td>+55.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:41:25.2</td>
      <td>+2.7</td>
      <td>+58.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:41:29.8</td>
      <td>+4.6</td>
      <td>+1:02.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:41:39.1</td>
      <td>+9.3</td>
      <td>+1:12.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:41:59.5</td>
      <td>+20.4</td>
      <td>+1:32.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:42:25.1</td>
      <td>+25.6</td>
      <td>+1:58.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:42:40.9</td>
      <td>+15.8</td>
      <td>+2:13.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:43:44.6</td>
      <td>+1:03.7</td>
      <td>+3:17.5</td>
    </tr>
  </tbody>
</table>

## SS16 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS16.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS16.png)

### Stage position chart SS16

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS16.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS16

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:40:27.1|        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:40:34.4|7.3     |7.3      |          2|        2|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:41:22.5|48.1    |55.4     |          3|        3|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:41:25.2|2.7     |58.1     |          4|        4|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:41:29.8|4.6     |+1:02.7  |          5|        5|       4
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:41:39.1|9.3     |+1:12.0  |          6|        6|       5
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:41:59.5|20.4    |+1:32.4  |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:42:25.1|25.6    |+1:58.0  |          8|        8|       7
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:42:40.9|15.8    |+2:13.8  |          9|        9|       8
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:43:44.6|+1:03.7 |+3:17.5  |         10|       10|       9
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:44:36.4|51.8    |+4:09.3  |         11|       11|       2
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:50:13.4|+1:01.7 |+9:46.3  |         16|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:50:46.1|22.3    |+10:19.0 |         18|       13|      10

## SS17 Saalahti
 ### Distance: 4.21 km
 
First car 12:02

*A short stage with no splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 17:

In stage SS17, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT continued to lead the rally with their fifth stage win,their fourth consecutive stage win, in a time of 1:58.4.

E. LAPPI (FIN) and J. FERM (FIN) (Toyota Gazoo Racing WRT) were placed second on the stage, +0.5 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:58.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:58.9</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:58.9</td>
      <td>+0.0</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:59.5</td>
      <td>+0.6</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:59.9</td>
      <td>+0.4</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:00.4</td>
      <td>+0.5</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:00.6</td>
      <td>+0.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:00.8</td>
      <td>+0.2</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:02.3</td>
      <td>+1.5</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:02.5</td>
      <td>+0.2</td>
      <td>+4.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:42:25.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:42:33.3</td>
      <td>+7.8</td>
      <td>+7.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:43:23.3</td>
      <td>+50.0</td>
      <td>+57.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:43:24.7</td>
      <td>+1.4</td>
      <td>+59.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:43:29.7</td>
      <td>+5.0</td>
      <td>+1:04.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:43:39.7</td>
      <td>+10.0</td>
      <td>+1:14.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:43:59.9</td>
      <td>+20.2</td>
      <td>+1:34.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:44:27.4</td>
      <td>+27.5</td>
      <td>+2:01.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:44:39.8</td>
      <td>+12.4</td>
      <td>+2:14.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:45:47.1</td>
      <td>+1:07.3</td>
      <td>+3:21.6</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS17 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:58.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:58.9</td>
      <td>+0.5</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:58.9</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:59.5</td>
      <td>+1.1</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:59.9</td>
      <td>+1.5</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:00.4</td>
      <td>+2.0</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:00.6</td>
      <td>+2.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:00.8</td>
      <td>+2.4</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:02.3</td>
      <td>+3.9</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:02.5</td>
      <td>+4.1</td>
      <td>+0.2</td>
    </tr>
  </tbody>
</table>

## SS17 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:58.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:01:58.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:58.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:59.500000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:59.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:00.400000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:02:00.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:00.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:02.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:02.500000</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS17.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS17 - overall rally positions at end of stage

Following stage SS17, J. LATVALA continued to lead the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, with a gap to second of +7.8.

E. LAPPI, in the Toyota Yaris WRC, retained second place overall.

J. HÄNNINEN, in the Toyota Yaris WRC, retained third place overall, +57.8 behind the overall rally leader and +50.0 behind second placed E. LAPPI.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:42:25.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:42:33.3</td>
      <td>+7.8</td>
      <td>+7.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:43:23.3</td>
      <td>+50.0</td>
      <td>+57.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:43:24.7</td>
      <td>+1.4</td>
      <td>+59.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:43:29.7</td>
      <td>+5.0</td>
      <td>+1:04.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:43:39.7</td>
      <td>+10.0</td>
      <td>+1:14.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:43:59.9</td>
      <td>+20.2</td>
      <td>+1:34.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:44:27.4</td>
      <td>+27.5</td>
      <td>+2:01.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:44:39.8</td>
      <td>+12.4</td>
      <td>+2:14.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:45:47.1</td>
      <td>+1:07.3</td>
      <td>+3:21.6</td>
    </tr>
  </tbody>
</table>

## SS17 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS17.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS17.png)

### Stage position chart SS17

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS17.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS17

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:42:25.5|        |         |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:42:33.3|7.8     |7.8      |          2|        2|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:43:23.3|50      |57.8     |          3|        3|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:43:24.7|1.4     |59.2     |          4|        4|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:43:29.7|5       |+1:04.2  |          5|        5|       4
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:43:39.7|10      |+1:14.2  |          6|        6|       5
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:43:59.9|20.2    |+1:34.4  |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:44:27.4|27.5    |+2:01.9  |          8|        8|       7
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:44:39.8|12.4    |+2:14.3  |          9|        9|       8
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:45:47.1|+1:07.3 |+3:21.6  |         10|       10|       9
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:46:41.0|53.9    |+4:15.5  |         11|       11|       2
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:52:22.5|+1:02.7 |+9:57.0  |         16|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:52:56.4|21.8    |+10:30.9 |         18|       13|      10

# Day 19 (29/07/2017)
## Section 5 (Afternoon/Evening)

## SS18 Saalahti
 ### Distance: 4.21 km
*Rerun of stage SS17* 
First car 14:55

*A short stage with no splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 18:

In stage SS18, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT continued to lead the rally with their sixth stage win,their fifth consecutive stage win, in a time of 1:56.4.

Toyota Gazoo Racing WRT's E. LAPPI (FIN) and J. FERM (FIN) were placed second on the stage, +0.7 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:56.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:57.1</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:57.4</td>
      <td>+0.3</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:57.6</td>
      <td>+0.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:57.6</td>
      <td>+0.0</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:57.8</td>
      <td>+0.2</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:58.1</td>
      <td>+0.3</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:58.4</td>
      <td>+0.3</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:58.6</td>
      <td>+0.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:59.3</td>
      <td>+0.7</td>
      <td>+2.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:44:21.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:44:30.4</td>
      <td>+8.5</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:45:21.7</td>
      <td>+51.3</td>
      <td>+59.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:45:22.1</td>
      <td>+0.4</td>
      <td>+1:00.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:45:27.8</td>
      <td>+5.7</td>
      <td>+1:05.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:45:37.5</td>
      <td>+9.7</td>
      <td>+1:15.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45:57.5</td>
      <td>+20.0</td>
      <td>+1:35.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:46:26.7</td>
      <td>+29.2</td>
      <td>+2:04.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:46:37.4</td>
      <td>+10.7</td>
      <td>+2:15.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:47:46.4</td>
      <td>+1:09.0</td>
      <td>+3:24.5</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS18 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:56.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:57.1</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:57.4</td>
      <td>+1.0</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:57.6</td>
      <td>+1.2</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:57.6</td>
      <td>+1.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:57.8</td>
      <td>+1.4</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:58.1</td>
      <td>+1.7</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:58.4</td>
      <td>+2.0</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:58.6</td>
      <td>+2.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:59.3</td>
      <td>+2.9</td>
      <td>+0.7</td>
    </tr>
  </tbody>
</table>

## SS18 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:56.400000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:57.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:57.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:01:57.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:57.600000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:01:57.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:58.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:58.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:58.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:59.300000</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS18.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS18 - overall rally positions at end of stage

Following stage SS18, J. LATVALA continued in overall lead of the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, with a gap to second of +8.5.

E. LAPPI, for Toyota Gazoo Racing WRT, retained second place overall.

J. HÄNNINEN, for Toyota Gazoo Racing WRT, retained third place overall, +59.8 behind the overall rally leader and trailing E. LAPPI by +51.3.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:44:21.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:44:30.4</td>
      <td>+8.5</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:45:21.7</td>
      <td>+51.3</td>
      <td>+59.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:45:22.1</td>
      <td>+0.4</td>
      <td>+1:00.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:45:27.8</td>
      <td>+5.7</td>
      <td>+1:05.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:45:37.5</td>
      <td>+9.7</td>
      <td>+1:15.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45:57.5</td>
      <td>+20.0</td>
      <td>+1:35.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:46:26.7</td>
      <td>+29.2</td>
      <td>+2:04.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:46:37.4</td>
      <td>+10.7</td>
      <td>+2:15.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:47:46.4</td>
      <td>+1:09.0</td>
      <td>+3:24.5</td>
    </tr>
  </tbody>
</table>

## SS18 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS18.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS18.png)

### Stage position chart SS18

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS18.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>21</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>23</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS18

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:44:21.9|        |          |          1|        1|       1
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:44:30.4|8.5     |8.5       |          2|        2|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:45:21.7|51.3    |59.8      |          3|        3|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:45:22.1|0.4     |+1:00.2   |          4|        4|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:45:27.8|5.7     |+1:05.9   |          5|        5|       4
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:45:37.5|9.7     |+1:15.6   |          6|        6|       5
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:45:57.5|20      |+1:35.6   |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:46:26.7|29.2    |+2:04.8   |          8|        8|       7
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:46:37.4|10.7    |+2:15.5   |          9|        9|       8
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:47:46.4|+1:09.0 |+3:24.5   |         10|       10|       9
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:48:39.6|53.2    |+4:17.7   |         11|       11|       2
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:54:29.9|+1:02.9 |+10:08.0  |         16|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |1:55:04.6|22.9    |+10:42.7  |         18|       13|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |3:22:15.0|+4:51.5 |+1:37:53.1|         54|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |3:29:12.9|+6:57.9 |+1:44:51.0|         55|       15|      12

## SS19 Ouninpohja
 ### Distance: 24.38 km
*Rerun of stage SS16* 
First car 16:08

*A long stage with three splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
  NaN|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   13|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 19:

In stage SS19, E. LAPPI (FIN) and co-driver J. FERM (FIN) for Toyota Gazoo Racing WRT took the stage, and their ninth stage win, in 10:49.8, +2.8 ahead of Toyota Gazoo Racing WRT's J. HÄNNINEN (FIN) and K. LINDSTRÖM (FIN).

As well as taking the stage, his +7:00.0 gain over J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT), the rally leader going into the stage, meant E. LAPPI (FIN) and co-driver J. FERM (FIN) for Toyota Gazoo Racing WRT also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>10:49.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>10:52.6</td>
      <td>+2.8</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:55.3</td>
      <td>+2.7</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>10:56.2</td>
      <td>+0.9</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:56.5</td>
      <td>+0.3</td>
      <td>+6.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:57.0</td>
      <td>+0.5</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>10:57.0</td>
      <td>+0.0</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>10:59.2</td>
      <td>+2.2</td>
      <td>+9.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>11:04.2</td>
      <td>+5.0</td>
      <td>+14.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>11:14.1</td>
      <td>+9.9</td>
      <td>+24.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:55:20.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:56:14.3</td>
      <td>+54.1</td>
      <td>+54.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:56:18.6</td>
      <td>+4.3</td>
      <td>+58.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:56:24.8</td>
      <td>+6.2</td>
      <td>+1:04.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:56:36.7</td>
      <td>+11.9</td>
      <td>+1:16.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:56:52.8</td>
      <td>+16.1</td>
      <td>+1:32.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:57:22.9</td>
      <td>+30.1</td>
      <td>+2:02.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:57:34.4</td>
      <td>+11.5</td>
      <td>+2:14.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:59:00.5</td>
      <td>+1:26.1</td>
      <td>+3:40.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:59:43.8</td>
      <td>+43.3</td>
      <td>+4:23.6</td>
    </tr>
  </tbody>
</table>

## SS19 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS19 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-19.0</td>
      <td>-36.7</td>
      <td>-55.6</td>
      <td>10:49.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-16.2</td>
      <td>-32.8</td>
      <td>-51.6</td>
      <td>10:52.6</td>
      <td>+2.8</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-15.3</td>
      <td>-30.8</td>
      <td>-48.2</td>
      <td>10:55.3</td>
      <td>+5.5</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-14.2</td>
      <td>-30.1</td>
      <td>-48.1</td>
      <td>10:56.2</td>
      <td>+6.4</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-16.0</td>
      <td>-31.0</td>
      <td>-47.3</td>
      <td>10:56.5</td>
      <td>+6.7</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-15.1</td>
      <td>-30.5</td>
      <td>-48.4</td>
      <td>10:57.0</td>
      <td>+7.2</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-14.8</td>
      <td>-30.9</td>
      <td>-48.9</td>
      <td>10:57.0</td>
      <td>+7.2</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-16.1</td>
      <td>-30.7</td>
      <td>-47.8</td>
      <td>10:59.2</td>
      <td>+9.4</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-14.5</td>
      <td>-26.4</td>
      <td>-42.6</td>
      <td>11:04.2</td>
      <td>+14.4</td>
      <td>+5.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-11.9</td>
      <td>-22.8</td>
      <td>-35.8</td>
      <td>11:14.1</td>
      <td>+24.3</td>
      <td>+9.9</td>
    </tr>
  </tbody>
</table>

## SS19 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:02:54.500000</td>
      <td>00:02:29.100000</td>
      <td>00:03:01.800000</td>
      <td>00:02:24.400000</td>
      <td>00:10:49.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:57.300000</td>
      <td>00:02:30.200000</td>
      <td>00:03:01.900000</td>
      <td>00:02:23.200000</td>
      <td>00:10:52.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:58.200000</td>
      <td>00:02:31.300000</td>
      <td>00:03:03.300000</td>
      <td>00:02:22.500000</td>
      <td>00:10:55.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:59.300000</td>
      <td>00:02:30.900000</td>
      <td>00:03:02.700000</td>
      <td>00:02:23.300000</td>
      <td>00:10:56.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:02:57.500000</td>
      <td>00:02:31.800000</td>
      <td>00:03:04.400000</td>
      <td>00:02:22.800000</td>
      <td>00:10:56.500000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:02:58.700000</td>
      <td>00:02:30.700000</td>
      <td>00:03:02.700000</td>
      <td>00:02:24.900000</td>
      <td>00:10:57</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:58.400000</td>
      <td>00:02:31.400000</td>
      <td>00:03:02.800000</td>
      <td>00:02:24.400000</td>
      <td>00:10:57</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:02:57.400000</td>
      <td>00:02:32.200000</td>
      <td>00:03:03.600000</td>
      <td>00:02:26</td>
      <td>00:10:59.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:59</td>
      <td>00:02:34.900000</td>
      <td>00:03:04.500000</td>
      <td>00:02:25.800000</td>
      <td>00:11:04.200000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:01.600000</td>
      <td>00:02:35.900000</td>
      <td>00:03:07.700000</td>
      <td>00:02:28.900000</td>
      <td>00:11:14.100000</td>
    </tr>
  </tbody>
</table>

## SS19 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS19.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS19 - overall rally positions at end of stage

By the end of a poor stage SS19 for previous overall leader J. LATVALA, E. LAPPI in the Toyota Yaris WRC gained one place, from second at end of the previous stage, to take overall lead of the rally, with a gap of +54.1 from J. HÄNNINEN for Toyota Gazoo Racing WRT in the Toyota Yaris WRC.

The overall leader from the previous stage, J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, dropped ten positions to eleventh, putting him +6:51.5 behind the overall leader.

J. HÄNNINEN, in the Toyota Yaris WRC, gained second place overall, gaining one position from third.

T. SUNINEN, for M-Sport World Rally Team, took third place overall, up one position from fourth, +58.4 behind the overall rally leader and +4.3 behind J. HÄNNINEN.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:55:20.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:56:14.3</td>
      <td>+54.1</td>
      <td>+54.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:56:18.6</td>
      <td>+4.3</td>
      <td>+58.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:56:24.8</td>
      <td>+6.2</td>
      <td>+1:04.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>1:56:36.7</td>
      <td>+11.9</td>
      <td>+1:16.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:56:52.8</td>
      <td>+16.1</td>
      <td>+1:32.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:57:22.9</td>
      <td>+30.1</td>
      <td>+2:02.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>1:57:34.4</td>
      <td>+11.5</td>
      <td>+2:14.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:59:00.5</td>
      <td>+1:26.1</td>
      <td>+3:40.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:59:43.8</td>
      <td>+43.3</td>
      <td>+4:23.6</td>
    </tr>
  </tbody>
</table>

## SS19 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS19.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS19.png)

### Stage position chart SS19

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS19.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>21</td>
      <td>21</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
      <td>45</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>46</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
      <td>47</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS19

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:55:20.2|        |          |          1|        1|       1
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:56:14.3|54.1    |54.1      |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:56:18.6|4.3     |58.4      |          3|        3|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:56:24.8|6.2     |+1:04.6   |          4|        4|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:56:36.7|11.9    |+1:16.5   |          5|        5|       4
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:56:52.8|16.1    |+1:32.6   |          6|        6|       5
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:57:22.9|30.1    |+2:02.7   |          7|        7|       6
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |1:57:34.4|11.5    |+2:14.2   |          8|        8|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:59:00.5|+1:26.1 |+3:40.3   |          9|        9|       8
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |1:59:43.8|43.3    |+4:23.6   |         10|       10|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:02:11.7|+2:27.9 |+6:51.5   |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |2:06:20.5|+1:07.4 |+11:00.3  |         16|       12|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |2:07:05.8|39.1    |+11:45.6  |         18|       13|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |3:40:04.8|+6:53.2 |+1:44:44.6|         54|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |3:47:02.7|+6:57.9 |+1:51:42.5|         55|       15|      12

## SS20 Pihlajakoski
 ### Distance: 14.90 km
*Rerun of stage SS14* 
First car 17:16

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 20:

On stage SS20, and with their third stage win, T. SUNINEN (FIN) and M. MARKKULA (FIN) (M-Sport World Rally Team) took the stage by +1.3 from E. EVANS (GBR) and co-driver D. BARRITT (GBR) (M-Sport World Rally Team), in a time of 6:49.0.

E. LAPPI (FIN) and J. FERM (FIN) (Toyota Gazoo Racing WRT), fifth on stage with a time of 6:53.0, and +4.0 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>6:49.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>6:50.3</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>6:50.8</td>
      <td>+0.5</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>6:52.9</td>
      <td>+2.1</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>6:53.0</td>
      <td>+0.1</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>6:53.9</td>
      <td>+0.9</td>
      <td>+4.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>6:54.3</td>
      <td>+0.4</td>
      <td>+5.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>6:54.5</td>
      <td>+0.2</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>6:59.9</td>
      <td>+5.4</td>
      <td>+10.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>7:00.7</td>
      <td>+0.8</td>
      <td>+11.7</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:02:13.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:03:07.6</td>
      <td>+54.4</td>
      <td>+54.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:03:08.6</td>
      <td>+1.0</td>
      <td>+55.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:03:15.1</td>
      <td>+6.5</td>
      <td>+1:01.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:03:30.6</td>
      <td>+15.5</td>
      <td>+1:17.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:03:47.3</td>
      <td>+16.7</td>
      <td>+1:34.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:04:22.8</td>
      <td>+35.5</td>
      <td>+2:09.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:04:27.3</td>
      <td>+4.5</td>
      <td>+2:14.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:06:01.2</td>
      <td>+1:33.9</td>
      <td>+3:48.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:06:34.6</td>
      <td>+33.4</td>
      <td>+4:21.4</td>
    </tr>
  </tbody>
</table>

## SS20 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS20.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS20 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS20.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-23.2</td>
      <td>6:49.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-21.6</td>
      <td>6:50.3</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-22.5</td>
      <td>6:50.8</td>
      <td>+1.8</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-21.1</td>
      <td>6:52.9</td>
      <td>+3.9</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-20.1</td>
      <td>6:53.0</td>
      <td>+4.0</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-19.9</td>
      <td>6:53.9</td>
      <td>+4.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-19.8</td>
      <td>6:54.3</td>
      <td>+5.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-20.0</td>
      <td>6:54.5</td>
      <td>+5.5</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-16.9</td>
      <td>6:59.9</td>
      <td>+10.9</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-17.4</td>
      <td>7:00.7</td>
      <td>+11.7</td>
      <td>+0.8</td>
    </tr>
  </tbody>
</table>

## SS20 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS20.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:50.900000</td>
      <td>00:02:58.100000</td>
      <td>00:06:49</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:52.500000</td>
      <td>00:02:57.800000</td>
      <td>00:06:50.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:51.600000</td>
      <td>00:02:59.200000</td>
      <td>00:06:50.800000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:53</td>
      <td>00:02:59.900000</td>
      <td>00:06:52.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:54</td>
      <td>00:02:59</td>
      <td>00:06:53</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:54.200000</td>
      <td>00:02:59.700000</td>
      <td>00:06:53.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:54.300000</td>
      <td>00:03:00</td>
      <td>00:06:54.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:54.100000</td>
      <td>00:03:00.400000</td>
      <td>00:06:54.500000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:57.200000</td>
      <td>00:03:02.700000</td>
      <td>00:06:59.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:56.700000</td>
      <td>00:03:04</td>
      <td>00:07:00.700000</td>
    </tr>
  </tbody>
</table>

## SS20 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS20.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS20 - overall rally positions at end of stage

After stage SS20, E. LAPPI remained in overall lead of the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, commanding a lead of +54.4.

T. SUNINEN, for M-Sport World Rally Team in the Ford Fiesta WRC, gained second place overall, up one position from third.

Previous second place overall, J. HÄNNINEN for Toyota Gazoo Racing WRT, fell back one positions to third, +55.4 behind the leader.

J. HÄNNINEN, for Toyota Gazoo Racing WRT, moved into third place overall, a loss of minus one positions from second, +55.4 behind the overall rally leader and trailing T. SUNINEN by +1.0.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:02:13.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:03:07.6</td>
      <td>+54.4</td>
      <td>+54.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:03:08.6</td>
      <td>+1.0</td>
      <td>+55.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:03:15.1</td>
      <td>+6.5</td>
      <td>+1:01.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:03:30.6</td>
      <td>+15.5</td>
      <td>+1:17.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:03:47.3</td>
      <td>+16.7</td>
      <td>+1:34.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:04:22.8</td>
      <td>+35.5</td>
      <td>+2:09.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:04:27.3</td>
      <td>+4.5</td>
      <td>+2:14.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:06:01.2</td>
      <td>+1:33.9</td>
      <td>+3:48.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:06:34.6</td>
      <td>+33.4</td>
      <td>+4:21.4</td>
    </tr>
  </tbody>
</table>

## SS20 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS20.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>15</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>11</td>
      <td>19</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td>53</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS20.png)

### Stage position chart SS20

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS20.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>21</td>
      <td>21</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>23</td>
      <td>23</td>
      <td>19</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
      <td>45</td>
      <td>44</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>46</td>
      <td>45</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
      <td>47</td>
      <td>46</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS20

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |2:02:13.2|        |          |          1|        1|       1
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:03:07.6|54.4    |54.4      |          2|        2|       1
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:03:08.6|1       |55.4      |          3|        3|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:03:15.1|6.5     |+1:01.9   |          4|        4|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:03:30.6|15.5    |+1:17.4   |          5|        5|       4
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:03:47.3|16.7    |+1:34.1   |          6|        6|       5
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:04:22.8|35.5    |+2:09.6   |          7|        7|       6
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |2:04:27.3|4.5     |+2:14.1   |          8|        8|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:06:01.2|+1:33.9 |+3:48.0   |          9|        9|       8
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |2:06:34.6|33.4    |+4:21.4   |         10|       10|       2
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |2:13:48.7|+1:09.6 |+11:35.5  |         15|       11|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |2:14:36.1|42.8    |+12:22.9  |         17|       12|       9
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:16:00.7|27.9    |+13:47.5  |         19|       13|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |3:53:53.8|+10:10.4|+1:51:40.6|         52|       14|      11
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |4:00:51.7|+6:57.9 |+1:58:38.5|         53|       15|      12

## SS21 P&#228;ij&#228;l&#228;
 ### Distance: 22.68 km
*Rerun of stage SS15* 
First car 18:24

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 21:

On stage SS21, and with their first stage win, M-Sport World Rally Team's E. EVANS (GBR) and D. BARRITT (GBR) took the stage by +0.6 from O. TÄNAK (EST) and co-driver M. JÄRVEOJA (EST) (M-Sport World Rally Team), in a time of 10:42.3.

E. LAPPI (FIN) and J. FERM (FIN) (Toyota Gazoo Racing WRT), seventh on stage with a time of 10:49.5, and +7.2 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:42.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>10:42.9</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:44.2</td>
      <td>+1.3</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:47.0</td>
      <td>+2.8</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>10:47.5</td>
      <td>+0.5</td>
      <td>+5.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>10:49.0</td>
      <td>+1.5</td>
      <td>+6.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>10:49.5</td>
      <td>+0.5</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:51.7</td>
      <td>+2.2</td>
      <td>+9.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:55.5</td>
      <td>+3.8</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>40</td>
      <td>J. HUTTUNEN</td>
      <td>11:21.7</td>
      <td>+26.2</td>
      <td>+39.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:13:02.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:13:51.8</td>
      <td>+49.1</td>
      <td>+49.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:13:56.1</td>
      <td>+4.3</td>
      <td>+53.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:13:57.4</td>
      <td>+1.3</td>
      <td>+54.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:14:19.6</td>
      <td>+22.2</td>
      <td>+1:16.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:14:34.3</td>
      <td>+14.7</td>
      <td>+1:31.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:15:10.2</td>
      <td>+35.9</td>
      <td>+2:07.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:16:01.8</td>
      <td>+51.6</td>
      <td>+2:59.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:16:56.7</td>
      <td>+54.9</td>
      <td>+3:54.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:17:26.3</td>
      <td>+29.6</td>
      <td>+4:23.6</td>
    </tr>
  </tbody>
</table>

## SS21 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS21.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS21 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS21.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-22.6</td>
      <td>-48.4</td>
      <td>10:42.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-23.0</td>
      <td>-47.7</td>
      <td>10:42.9</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-23.5</td>
      <td>-47.2</td>
      <td>10:44.2</td>
      <td>+1.9</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-21.5</td>
      <td>-45.9</td>
      <td>10:47.0</td>
      <td>+4.7</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-21.6</td>
      <td>-47.6</td>
      <td>10:47.5</td>
      <td>+5.2</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-20.9</td>
      <td>-44.0</td>
      <td>10:49.0</td>
      <td>+6.7</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-21.1</td>
      <td>-44.8</td>
      <td>10:49.5</td>
      <td>+7.2</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-21.9</td>
      <td>-42.1</td>
      <td>10:51.7</td>
      <td>+9.4</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-19.7</td>
      <td>-40.3</td>
      <td>10:55.5</td>
      <td>+13.2</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>14</th>
      <td>40</td>
      <td>J. HUTTUNEN</td>
      <td>-10.9</td>
      <td>-24.6</td>
      <td>11:21.7</td>
      <td>+39.4</td>
      <td>+26.2</td>
    </tr>
  </tbody>
</table>

## SS21 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 21, K. MEEKE lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS21.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:29.500000</td>
      <td>00:03:25.200000</td>
      <td>00:03:47.600000</td>
      <td>00:10:42.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:03:29.100000</td>
      <td>00:03:26.300000</td>
      <td>00:03:47.500000</td>
      <td>00:10:42.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:28.600000</td>
      <td>00:03:27.300000</td>
      <td>00:03:48.300000</td>
      <td>00:10:44.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:30.600000</td>
      <td>00:03:26.600000</td>
      <td>00:03:49.800000</td>
      <td>00:10:47</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:30.500000</td>
      <td>00:03:25</td>
      <td>00:03:52</td>
      <td>00:10:47.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:03:31.200000</td>
      <td>00:03:27.900000</td>
      <td>00:03:49.900000</td>
      <td>00:10:49</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:03:31</td>
      <td>00:03:27.300000</td>
      <td>00:03:51.200000</td>
      <td>00:10:49.500000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:30.200000</td>
      <td>00:03:30.800000</td>
      <td>00:03:50.700000</td>
      <td>00:10:51.700000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:32.400000</td>
      <td>00:03:30.400000</td>
      <td>00:03:52.700000</td>
      <td>00:10:55.500000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>40</td>
      <td>J. HUTTUNEN</td>
      <td>00:03:41.200000</td>
      <td>00:03:37.300000</td>
      <td>00:04:03.200000</td>
      <td>00:11:21.700000</td>
    </tr>
  </tbody>
</table>

## SS21 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS21.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS21 - overall rally positions at end of stage

At the end of stage SS21, E. LAPPI retained overall lead of the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, with a lead of +49.1.

T. SUNINEN, in the Ford Fiesta WRC, retained second place overall.

J. HÄNNINEN, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained third place overall, +53.4 behind the overall rally leader and +4.3 behind T. SUNINEN.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:13:02.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:13:51.8</td>
      <td>+49.1</td>
      <td>+49.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:13:56.1</td>
      <td>+4.3</td>
      <td>+53.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:13:57.4</td>
      <td>+1.3</td>
      <td>+54.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:14:19.6</td>
      <td>+22.2</td>
      <td>+1:16.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:14:34.3</td>
      <td>+14.7</td>
      <td>+1:31.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:15:10.2</td>
      <td>+35.9</td>
      <td>+2:07.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:16:01.8</td>
      <td>+51.6</td>
      <td>+2:59.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:16:56.7</td>
      <td>+54.9</td>
      <td>+3:54.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:17:26.3</td>
      <td>+29.6</td>
      <td>+4:23.6</td>
    </tr>
  </tbody>
</table>

## SS21 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS21.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>15</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>11</td>
      <td>19</td>
      <td>24</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td>52</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td>53</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS21.png)

### Stage position chart SS21

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS21.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>4</td>
      <td>9</td>
      <td>16</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>21</td>
      <td>21</td>
      <td>17</td>
      <td>21</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>23</td>
      <td>23</td>
      <td>19</td>
      <td>23</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>46</td>
      <td>45</td>
      <td>43</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
      <td>47</td>
      <td>46</td>
      <td>44</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
      <td>45</td>
      <td>44</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS21

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |2:13:02.7|        |          |          1|        1|       1
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:13:51.8|49.1    |49.1      |          2|        2|       1
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:13:56.1|4.3     |53.4      |          3|        3|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:13:57.4|1.3     |54.7      |          4|        4|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:14:19.6|22.2    |+1:16.9   |          5|        5|       4
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:14:34.3|14.7    |+1:31.6   |          6|        6|       5
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |2:15:10.2|35.9    |+2:07.5   |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:16:01.8|51.6    |+2:59.1   |          8|        8|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:16:56.7|54.9    |+3:54.0   |          9|        9|       8
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |2:17:26.3|29.6    |+4:23.6   |         10|       10|       2
   21|V. GORBAN    |S. LARENS   |Eurolamp World Rally Team  |WRCT       |2:25:46.0|15.4    |+12:43.3  |         16|       11|       1
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |2:26:39.3|53.3    |+13:36.6  |         17|       12|       9
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:33:43.0|59.9    |+20:40.3  |         24|       13|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |4:11:36.1|+12:26.7|+1:58:33.4|         52|       14|      11

# Day 4 (30/07/2017)
## Section 6 (Morning/Afternoon)

## SS22 Lemp&#228;&#228;
 ### Distance: 6.80 km
 
First car 09:25

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    3|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    6|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    7|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   13|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
  NaN|   21|V. GORBAN    |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 22:

On stage SS22, and with their seventh stage win, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC took the stage by +1.1 from J. HÄNNINEN (FIN) and K. LINDSTRÖM (FIN) (Toyota Gazoo Racing WRT), in a time of 3:08.4.

E. LAPPI (FIN) and J. FERM (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, seventh on stage with a time of 3:13.5, and +5.1 behind the stagewinner, retained overall lead of the rally.


There were 1 retirements amongst the wider RC1 competitors:
- V. GORBAN (UKR) / S. LARENS (EST) - OFF ROAD at SF22 in the *Eurolamp World Rally Team* Mini John Cooper Works WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:08.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:09.5</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:10.2</td>
      <td>+0.7</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>3:12.7</td>
      <td>+2.5</td>
      <td>+4.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>3:13.1</td>
      <td>+0.4</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:13.1</td>
      <td>+0.0</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>3:13.5</td>
      <td>+0.4</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>3:13.8</td>
      <td>+0.3</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:13.9</td>
      <td>+0.1</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>3:14.6</td>
      <td>+0.7</td>
      <td>+6.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:16:16.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:17:05.6</td>
      <td>+49.4</td>
      <td>+49.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:17:05.6</td>
      <td>+0.0</td>
      <td>+49.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:17:07.6</td>
      <td>+2.0</td>
      <td>+51.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:17:32.3</td>
      <td>+24.7</td>
      <td>+1:16.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:17:48.2</td>
      <td>+15.9</td>
      <td>+1:32.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:18:23.3</td>
      <td>+35.1</td>
      <td>+2:07.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:19:19.5</td>
      <td>+56.2</td>
      <td>+3:03.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:20:16.5</td>
      <td>+57.0</td>
      <td>+4:00.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:20:40.9</td>
      <td>+24.4</td>
      <td>+4:24.7</td>
    </tr>
  </tbody>
</table>

## SS22 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS22.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS22 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS22.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-14.7</td>
      <td>3:08.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-14.6</td>
      <td>3:09.5</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-14.2</td>
      <td>3:10.2</td>
      <td>+1.8</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-12.5</td>
      <td>3:12.7</td>
      <td>+4.3</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-12.2</td>
      <td>3:13.1</td>
      <td>+4.7</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-12.8</td>
      <td>3:13.1</td>
      <td>+4.7</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-11.9</td>
      <td>3:13.5</td>
      <td>+5.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-11.9</td>
      <td>3:13.8</td>
      <td>+5.4</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-11.1</td>
      <td>3:13.9</td>
      <td>+5.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-11.5</td>
      <td>3:14.6</td>
      <td>+6.2</td>
      <td>+0.7</td>
    </tr>
  </tbody>
</table>

## SS22 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 22, E. CAMILLI lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS22.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:52.400000</td>
      <td>00:01:16</td>
      <td>00:03:08.400000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:52.500000</td>
      <td>00:01:17</td>
      <td>00:03:09.500000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:52.900000</td>
      <td>00:01:17.300000</td>
      <td>00:03:10.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:01:54.600000</td>
      <td>00:01:18.100000</td>
      <td>00:03:12.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:01:54.900000</td>
      <td>00:01:18.200000</td>
      <td>00:03:13.100000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:54.300000</td>
      <td>00:01:18.800000</td>
      <td>00:03:13.100000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:55.200000</td>
      <td>00:01:18.300000</td>
      <td>00:03:13.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:55.200000</td>
      <td>00:01:18.600000</td>
      <td>00:03:13.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:56</td>
      <td>00:01:17.900000</td>
      <td>00:03:13.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:55.600000</td>
      <td>00:01:19</td>
      <td>00:03:14.600000</td>
    </tr>
  </tbody>
</table>

## SS22 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS22.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS22 - overall rally positions at end of stage

After stage SS22, E. LAPPI continued in overall lead of the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, with a gap to second of +49.4.

J. HÄNNINEN, in the Toyota Yaris WRC, took second place overall, gaining one place from third.

Previous second place overall, T. SUNINEN for M-Sport World Rally Team in the Ford Fiesta WRC, fell back one positions to third, +49.4 behind the leader.

T. SUNINEN, in the Ford Fiesta WRC, moved into third place overall, a drop of minus one places from second, +49.4 behind the overall rally leader and +0.0 behind J. HÄNNINEN in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:16:16.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:17:05.6</td>
      <td>+49.4</td>
      <td>+49.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:17:05.6</td>
      <td>+0.0</td>
      <td>+49.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:17:07.6</td>
      <td>+2.0</td>
      <td>+51.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:17:32.3</td>
      <td>+24.7</td>
      <td>+1:16.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:17:48.2</td>
      <td>+15.9</td>
      <td>+1:32.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:18:23.3</td>
      <td>+35.1</td>
      <td>+2:07.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:19:19.5</td>
      <td>+56.2</td>
      <td>+3:03.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:20:16.5</td>
      <td>+57.0</td>
      <td>+4:00.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:20:40.9</td>
      <td>+24.4</td>
      <td>+4:24.7</td>
    </tr>
  </tbody>
</table>

## SS22 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS22.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>11</td>
      <td>19</td>
      <td>24</td>
      <td>23</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td>52</td>
      <td>45</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td>53</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>15</td>
      <td>16</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS22.png)

### Stage position chart SS22

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS22.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>46</td>
      <td>45</td>
      <td>43</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
      <td>47</td>
      <td>46</td>
      <td>44</td>
      <td>6</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>4</td>
      <td>9</td>
      <td>16</td>
      <td>11</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>23</td>
      <td>23</td>
      <td>19</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
      <td>45</td>
      <td>44</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>21</td>
      <td>21</td>
      <td>17</td>
      <td>21</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS22

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |2:16:16.2|        |          |          1|        1|       1
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:17:05.6|49.4    |49.4      |          2|        2|       2
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:17:05.6|0       |49.4      |          3|        3|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:17:07.6|2       |51.4      |          4|        4|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:17:32.3|24.7    |+1:16.1   |          5|        5|       4
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:17:48.2|15.9    |+1:32.0   |          6|        6|       5
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |2:18:23.3|35.1    |+2:07.1   |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:19:19.5|56.2    |+3:03.3   |          8|        8|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:20:16.5|57      |+4:00.3   |          9|        9|       8
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |2:20:40.9|24.4    |+4:24.7   |         10|       10|       2
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |2:30:11.9|+1:09.7 |+13:55.7  |         16|       11|       9
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:36:51.4|17.7    |+20:35.2  |         23|       12|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |4:14:49.2|+15:20.1|+1:58:33.0|         45|       13|      11

## SS23 Oittila
 ### Distance: 10.12 km
 
First car 10:08

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    3|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    6|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    7|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   13|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1

## Stage Report 23:

On stage SS23, and with their eighth stage win, J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT) took the stage by +3.2 from T. SUNINEN (FIN) and M. MARKKULA (FIN) for M-Sport World Rally Team in the Ford Fiesta WRC, in a time of 4:52.1.

E. LAPPI (FIN) and J. FERM (FIN) in the Toyota Yaris WRC, eighth on stage with a time of 5:02.5, and +10.4 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>4:52.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>4:55.3</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>4:55.8</td>
      <td>+0.5</td>
      <td>+3.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>4:58.0</td>
      <td>+2.2</td>
      <td>+5.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>4:58.8</td>
      <td>+0.8</td>
      <td>+6.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>4:59.8</td>
      <td>+1.0</td>
      <td>+7.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>5:02.3</td>
      <td>+2.5</td>
      <td>+10.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>5:02.5</td>
      <td>+0.2</td>
      <td>+10.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>5:06.3</td>
      <td>+3.8</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>5:09.5</td>
      <td>+3.2</td>
      <td>+17.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:21:18.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:22:00.9</td>
      <td>+42.2</td>
      <td>+42.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:22:03.4</td>
      <td>+2.5</td>
      <td>+44.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:22:03.6</td>
      <td>+0.2</td>
      <td>+44.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:22:38.6</td>
      <td>+35.0</td>
      <td>+1:19.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:22:58.0</td>
      <td>+19.4</td>
      <td>+1:39.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:23:23.1</td>
      <td>+25.1</td>
      <td>+2:04.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:24:29.1</td>
      <td>+1:06.0</td>
      <td>+3:10.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:25:26.0</td>
      <td>+56.9</td>
      <td>+4:07.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:25:43.2</td>
      <td>+17.2</td>
      <td>+4:24.5</td>
    </tr>
  </tbody>
</table>

## SS23 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS23.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS23 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS23.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-21.5</td>
      <td>4:52.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-18.3</td>
      <td>4:55.3</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-18.4</td>
      <td>4:55.8</td>
      <td>+3.7</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-18.8</td>
      <td>4:58.0</td>
      <td>+5.9</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-18.5</td>
      <td>4:58.8</td>
      <td>+6.7</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-17.9</td>
      <td>4:59.8</td>
      <td>+7.7</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-14.6</td>
      <td>5:02.3</td>
      <td>+10.2</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-13.8</td>
      <td>5:02.5</td>
      <td>+10.4</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-14.0</td>
      <td>5:06.3</td>
      <td>+14.2</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-9.7</td>
      <td>5:09.5</td>
      <td>+17.4</td>
      <td>+3.2</td>
    </tr>
  </tbody>
</table>

## SS23 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 23, E. CAMILLI lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS23.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:20.200000</td>
      <td>00:02:31.900000</td>
      <td>00:04:52.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:02:23.400000</td>
      <td>00:02:31.900000</td>
      <td>00:04:55.300000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:23.300000</td>
      <td>00:02:32.500000</td>
      <td>00:04:55.800000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:22.900000</td>
      <td>00:02:35.100000</td>
      <td>00:04:58</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:23.200000</td>
      <td>00:02:35.600000</td>
      <td>00:04:58.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:02:23.800000</td>
      <td>00:02:36</td>
      <td>00:04:59.800000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:27.100000</td>
      <td>00:02:35.200000</td>
      <td>00:05:02.300000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:02:27.900000</td>
      <td>00:02:34.600000</td>
      <td>00:05:02.500000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:02:27.700000</td>
      <td>00:02:38.600000</td>
      <td>00:05:06.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:32</td>
      <td>00:02:37.500000</td>
      <td>00:05:09.500000</td>
    </tr>
  </tbody>
</table>

## SS23 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS23.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS23 - overall rally positions at end of stage

At the end of stage SS23, E. LAPPI remained in overall lead of the rally for Toyota Gazoo Racing WRT, +42.2 ahead of second.

T. SUNINEN, for M-Sport World Rally Team, gained second place overall, improving one position from third.

Previous second place overall, J. HÄNNINEN for Toyota Gazoo Racing WRT, fell back two positions to fourth, +44.9 behind the leader.

E. EVANS, for M-Sport World Rally Team, took third place overall, up one place from fourth, +44.7 behind the overall rally leader and trailing T. SUNINEN in second by +2.5.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:21:18.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:22:00.9</td>
      <td>+42.2</td>
      <td>+42.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:22:03.4</td>
      <td>+2.5</td>
      <td>+44.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:22:03.6</td>
      <td>+0.2</td>
      <td>+44.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:22:38.6</td>
      <td>+35.0</td>
      <td>+1:19.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:22:58.0</td>
      <td>+19.4</td>
      <td>+1:39.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:23:23.1</td>
      <td>+25.1</td>
      <td>+2:04.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:24:29.1</td>
      <td>+1:06.0</td>
      <td>+3:10.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:25:26.0</td>
      <td>+56.9</td>
      <td>+4:07.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:25:43.2</td>
      <td>+17.2</td>
      <td>+4:24.5</td>
    </tr>
  </tbody>
</table>

## SS23 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS23.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
      <th>SS23</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>11</td>
      <td>19</td>
      <td>24</td>
      <td>23</td>
      <td>21</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td>52</td>
      <td>45</td>
      <td>43</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td>53</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>15</td>
      <td>16</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS23.png)

### Stage position chart SS23

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS23.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
      <th>SS23</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>46</td>
      <td>45</td>
      <td>43</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
      <td>47</td>
      <td>46</td>
      <td>44</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>8</td>
      <td>10</td>
      <td>7</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>4</td>
      <td>9</td>
      <td>16</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>4</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>23</td>
      <td>23</td>
      <td>19</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
      <td>45</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>21</td>
      <td>21</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS23

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |2:21:18.7|        |          |          1|        1|       1
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:22:00.9|42.2    |42.2      |          2|        2|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:22:03.4|2.5     |44.7      |          3|        3|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:22:03.6|0.2     |44.9      |          4|        4|       3
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:22:38.6|35      |+1:19.9   |          5|        5|       4
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:22:58.0|19.4    |+1:39.3   |          6|        6|       5
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |2:23:23.1|25.1    |+2:04.4   |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:24:29.1|+1:06.0 |+3:10.4   |          8|        8|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:25:26.0|56.9    |+4:07.3   |          9|        9|       8
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |2:25:43.2|17.2    |+4:24.5   |         10|       10|       2
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |2:35:37.7|+1:10.4 |+14:19.0  |         16|       11|       9
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:41:43.5|+1:44.5 |+20:24.8  |         21|       12|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |4:19:48.0|+13:39.0|+1:58:29.3|         43|       13|      11

## SS24 Lemp&#228;&#228;
 ### Distance: 6.80 km
*Rerun of stage SS22* 
First car 11:47

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    2|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    3|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    4|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    6|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    7|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   12|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   13|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1

## Stage Report 24:

On stage SS24, and with their first stage win, J. HÄNNINEN (FIN) and K. LINDSTRÖM (FIN) (Toyota Gazoo Racing WRT) took the stage by +0.0 from Toyota Gazoo Racing WRT's J. LATVALA (FIN) and M. ANTTILA (FIN), in a time of 3:08.3.

E. LAPPI (FIN) and J. FERM (FIN) (Toyota Gazoo Racing WRT), tenth on stage with a time of 3:15.4, and +7.1 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:08.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:08.3</td>
      <td>+0.0</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>3:08.8</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:09.1</td>
      <td>+0.3</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:09.4</td>
      <td>+0.3</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:11.4</td>
      <td>+2.0</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>3:11.6</td>
      <td>+0.2</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>3:12.6</td>
      <td>+1.0</td>
      <td>+4.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:15.4</td>
      <td>+2.8</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>3:15.4</td>
      <td>+0.0</td>
      <td>+7.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:24:34.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:25:11.9</td>
      <td>+37.8</td>
      <td>+37.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:25:12.8</td>
      <td>+0.9</td>
      <td>+38.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:25:28.5</td>
      <td>+15.7</td>
      <td>+54.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:25:51.2</td>
      <td>+22.7</td>
      <td>+1:17.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:26:09.4</td>
      <td>+18.2</td>
      <td>+1:35.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:26:31.9</td>
      <td>+22.5</td>
      <td>+1:57.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:27:44.5</td>
      <td>+1:12.6</td>
      <td>+3:10.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:28:42.3</td>
      <td>+57.8</td>
      <td>+4:08.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:28:54.8</td>
      <td>+12.5</td>
      <td>+4:20.7</td>
    </tr>
  </tbody>
</table>

## SS24 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS24.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS24 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS24.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-14.7</td>
      <td>3:08.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-14.8</td>
      <td>3:08.3</td>
      <td>+0.0</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-14.0</td>
      <td>3:08.8</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-14.2</td>
      <td>3:09.1</td>
      <td>+0.8</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-14.0</td>
      <td>3:09.4</td>
      <td>+1.1</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-12.0</td>
      <td>3:11.4</td>
      <td>+3.1</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-12.8</td>
      <td>3:11.6</td>
      <td>+3.3</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>-11.8</td>
      <td>3:12.6</td>
      <td>+4.3</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-13.9</td>
      <td>3:15.4</td>
      <td>+7.1</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-10.5</td>
      <td>3:15.4</td>
      <td>+7.1</td>
      <td>+2.8</td>
    </tr>
  </tbody>
</table>

## SS24 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_232/chart_stage_sector_delta_SS24.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:52.100000</td>
      <td>00:01:16.200000</td>
      <td>00:03:08.300000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:52</td>
      <td>00:01:16.300000</td>
      <td>00:03:08.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:01:52.800000</td>
      <td>00:01:16</td>
      <td>00:03:08.800000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:52.600000</td>
      <td>00:01:16.500000</td>
      <td>00:03:09.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:52.800000</td>
      <td>00:01:16.600000</td>
      <td>00:03:09.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:54.800000</td>
      <td>00:01:16.600000</td>
      <td>00:03:11.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:54</td>
      <td>00:01:17.600000</td>
      <td>00:03:11.600000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:01:55</td>
      <td>00:01:17.600000</td>
      <td>00:03:12.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:56.300000</td>
      <td>00:01:19.100000</td>
      <td>00:03:15.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:52.900000</td>
      <td>00:01:22.500000</td>
      <td>00:03:15.400000</td>
    </tr>
  </tbody>
</table>

## SS24 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS24.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS24 - overall rally positions at end of stage

At the end of stage SS24, E. LAPPI continued in overall lead of the rally in the Toyota Yaris WRC, commanding a lead of +37.8.

J. HÄNNINEN, for Toyota Gazoo Racing WRT, gained second place overall, improving two positions from fourth.

Previous second place overall, T. SUNINEN for M-Sport World Rally Team in the Ford Fiesta WRC, fell back two positions to fourth, +54.4 behind the leader.

E. EVANS, for M-Sport World Rally Team, retained third place overall, +38.7 behind the overall rally leader and trailing second placed J. HÄNNINEN by +0.9.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:24:34.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:25:11.9</td>
      <td>+37.8</td>
      <td>+37.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:25:12.8</td>
      <td>+0.9</td>
      <td>+38.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:25:28.5</td>
      <td>+15.7</td>
      <td>+54.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:25:51.2</td>
      <td>+22.7</td>
      <td>+1:17.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:26:09.4</td>
      <td>+18.2</td>
      <td>+1:35.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:26:31.9</td>
      <td>+22.5</td>
      <td>+1:57.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:27:44.5</td>
      <td>+1:12.6</td>
      <td>+3:10.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:28:42.3</td>
      <td>+57.8</td>
      <td>+4:08.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:28:54.8</td>
      <td>+12.5</td>
      <td>+4:20.7</td>
    </tr>
  </tbody>
</table>

## SS24 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS24.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
      <th>SS23</th>
      <th>SS24</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>11</td>
      <td>19</td>
      <td>24</td>
      <td>23</td>
      <td>21</td>
      <td>21</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td>52</td>
      <td>45</td>
      <td>43</td>
      <td>43</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td>53</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>15</td>
      <td>16</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS24.png)

### Stage position chart SS24

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS24.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
      <th>SS23</th>
      <th>SS24</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>46</td>
      <td>45</td>
      <td>43</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
      <td>47</td>
      <td>46</td>
      <td>44</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>4</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>8</td>
      <td>10</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>4</td>
      <td>9</td>
      <td>16</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>21</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>23</td>
      <td>23</td>
      <td>19</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
      <td>45</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>21</td>
      <td>21</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS24

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |2:24:34.1|        |          |          1|        1|       1
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:25:11.9|37.8    |37.8      |          2|        2|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:25:12.8|0.9     |38.7      |          3|        3|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:25:28.5|15.7    |54.4      |          4|        4|       1
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:25:51.2|22.7    |+1:17.1   |          5|        5|       4
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:26:09.4|18.2    |+1:35.3   |          6|        6|       5
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |2:26:31.9|22.5    |+1:57.8   |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:27:44.5|+1:12.6 |+3:10.4   |          8|        8|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:28:42.3|57.8    |+4:08.2   |          9|        9|       8
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |2:28:54.8|12.5    |+4:20.7   |         10|       10|       2
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |2:39:08.8|+1:14.1 |+14:34.7  |         16|       11|       9
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:44:51.8|+1:14.1 |+20:17.7  |         21|       12|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |4:22:57.1|+12:30.7|+1:58:23.0|         43|       13|      11

## SS25 Oittila 2 (Power Stage)
 ### Distance: 10.12 km
 
First car 13:18

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    8|K. AL QASSIMI|Citroën Total Abu Dhabi WRT|M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    7|K. MEEKE     |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    2|O. TÄNAK     |M-Sport World Rally Team   |M          |RC1       
    8|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    9|    9|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   11|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
   12|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   13|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 25:

On stage SS25, and with their second stage win, O. TÄNAK (EST) and M. JÄRVEOJA (EST) (M-Sport World Rally Team) took the stage by +1.5 from E. EVANS (GBR) and D. BARRITT (GBR) (M-Sport World Rally Team), in a time of 4:48.6.

Toyota Gazoo Racing WRT's E. LAPPI (FIN) and co-driver J. FERM (FIN), sixth on stage with a time of 4:52.8, and +4.2 behind the stagewinner, retained overall lead of the rally.


There were 1 retirements amongst the RC1 (M) competitors  around stage 25:
- H. PADDON (NZL) / S. MARSHALL (GBR) - MECHANICAL at TC25C in the *Hyundai Motorsport* Hyundai i20 Coupe WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>4:48.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>4:50.1</td>
      <td>+1.5</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>4:50.6</td>
      <td>+0.5</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>4:50.9</td>
      <td>+0.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>4:51.3</td>
      <td>+0.4</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>4:52.8</td>
      <td>+1.5</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>4:53.3</td>
      <td>+0.5</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>4:55.0</td>
      <td>+1.7</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>4:56.1</td>
      <td>+1.1</td>
      <td>+7.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>4:58.3</td>
      <td>+2.2</td>
      <td>+9.7</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:29:26.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:30:02.9</td>
      <td>+36.0</td>
      <td>+36.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:30:03.2</td>
      <td>+0.3</td>
      <td>+36.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:30:28.4</td>
      <td>+25.2</td>
      <td>+1:01.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:30:49.5</td>
      <td>+21.1</td>
      <td>+1:22.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:31:00.0</td>
      <td>+10.5</td>
      <td>+1:33.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:31:20.5</td>
      <td>+20.5</td>
      <td>+1:53.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:32:39.5</td>
      <td>+1:19.0</td>
      <td>+3:12.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:33:38.4</td>
      <td>+58.9</td>
      <td>+4:11.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:33:48.1</td>
      <td>+9.7</td>
      <td>+4:21.2</td>
    </tr>
  </tbody>
</table>

## SS25 - stage split time, rank position

![](images/2017_232/chart_stage_split_pos_SS25.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS25 - stage split delta time (seconds) to first on stage

![](images/2017_232/split_delta_firstonstage_SS25.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>-5.1</td>
      <td>4:48.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-5.7</td>
      <td>4:50.1</td>
      <td>+1.5</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-3.9</td>
      <td>4:50.6</td>
      <td>+2.0</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-5.2</td>
      <td>4:50.9</td>
      <td>+2.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-2.8</td>
      <td>4:51.3</td>
      <td>+2.7</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>13</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>-3.4</td>
      <td>4:52.8</td>
      <td>+4.2</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-3.2</td>
      <td>4:53.3</td>
      <td>+4.7</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-0.6</td>
      <td>4:55.0</td>
      <td>+6.4</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+0.5</td>
      <td>4:56.1</td>
      <td>+7.5</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>+1.6</td>
      <td>4:58.3</td>
      <td>+9.7</td>
      <td>+2.2</td>
    </tr>
  </tbody>
</table>

## SS25 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 25, E. CAMILLI lost ground in the final part of the stage.

![](images/2017_232/chart_stage_sector_delta_SS25.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>00:02:19.800000</td>
      <td>00:02:28.800000</td>
      <td>00:04:48.600000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:19.200000</td>
      <td>00:02:30.900000</td>
      <td>00:04:50.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:21</td>
      <td>00:02:29.600000</td>
      <td>00:04:50.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:19.700000</td>
      <td>00:02:31.200000</td>
      <td>00:04:50.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:22.100000</td>
      <td>00:02:29.200000</td>
      <td>00:04:51.300000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:02:21.500000</td>
      <td>00:02:31.300000</td>
      <td>00:04:52.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:21.700000</td>
      <td>00:02:31.600000</td>
      <td>00:04:53.300000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:24.300000</td>
      <td>00:02:30.700000</td>
      <td>00:04:55</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:25.400000</td>
      <td>00:02:30.700000</td>
      <td>00:04:56.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>00:02:26.500000</td>
      <td>00:02:31.800000</td>
      <td>00:04:58.300000</td>
    </tr>
  </tbody>
</table>

## SS25 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_232/split_delta_rebase_SS25.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS25 - overall rally positions at end of stage

At the end of stage SS25, E. LAPPI continued to lead the rally in the Toyota Yaris WRC, commanding a lead of +36.0.

E. EVANS, for M-Sport World Rally Team, gained second place overall, improving one position from third.

Previous second place overall, J. HÄNNINEN for Toyota Gazoo Racing WRT, fell back one positions to third, +36.3 behind the leader.

J. HÄNNINEN, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, took third place overall, down minus one positions from second, +36.3 behind the overall rally leader and +0.3 behind second placed E. EVANS.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>2:29:26.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:30:02.9</td>
      <td>+36.0</td>
      <td>+36.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:30:03.2</td>
      <td>+0.3</td>
      <td>+36.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:30:28.4</td>
      <td>+25.2</td>
      <td>+1:01.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>C. BREEN</td>
      <td>2:30:49.5</td>
      <td>+21.1</td>
      <td>+1:22.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:31:00.0</td>
      <td>+10.5</td>
      <td>+1:33.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TÄNAK</td>
      <td>2:31:20.5</td>
      <td>+20.5</td>
      <td>+1:53.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:32:39.5</td>
      <td>+1:19.0</td>
      <td>+3:12.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:33:38.4</td>
      <td>+58.9</td>
      <td>+4:11.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:33:48.1</td>
      <td>+9.7</td>
      <td>+4:21.2</td>
    </tr>
  </tbody>
</table>

## SS25 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_232/overall_SS25.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
      <th>SS23</th>
      <th>SS24</th>
      <th>SS25</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>8</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>10</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>29</td>
      <td>27</td>
      <td>24</td>
      <td>22</td>
      <td>22</td>
      <td>21</td>
      <td>19</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>11</td>
      <td>19</td>
      <td>24</td>
      <td>23</td>
      <td>21</td>
      <td>21</td>
      <td>21</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>53</td>
      <td>56</td>
      <td>58</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td>54</td>
      <td>54</td>
      <td>52</td>
      <td>52</td>
      <td>45</td>
      <td>43</td>
      <td>43</td>
      <td>43</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>2</td>
      <td>6</td>
      <td>54</td>
      <td>57</td>
      <td>60</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>55</td>
      <td>55</td>
      <td>53</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>32</td>
      <td>27</td>
      <td>24</td>
      <td>24</td>
      <td>23</td>
      <td>22</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td>15</td>
      <td>16</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_232/overall_td_diffFirst_SS25.png)

### Stage position chart SS25

*Showing stage position for each stage.*

![](images/2017_232/stageStage_SS25.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
      <th>SS23</th>
      <th>SS24</th>
      <th>SS25</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TÄNAK</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>32</td>
      <td>6</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>4</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>4</td>
      <td>8</td>
      <td>9</td>
      <td>7</td>
      <td>1</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>4</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>46</td>
      <td>45</td>
      <td>43</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>6</td>
      <td>10</td>
      <td>11</td>
      <td>2</td>
      <td>4</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>7</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>13</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>39</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>8</td>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>4</td>
      <td>9</td>
      <td>16</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>13</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>C. BREEN</th>
      <td>4</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>3</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>12</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>8</td>
      <td>2</td>
      <td>21</td>
      <td>11</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>61</td>
      <td>57</td>
      <td>57</td>
      <td>55</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>53</td>
      <td>53</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>47</td>
      <td>47</td>
      <td>46</td>
      <td>44</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>K. AL QASSIMI</th>
      <td>28</td>
      <td>27</td>
      <td>24</td>
      <td>25</td>
      <td>23</td>
      <td>14</td>
      <td>12</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>22</td>
      <td>20</td>
      <td>15</td>
      <td>26</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>23</td>
      <td>23</td>
      <td>19</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>5</td>
      <td>10</td>
      <td>60</td>
      <td>56</td>
      <td>56</td>
      <td>54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>52</td>
      <td>52</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
      <td>45</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>33</td>
      <td>31</td>
      <td>23</td>
      <td>24</td>
      <td>24</td>
      <td>21</td>
      <td>14</td>
      <td>24</td>
      <td>20</td>
      <td>18</td>
      <td>20</td>
      <td>22</td>
      <td>25</td>
      <td>24</td>
      <td>20</td>
      <td>20</td>
      <td>17</td>
      <td>21</td>
      <td>21</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS25

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |2:29:26.9|        |          |          1|        1|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:30:02.9|36      |36        |          2|        2|       2
   11|J. HÄNNINEN  |K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:30:03.2|0.3     |36.3      |          3|        3|       3
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:30:28.4|25.2    |+1:01.5   |          4|        4|       1
    9|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:30:49.5|21.1    |+1:22.6   |          5|        5|       4
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:31:00.0|10.5    |+1:33.1   |          6|        6|       5
    2|O. TÄNAK     |M. JÄRVEOJA |M-Sport World Rally Team   |M          |2:31:20.5|20.5    |+1:53.6   |          7|        7|       6
    7|K. MEEKE     |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:32:39.5|+1:19.0 |+3:12.6   |          8|        8|       7
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:33:38.4|58.9    |+4:11.5   |          9|        9|       8
   14|M. OSTBERG   |T. ERIKSEN  |M-Sport World Rally Team   |           |2:33:48.1|9.7     |+4:21.2   |         10|       10|       2
    8|K. AL QASSIMI|C. PATTERSON|Citroën Total Abu Dhabi WRT|M          |2:44:32.2|+1:18.3 |+15:05.3  |         16|       11|       9
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:49:42.7|38.2    |+20:15.8  |         21|       12|      10
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |4:27:58.2|+10:56.5|+1:58:31.3|         43|       13|      11