# WRC Rally - Poland, 2017

# Day 1 (29/06/2017)
## Section 1 (Evening)

## SS1 Super Special Stage Mikolajki Arena -
 ### Distance: 2.50 km
 
First car 19:08

*A short stage with no splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
   17|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1       
   19|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   20|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   21|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   22|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   23|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   24|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   25|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   26|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   27|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   28|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   29|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
   30|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
   31|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   32|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   33|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   34|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1

## Stage Report 1:

In stage SS1, E. EVANS (GBR) and co-driver D. BARRITT (GBR) for M-Sport World Rally Team in the Ford Fiesta WRC took the stage, and the lead of the rally, with a time of 1:44.4, +0.8 ahead of second on stage T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport).


There were 1 penalties amongst the RC1 (M) competitors around stage 1:
- J. HÄNNINEN / K. LINDSTROM received a 00:10 penalty, (JUMP START, SS1) in the *Toyota Gazoo Racing WRT* Toyota Yaris WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:44.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.2</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.3</td>
      <td>+0.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:45.7</td>
      <td>+0.4</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:45.8</td>
      <td>+0.1</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:45.9</td>
      <td>+0.1</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:45.9</td>
      <td>+0.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:45.9</td>
      <td>+0.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>1:46.0</td>
      <td>+0.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:46.2</td>
      <td>+0.2</td>
      <td>+1.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:44.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.2</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.3</td>
      <td>+0.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:45.7</td>
      <td>+0.4</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:45.8</td>
      <td>+0.1</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:45.9</td>
      <td>+0.1</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:45.9</td>
      <td>+0.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:45.9</td>
      <td>+0.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>1:46.0</td>
      <td>+0.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:46.2</td>
      <td>+0.2</td>
      <td>+1.8</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS1 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:44.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>34</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.2</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.3</td>
      <td>+0.9</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>32</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:45.7</td>
      <td>+1.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:45.8</td>
      <td>+1.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:45.9</td>
      <td>+1.5</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:45.9</td>
      <td>+1.5</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:45.9</td>
      <td>+1.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>1:46.0</td>
      <td>+1.6</td>
      <td>+0.1</td>
    </tr>
  </tbody>
</table>

## SS1 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:44.400000</td>
    </tr>
    <tr>
      <th>34</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:45.300000</td>
    </tr>
    <tr>
      <th>32</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:45.700000</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:45.800000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:45.900000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:45.900000</td>
    </tr>
    <tr>
      <th>28</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:45.900000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:01:46</td>
    </tr>
    <tr>
      <th>26</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:46.200000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS1.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS1 - overall rally positions at end of stage

On the first completed stage, SS1, E. EVANS took the stage for M-Sport World Rally Team, and along with it the lead of the rally, going +0.8 ahead overall.

T. NEUVILLE, in the Hyundai i20 Coupe WRC, gained second place overall.

S. OGIER, for M-Sport World Rally Team in the Ford Fiesta WRC, moved to third place overall, +0.9 behind the overall rally leader and trailing T. NEUVILLE in second by +0.1.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:44.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.2</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.3</td>
      <td>+0.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:45.7</td>
      <td>+0.4</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:45.8</td>
      <td>+0.1</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>1:45.9</td>
      <td>+0.1</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:45.9</td>
      <td>+0.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:45.9</td>
      <td>+0.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>1:46.0</td>
      <td>+0.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:46.2</td>
      <td>+0.2</td>
      <td>+1.8</td>
    </tr>
  </tbody>
</table>

## SS1 - Overall rank evolution

## Full Overall Results at end of SS1

carNo| driverName  |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|------|-------:|--------:|----------:|--------:|-------:
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:44.4|        |         |          1|        1|       1
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:45.2|     0.8|      0.8|          2|        2|       2
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:45.3|     0.1|      0.9|          3|        3|       3
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:45.7|     0.4|      1.3|          4|        4|       4
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |1:45.8|     0.1|      1.4|          5|        5|       5
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:45.9|     0.1|      1.5|          6|        6|       6
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:45.9|     0.0|      1.5|          7|        7|       7
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:45.9|     0.0|      1.5|          8|        8|       8
    7|A. MIKKELSEN |A. JAEGER   |Citroën Total Abu Dhabi WRT|M          |1:46.0|     0.1|      1.6|          9|        9|       9
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:46.2|     0.2|      1.8|         10|       10|      10
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |1:46.4|     0.2|      2.0|         11|       11|       1
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:46.6|     0.2|      2.2|         12|       12|      11
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:47.2|     0.6|      2.8|         13|       13|       2
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |1:49.6|     0.1|      5.2|         16|       14|       1
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |1:51.1|     0.2|      6.7|         22|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |1:53.5|     0.5|      9.1|         32|       16|       3
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:56.2|     2.2|     11.8|         34|       17|      12

# Day 2 (30/06/2017)
## Section 2 (Morning)

## SS2 Chmielewo -
 ### Distance: 6.52 km
 
First car 07:15

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   12|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   13|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   14|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   15|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   16|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   17|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 2:

In stage SS2, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport took the stage, and their first stage win, in 3:22.9, +0.2 ahead of J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC.

As well as taking the stage, his +19.2 gain over E. EVANS (GBR) and D. BARRITT (GBR) for M-Sport World Rally Team in the Ford Fiesta WRC, the rally leader going into the stage, meant T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:22.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:23.1</td>
      <td>+0.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:24.3</td>
      <td>+1.2</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:24.5</td>
      <td>+0.2</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>3:27.7</td>
      <td>+3.2</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:29.5</td>
      <td>+1.8</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:31.2</td>
      <td>+1.7</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>3:31.2</td>
      <td>+0.0</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>3:32.1</td>
      <td>+0.9</td>
      <td>+9.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>3:32.8</td>
      <td>+0.7</td>
      <td>+9.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:08.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:08.8</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>5:09.6</td>
      <td>+0.8</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>5:10.3</td>
      <td>+0.7</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>5:13.6</td>
      <td>+3.3</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>5:17.1</td>
      <td>+3.5</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>5:17.1</td>
      <td>+0.0</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>5:18.1</td>
      <td>+1.0</td>
      <td>+10.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>5:19.2</td>
      <td>+1.1</td>
      <td>+11.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>5:20.0</td>
      <td>+0.8</td>
      <td>+11.9</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS2 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+0.8</td>
      <td>3:22.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+1.8</td>
      <td>3:23.1</td>
      <td>+0.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:51.6</td>
      <td>3:24.3</td>
      <td>+1.4</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+1.8</td>
      <td>3:24.5</td>
      <td>+1.6</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>+4.7</td>
      <td>3:27.7</td>
      <td>+4.8</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+2.0</td>
      <td>3:29.5</td>
      <td>+6.6</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+4.9</td>
      <td>3:31.2</td>
      <td>+8.3</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>+5.1</td>
      <td>3:31.2</td>
      <td>+8.3</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>+5.0</td>
      <td>3:32.1</td>
      <td>+9.2</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+8.1</td>
      <td>3:32.8</td>
      <td>+9.9</td>
      <td>+0.7</td>
    </tr>
  </tbody>
</table>

## SS2 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:52.400000</td>
      <td>00:01:30.500000</td>
      <td>00:03:22.900000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:53.400000</td>
      <td>00:01:29.700000</td>
      <td>00:03:23.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:51.600000</td>
      <td>00:01:32.700000</td>
      <td>00:03:24.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:53.400000</td>
      <td>00:01:31.100000</td>
      <td>00:03:24.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:01:56.300000</td>
      <td>00:01:31.400000</td>
      <td>00:03:27.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:53.600000</td>
      <td>00:01:35.900000</td>
      <td>00:03:29.500000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:56.700000</td>
      <td>00:01:34.500000</td>
      <td>00:03:31.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:56.500000</td>
      <td>00:01:34.700000</td>
      <td>00:03:31.200000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:01:56.600000</td>
      <td>00:01:35.500000</td>
      <td>00:03:32.100000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:59.700000</td>
      <td>00:01:33.100000</td>
      <td>00:03:32.800000</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS2.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS2 - overall rally positions at end of stage

By the end of a disastrous stage SS2 for previous overall leader E. EVANS, T. NEUVILLE for Hyundai Motorsport improved by one position, from second at end of the previous stage, to take overall lead of the rally, with a gap of +0.7 from J. LATVALA for Toyota Gazoo Racing WRT in the Toyota Yaris WRC.

The overall leader from the previous stage, E. EVANS, for M-Sport World Rally Team in the Ford Fiesta WRC, dropped twelve places to thirteenth, putting him +18.4 behind the overall leader.

J. LATVALA, for Toyota Gazoo Racing WRT, gained second place overall, improving two positions from fourth.

S. OGIER, in the Ford Fiesta WRC, retained third place overall, +1.5 behind the overall rally leader and +0.8 behind second placed J. LATVALA.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:08.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:08.8</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>5:09.6</td>
      <td>+0.8</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>5:10.3</td>
      <td>+0.7</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>5:13.6</td>
      <td>+3.3</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>5:17.1</td>
      <td>+3.5</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>5:17.1</td>
      <td>+0.0</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>5:18.1</td>
      <td>+1.0</td>
      <td>+10.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>5:19.2</td>
      <td>+1.1</td>
      <td>+11.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>5:20.0</td>
      <td>+0.8</td>
      <td>+11.9</td>
    </tr>
  </tbody>
</table>

## SS2 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS2.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS2.png)

### Stage position chart SS2

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS2.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS2

carNo| driverName  |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|------|-------:|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |5:08.1|        |         |          1|        1|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |5:08.8|     0.7|0.7      |          2|        2|       2
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |5:09.6|     0.8|1.5      |          3|        3|       3
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |5:10.3|     0.7|2.2      |          4|        4|       4
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |5:13.6|     3.3|5.5      |          5|        5|       5
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |5:17.1|     3.5|9        |          6|        6|       6
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |5:17.1|     0.0|9        |          7|        7|       7
    7|A. MIKKELSEN |A. JAEGER   |Citroën Total Abu Dhabi WRT|M          |5:18.1|     1.0|10       |          8|        8|       8
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |5:19.2|     1.1|11.1     |          9|        9|       9
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |5:20.0|     0.8|11.9     |         10|       10|       1
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |5:25.0|     5.0|16.9     |         11|       11|       2
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |5:25.7|     0.7|17.6     |         12|       12|      10
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |5:26.5|     0.8|18.4     |         13|       13|      11
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |5:45.5|     6.3|37.4     |         17|       14|       1
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |5:49.9|     4.4|41.8     |         18|       15|      12
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |6:13.5|     4.7|+1:05.4  |         31|       16|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |6:33.2|     3.8|+1:25.1  |         33|       17|       3

## SS3 Wieliczki -
 ### Distance: 15.05 km
 
First car 09:00

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   12|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   13|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   14|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   15|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   16|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   17|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 3:

In stage SS3, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC took the stage, and their first stage win, in 7:33.0, +0.9 ahead of M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST).

As well as taking the stage, his +3.1 gain over T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport, the rally leader going into the stage, meant J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>7:33.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>7:33.9</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>7:34.3</td>
      <td>+0.4</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>7:36.1</td>
      <td>+1.8</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>7:40.8</td>
      <td>+4.7</td>
      <td>+7.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>7:42.2</td>
      <td>+1.4</td>
      <td>+9.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>7:46.6</td>
      <td>+4.4</td>
      <td>+13.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>7:48.4</td>
      <td>+1.8</td>
      <td>+15.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>7:50.9</td>
      <td>+2.5</td>
      <td>+17.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>7:53.9</td>
      <td>+3.0</td>
      <td>+20.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>12:41.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>12:43.9</td>
      <td>+2.1</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>12:44.2</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>12:44.2</td>
      <td>+0.0</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>12:54.4</td>
      <td>+10.2</td>
      <td>+12.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>13:01.4</td>
      <td>+7.0</td>
      <td>+19.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>13:05.5</td>
      <td>+4.1</td>
      <td>+23.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>13:10.9</td>
      <td>+5.4</td>
      <td>+29.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>13:12.3</td>
      <td>+1.4</td>
      <td>+30.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>13:14.1</td>
      <td>+1.8</td>
      <td>+32.3</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS3 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+0.6</td>
      <td>-1.1</td>
      <td>7:33.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+0.9</td>
      <td>-0.4</td>
      <td>7:33.9</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:29.9</td>
      <td>00:05:02.4</td>
      <td>7:34.3</td>
      <td>+1.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+1.4</td>
      <td>+1.4</td>
      <td>7:36.1</td>
      <td>+3.1</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>+1.6</td>
      <td>+4.9</td>
      <td>7:40.8</td>
      <td>+7.8</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+1.2</td>
      <td>+3.3</td>
      <td>7:42.2</td>
      <td>+9.2</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+3.7</td>
      <td>+9.0</td>
      <td>7:46.6</td>
      <td>+13.6</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+3.0</td>
      <td>+9.1</td>
      <td>7:48.4</td>
      <td>+15.4</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+5.7</td>
      <td>+12.6</td>
      <td>7:50.9</td>
      <td>+17.9</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+5.7</td>
      <td>+13.9</td>
      <td>7:53.9</td>
      <td>+20.9</td>
      <td>+3.0</td>
    </tr>
  </tbody>
</table>

## SS3 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:30.500000</td>
      <td>00:02:30.800000</td>
      <td>00:02:31.700000</td>
      <td>00:07:33</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:30.800000</td>
      <td>00:02:31.200000</td>
      <td>00:02:31.900000</td>
      <td>00:07:33.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:29.900000</td>
      <td>00:02:32.500000</td>
      <td>00:02:31.900000</td>
      <td>00:07:34.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:31.300000</td>
      <td>00:02:32.500000</td>
      <td>00:02:32.300000</td>
      <td>00:07:36.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>00:02:31.500000</td>
      <td>00:02:35.800000</td>
      <td>00:02:33.500000</td>
      <td>00:07:40.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:31.100000</td>
      <td>00:02:34.600000</td>
      <td>00:02:36.500000</td>
      <td>00:07:42.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:33.600000</td>
      <td>00:02:37.800000</td>
      <td>00:02:35.200000</td>
      <td>00:07:46.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:32.900000</td>
      <td>00:02:38.600000</td>
      <td>00:02:36.900000</td>
      <td>00:07:48.400000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:02:35.600000</td>
      <td>00:02:39.400000</td>
      <td>00:02:35.900000</td>
      <td>00:07:50.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:35.600000</td>
      <td>00:02:40.700000</td>
      <td>00:02:37.600000</td>
      <td>00:07:53.900000</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS3.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS3 - overall rally positions at end of stage

At the end of stage SS3, the overall leader from the previous stage, T. NEUVILLE, for Hyundai Motorsport, fell back three places to fourth, putting him +2.4 behind the overall leader.

J. LATVALA for Toyota Gazoo Racing WRT moved forward one position, from second at end of the previous stage, to take overall lead of the rally, with a gap of +2.1 from S. OGIER for M-Sport World Rally Team in the Ford Fiesta WRC.

S. OGIER, in the Ford Fiesta WRC, moved up into second place overall, improving one place from third.

O. TANAK, for M-Sport World Rally Team, moved up to third place overall, up one position from fourth, +2.4 behind the overall rally leader and +0.3 behind S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>12:41.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>12:43.9</td>
      <td>+2.1</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>12:44.2</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>12:44.2</td>
      <td>+0.0</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>E. LAPPI</td>
      <td>12:54.4</td>
      <td>+10.2</td>
      <td>+12.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>13:01.4</td>
      <td>+7.0</td>
      <td>+19.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>13:05.5</td>
      <td>+4.1</td>
      <td>+23.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>13:10.9</td>
      <td>+5.4</td>
      <td>+29.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>13:12.3</td>
      <td>+1.4</td>
      <td>+30.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>13:14.1</td>
      <td>+1.8</td>
      <td>+32.3</td>
    </tr>
  </tbody>
</table>

## SS3 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS3.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS3.png)

### Stage position chart SS3

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS3.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS3

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |12:41.8|        |         |          1|        1|       1
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |12:43.9|     2.1|2.1      |          2|        2|       2
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |12:44.2|     0.3|2.4      |          3|        3|       3
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |12:44.2|     0.0|2.4      |          4|        4|       4
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |12:54.4|    10.2|12.6     |          5|        5|       5
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |13:01.4|     7.0|19.6     |          6|        6|       6
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |13:05.5|     4.1|23.7     |          7|        7|       7
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |13:10.9|     5.4|29.1     |          8|        8|       1
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |13:12.3|     1.4|30.5     |          9|        9|       8
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |13:14.1|     1.8|32.3     |         10|       10|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |13:17.8|     3.7|36       |         11|       11|      10
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |13:20.4|     2.6|38.6     |         12|       12|      11
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |13:21.5|     1.1|39.7     |         13|       13|       2
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |14:29.7|    12.4|+1:47.9  |         18|       14|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |15:33.1|    30.0|+2:51.3  |         31|       15|       2
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |15:37.9|     4.8|+2:56.1  |         32|       16|      12
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |16:37.3|     1.3|+3:55.5  |         41|       17|       3

## SS4 Swietajno -
 ### Distance: 19.60 km
 
First car 09:55

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
  NaN|   12|E. LAPPI     |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   12|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   13|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   14|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   15|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   16|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   17|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 4:

In stage SS4, J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT) continued to lead the rally with their second stage win,their second consecutive stage win, in a time of 9:47.3.

M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST) were placed second on the stage, +1.3 behind.


There were 1 retirements amongst the RC1 (M) competitors  around stage 4:
- E. LAPPI (FIN) / J. FERM (FIN) - MECHANICAL at SF4 in the *Toyota Gazoo Racing WRT* Toyota Yaris WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>9:47.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>9:48.6</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>9:50.3</td>
      <td>+1.7</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>9:51.3</td>
      <td>+1.0</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>9:59.9</td>
      <td>+8.6</td>
      <td>+12.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:01.3</td>
      <td>+1.4</td>
      <td>+14.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>10:03.8</td>
      <td>+2.5</td>
      <td>+16.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:07.6</td>
      <td>+3.8</td>
      <td>+20.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>10:08.7</td>
      <td>+1.1</td>
      <td>+21.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:11.3</td>
      <td>+2.6</td>
      <td>+24.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>22:29.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>22:32.8</td>
      <td>+3.7</td>
      <td>+3.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>22:34.2</td>
      <td>+1.4</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>22:35.5</td>
      <td>+1.3</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>23:01.3</td>
      <td>+25.8</td>
      <td>+32.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>23:06.8</td>
      <td>+5.5</td>
      <td>+37.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>23:16.1</td>
      <td>+9.3</td>
      <td>+47.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>23:22.8</td>
      <td>+6.7</td>
      <td>+53.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>23:23.0</td>
      <td>+0.2</td>
      <td>+53.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>23:28.0</td>
      <td>+5.0</td>
      <td>+58.9</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS4 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-6.0</td>
      <td>-0.3</td>
      <td>9:47.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-4.2</td>
      <td>+0.6</td>
      <td>9:48.6</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:56.2</td>
      <td>00:07:17.8</td>
      <td>9:50.3</td>
      <td>+3.0</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-3.2</td>
      <td>+2.6</td>
      <td>9:51.3</td>
      <td>+4.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-2.2</td>
      <td>+8.7</td>
      <td>9:59.9</td>
      <td>+12.6</td>
      <td>+8.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-0.2</td>
      <td>+10.5</td>
      <td>10:01.3</td>
      <td>+14.0</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+2.2</td>
      <td>+11.7</td>
      <td>10:03.8</td>
      <td>+16.5</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+2.4</td>
      <td>+13.9</td>
      <td>10:07.6</td>
      <td>+20.3</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>+2.6</td>
      <td>+12.3</td>
      <td>10:08.7</td>
      <td>+21.4</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>+3.3</td>
      <td>+15.4</td>
      <td>10:11.3</td>
      <td>+24.0</td>
      <td>+2.6</td>
    </tr>
  </tbody>
</table>

## SS4 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:50.200000</td>
      <td>00:03:27.300000</td>
      <td>00:02:29.800000</td>
      <td>00:09:47.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:52</td>
      <td>00:03:26.400000</td>
      <td>00:02:30.200000</td>
      <td>00:09:48.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:56.200000</td>
      <td>00:03:21.600000</td>
      <td>00:02:32.500000</td>
      <td>00:09:50.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:53</td>
      <td>00:03:27.400000</td>
      <td>00:02:30.900000</td>
      <td>00:09:51.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:54</td>
      <td>00:03:32.500000</td>
      <td>00:02:33.400000</td>
      <td>00:09:59.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:56</td>
      <td>00:03:32.300000</td>
      <td>00:02:33</td>
      <td>00:10:01.300000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:58.400000</td>
      <td>00:03:31.100000</td>
      <td>00:02:34.300000</td>
      <td>00:10:03.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:58.600000</td>
      <td>00:03:33.100000</td>
      <td>00:02:35.900000</td>
      <td>00:10:07.600000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:58.800000</td>
      <td>00:03:31.300000</td>
      <td>00:02:38.600000</td>
      <td>00:10:08.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:59.500000</td>
      <td>00:03:33.700000</td>
      <td>00:02:38.100000</td>
      <td>00:10:11.300000</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS4.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS4 - overall rally positions at end of stage

Following stage SS4, J. LATVALA retained overall lead of the rally for Toyota Gazoo Racing WRT, +3.7 ahead of second.

O. TANAK, for M-Sport World Rally Team in the Ford Fiesta WRC, moved up into second place overall, up one position from third.

Previous second place overall, S. OGIER for M-Sport World Rally Team in the Ford Fiesta WRC, fell back one positions to third, +5.1 behind the leader.

S. OGIER, for M-Sport World Rally Team, moved into third place overall, a loss of minus one positions from second, +5.1 behind the overall rally leader and trailing O. TANAK by +1.4.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>22:29.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>22:32.8</td>
      <td>+3.7</td>
      <td>+3.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>22:34.2</td>
      <td>+1.4</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>22:35.5</td>
      <td>+1.3</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>23:01.3</td>
      <td>+25.8</td>
      <td>+32.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>23:06.8</td>
      <td>+5.5</td>
      <td>+37.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>23:16.1</td>
      <td>+9.3</td>
      <td>+47.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>23:22.8</td>
      <td>+6.7</td>
      <td>+53.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>23:23.0</td>
      <td>+0.2</td>
      <td>+53.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>23:28.0</td>
      <td>+5.0</td>
      <td>+58.9</td>
    </tr>
  </tbody>
</table>

## SS4 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS4.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS4.png)

### Stage position chart SS4

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS4.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS4

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |22:29.1|        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |22:32.8|3.7     |3.7      |          2|        2|       2
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |22:34.2|1.4     |5.1      |          3|        3|       3
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |22:35.5|1.3     |6.4      |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |23:01.3|25.8    |32.2     |          5|        5|       5
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |23:06.8|5.5     |37.7     |          6|        6|       6
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |23:16.1|9.3     |47       |          7|        7|       7
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |23:22.8|6.7     |53.7     |          8|        8|       8
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |23:23.0|0.2     |53.9     |          9|        9|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |23:28.0|5       |58.9     |         10|       10|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |23:29.8|1.8     |+1:00.7  |         11|       11|      10
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |23:32.8|3       |+1:03.7  |         12|       12|       2
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |25:30.6|3.5     |+3:01.5  |         18|       13|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |27:34.7|+1:17.9 |+5:05.6  |         28|       14|       2
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |28:12.3|29.5    |+5:43.2  |         30|       15|      11
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |29:41.7|25.9    |+7:12.6  |         38|       16|      12
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |29:47.1|5.4     |+7:18.0  |         39|       17|       3

## SS5 Stare Juchy -
 ### Distance: 13.50 km
 
First car 10:40

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   12|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 5:

In stage SS5, T. NEUVILLE (BEL) and N. GILSOUL (BEL) in the Hyundai i20 Coupe WRC took the stage, giving them their second stage win, in a time of 6:54.8.

In second place on stage, +1.9 behind, J. LATVALA (FIN) and M. ANTTILA (FIN) in the Toyota Yaris WRC retained overall lead of the rally.


There were 1 penalties amongst the RC1 (M) competitors around stage 5:
- C. BREEN / S. MARTIN received a 01:10 penalty, (7M LATE, TC5C) in the *Citroën Total Abu Dhabi WRT* Citroen C3 WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>6:54.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>6:56.7</td>
      <td>+1.9</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>6:58.0</td>
      <td>+1.3</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>6:58.9</td>
      <td>+0.9</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>7:02.6</td>
      <td>+3.7</td>
      <td>+7.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>7:10.2</td>
      <td>+7.6</td>
      <td>+15.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>7:10.8</td>
      <td>+0.6</td>
      <td>+16.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>7:14.4</td>
      <td>+3.6</td>
      <td>+19.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>7:15.3</td>
      <td>+0.9</td>
      <td>+20.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>7:19.0</td>
      <td>+3.7</td>
      <td>+24.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>29:25.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>29:30.3</td>
      <td>+4.5</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>29:30.8</td>
      <td>+0.5</td>
      <td>+5.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>29:33.1</td>
      <td>+2.3</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>30:09.4</td>
      <td>+36.3</td>
      <td>+43.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>30:11.5</td>
      <td>+2.1</td>
      <td>+45.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>30:26.9</td>
      <td>+15.4</td>
      <td>+1:01.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>30:37.4</td>
      <td>+10.5</td>
      <td>+1:11.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>30:43.3</td>
      <td>+5.9</td>
      <td>+1:17.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>30:43.9</td>
      <td>+0.6</td>
      <td>+1:18.1</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS5 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-2.7</td>
      <td>6:54.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-3.1</td>
      <td>6:56.7</td>
      <td>+1.9</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-1.4</td>
      <td>6:58.0</td>
      <td>+3.2</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:44.9</td>
      <td>6:58.9</td>
      <td>+4.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-3.2</td>
      <td>7:02.6</td>
      <td>+7.8</td>
      <td>+3.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+3.2</td>
      <td>7:10.2</td>
      <td>+15.4</td>
      <td>+7.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+2.5</td>
      <td>7:10.8</td>
      <td>+16.0</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+4.7</td>
      <td>7:14.4</td>
      <td>+19.6</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+8.4</td>
      <td>7:15.3</td>
      <td>+20.5</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>+5.5</td>
      <td>7:19.0</td>
      <td>+24.2</td>
      <td>+3.7</td>
    </tr>
  </tbody>
</table>

## SS5 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 5, J. HÄNNINEN lost ground in the final part of the stage.

![](images/2017_230/chart_stage_sector_delta_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:42.200000</td>
      <td>00:03:12.600000</td>
      <td>00:06:54.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:41.800000</td>
      <td>00:03:14.900000</td>
      <td>00:06:56.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:43.500000</td>
      <td>00:03:14.500000</td>
      <td>00:06:58</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:44.900000</td>
      <td>00:03:14</td>
      <td>00:06:58.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:41.700000</td>
      <td>00:03:20.900000</td>
      <td>00:07:02.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:48.100000</td>
      <td>00:03:22.100000</td>
      <td>00:07:10.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:47.400000</td>
      <td>00:03:23.400000</td>
      <td>00:07:10.800000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:49.600000</td>
      <td>00:03:24.800000</td>
      <td>00:07:14.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:53.300000</td>
      <td>00:03:22</td>
      <td>00:07:15.300000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:50.400000</td>
      <td>00:03:28.600000</td>
      <td>00:07:19</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS5.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS5 - overall rally positions at end of stage

After stage SS5, J. LATVALA continued to lead the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, +4.5 ahead.

T. NEUVILLE, for Hyundai Motorsport, took second place overall, improving two places from fourth.

Previous second place overall, O. TANAK in the Ford Fiesta WRC, fell back one positions to third, +5.0 behind the leader.

O. TANAK, in the Ford Fiesta WRC, moved to third place overall, a loss of minus one places from second, +5.0 behind the overall rally leader and trailing second placed T. NEUVILLE by +0.5.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>29:25.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>29:30.3</td>
      <td>+4.5</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>29:30.8</td>
      <td>+0.5</td>
      <td>+5.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>29:33.1</td>
      <td>+2.3</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>30:09.4</td>
      <td>+36.3</td>
      <td>+43.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>30:11.5</td>
      <td>+2.1</td>
      <td>+45.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>30:26.9</td>
      <td>+15.4</td>
      <td>+1:01.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>30:37.4</td>
      <td>+10.5</td>
      <td>+1:11.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>30:43.3</td>
      <td>+5.9</td>
      <td>+1:17.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>30:43.9</td>
      <td>+0.6</td>
      <td>+1:18.1</td>
    </tr>
  </tbody>
</table>

## SS5 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS5.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS5.png)

### Stage position chart SS5

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS5.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS5

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |29:25.8|        |         |          1|        1|       1
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |29:30.3|4.5     |4.5      |          2|        2|       2
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |29:30.8|0.5     |5        |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |29:33.1|2.3     |7.3      |          4|        4|       4
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |30:09.4|36.3    |43.6     |          5|        5|       5
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |30:11.5|2.1     |45.7     |          6|        6|       6
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |30:26.9|15.4    |+1:01.1  |          7|        7|       7
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |30:37.4|10.5    |+1:11.6  |          8|        8|       1
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |30:43.3|5.9     |+1:17.5  |          9|        9|       8
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |30:43.9|0.6     |+1:18.1  |         10|       10|       9
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |30:51.8|7.9     |+1:26.0  |         11|       11|       2
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |32:10.5|+1:18.7 |+2:44.7  |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |33:30.2|9.7     |+4:04.4  |         17|       13|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |36:36.4|+1:37.6 |+7:10.6  |         28|       14|       2
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |37:00.1|23.7    |+7:34.3  |         29|       15|      11
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |39:29.1|2.1     |+10:03.3 |         39|       16|       3

# Day 9 (30/06/2017)
## Section 3 (Afternoon/Evening)

## SS6 Chmielewo -
 ### Distance: 6.52 km
*Rerun of stage SS2* 
First car 13:45

*A short stage with no splits*

**STAGE CANCELLED**

## SS7 Wieliczki -
 ### Distance: 15.05 km
*Rerun of stage SS3* 
First car 15:30

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   12|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 7:

On stage SS7, and with their first stage win, T. SUNINEN (FIN) and M. MARKKULA (FIN) for M-Sport World Rally Team took the stage by +0.7 from H. PADDON (NZL) and S. MARSHALL (GBR) in the Hyundai i20 Coupe WRC, in a time of 7:47.9.

Toyota Gazoo Racing WRT's J. LATVALA (FIN) and M. ANTTILA (FIN), fifth on stage with a time of 7:51.8, and +3.9 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>7:47.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>7:48.6</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>7:49.1</td>
      <td>+0.5</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>7:50.2</td>
      <td>+1.1</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>7:51.8</td>
      <td>+1.6</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>7:52.2</td>
      <td>+0.4</td>
      <td>+4.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>7:53.5</td>
      <td>+1.3</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>7:55.2</td>
      <td>+1.7</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>7:59.4</td>
      <td>+4.2</td>
      <td>+11.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>8:01.9</td>
      <td>+2.5</td>
      <td>+14.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>37:17.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>37:19.9</td>
      <td>+2.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>37:25.5</td>
      <td>+5.6</td>
      <td>+7.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>37:37.3</td>
      <td>+11.8</td>
      <td>+19.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>37:58.0</td>
      <td>+20.7</td>
      <td>+40.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>38:10.9</td>
      <td>+12.9</td>
      <td>+53.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>38:20.4</td>
      <td>+9.5</td>
      <td>+1:02.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>38:25.3</td>
      <td>+4.9</td>
      <td>+1:07.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>38:44.0</td>
      <td>+18.7</td>
      <td>+1:26.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>38:45.8</td>
      <td>+1.8</td>
      <td>+1:28.2</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS7 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-1.7</td>
      <td>-10.0</td>
      <td>7:47.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-3.1</td>
      <td>-8.7</td>
      <td>7:48.6</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-2.6</td>
      <td>-8.9</td>
      <td>7:49.1</td>
      <td>+1.2</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-0.9</td>
      <td>-6.1</td>
      <td>7:50.2</td>
      <td>+2.3</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.5</td>
      <td>-6.8</td>
      <td>7:51.8</td>
      <td>+3.9</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-3.1</td>
      <td>-7.9</td>
      <td>7:52.2</td>
      <td>+4.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+0.0</td>
      <td>-4.7</td>
      <td>7:53.5</td>
      <td>+5.6</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-2.4</td>
      <td>-4.9</td>
      <td>7:55.2</td>
      <td>+7.3</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-2.7</td>
      <td>-1.3</td>
      <td>7:59.4</td>
      <td>+11.5</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>+0.1</td>
      <td>-3.1</td>
      <td>8:01.9</td>
      <td>+14.0</td>
      <td>+2.5</td>
    </tr>
  </tbody>
</table>

## SS7 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:02:34.900000</td>
      <td>00:02:36.800000</td>
      <td>00:02:36.200000</td>
      <td>00:07:47.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:33.500000</td>
      <td>00:02:39.500000</td>
      <td>00:02:35.600000</td>
      <td>00:07:48.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:34</td>
      <td>00:02:38.800000</td>
      <td>00:02:36.300000</td>
      <td>00:07:49.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:02:35.700000</td>
      <td>00:02:39.900000</td>
      <td>00:02:34.600000</td>
      <td>00:07:50.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:34.100000</td>
      <td>00:02:40.800000</td>
      <td>00:02:36.900000</td>
      <td>00:07:51.800000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:33.500000</td>
      <td>00:02:40.300000</td>
      <td>00:02:38.400000</td>
      <td>00:07:52.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:36.600000</td>
      <td>00:02:40.400000</td>
      <td>00:02:36.500000</td>
      <td>00:07:53.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:34.200000</td>
      <td>00:02:42.600000</td>
      <td>00:02:38.400000</td>
      <td>00:07:55.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:33.900000</td>
      <td>00:02:46.500000</td>
      <td>00:02:39</td>
      <td>00:07:59.400000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:02:36.700000</td>
      <td>00:02:41.900000</td>
      <td>00:02:43.300000</td>
      <td>00:08:01.900000</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS7.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS7 - overall rally positions at end of stage

After stage SS7, J. LATVALA continued in overall lead of the rally for Toyota Gazoo Racing WRT, +2.3 ahead.

O. TANAK, in the Ford Fiesta WRC, took second place overall, up one place from third.

Previous second place overall, T. NEUVILLE in the Hyundai i20 Coupe WRC, fell back one positions to third, +7.9 behind the leader.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai i20 Coupe WRC, moved to third place overall, a drop of minus one positions from second, +7.9 behind the overall rally leader and +5.6 behind O. TANAK.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>37:17.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>37:19.9</td>
      <td>+2.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>37:25.5</td>
      <td>+5.6</td>
      <td>+7.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>37:37.3</td>
      <td>+11.8</td>
      <td>+19.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>37:58.0</td>
      <td>+20.7</td>
      <td>+40.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>38:10.9</td>
      <td>+12.9</td>
      <td>+53.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>38:20.4</td>
      <td>+9.5</td>
      <td>+1:02.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>38:25.3</td>
      <td>+4.9</td>
      <td>+1:07.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>38:44.0</td>
      <td>+18.7</td>
      <td>+1:26.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>38:45.8</td>
      <td>+1.8</td>
      <td>+1:28.2</td>
    </tr>
  </tbody>
</table>

## SS7 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS7.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS7.png)

### Stage position chart SS7

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS7.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS7

carNo| driverName  |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|-------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |37:17.6|        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |37:19.9|2.3     |2.3      |          2|        2|       2
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |37:25.5|5.6     |7.9      |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |37:37.3|11.8    |19.7     |          4|        4|       4
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |37:58.0|20.7    |40.4     |          5|        5|       5
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |38:10.9|12.9    |53.3     |          6|        6|       6
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |38:20.4|9.5     |+1:02.8  |          7|        7|       7
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |38:25.3|4.9     |+1:07.7  |          8|        8|       1
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |38:44.0|18.7    |+1:26.4  |          9|        9|       2
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |38:45.8|1.8     |+1:28.2  |         10|       10|       8
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |38:49.2|3.4     |+1:31.6  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |40:00.7|+1:11.5 |+2:43.1  |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |41:54.3|18.9    |+4:36.7  |         17|       13|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |45:36.6|+2:09.2 |+8:19.0  |         27|       14|       2
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |46:17.1|23.4    |+8:59.5  |         29|       15|      11
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |49:27.7|31.9    |+12:10.1 |         38|       16|       3

## SS8 Swietajno -
 ### Distance: 19.60 km
*Rerun of stage SS4* 
First car 16:25

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   12|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 8:

In stage SS8, T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) took their third stage win by +1.2 from Hyundai Motorsport's D. SORDO (ESP) and co-driver M. MARTI (ESP), in a time of 10:03.3.

With his 5th place on stage, O. TANAK (EST) and M. JARVEOJA (EST) for M-Sport World Rally Team in the Ford Fiesta WRC (+3.9 behind the stagewinner, with a stage time of 10:07.2), took overall lead of the rally from J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT, 8th on stage and +7.2 behind stage winner T. NEUVILLE.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:03.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:04.5</td>
      <td>+1.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:06.7</td>
      <td>+2.2</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:07.2</td>
      <td>+0.5</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:07.2</td>
      <td>+0.0</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>10:08.5</td>
      <td>+1.3</td>
      <td>+5.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>10:09.3</td>
      <td>+0.8</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:10.5</td>
      <td>+1.2</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:14.8</td>
      <td>+4.3</td>
      <td>+11.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:16.8</td>
      <td>+2.0</td>
      <td>+13.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>47:27.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>47:28.1</td>
      <td>+1.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>47:28.8</td>
      <td>+0.7</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>47:54.1</td>
      <td>+25.3</td>
      <td>+27.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>48:05.2</td>
      <td>+11.1</td>
      <td>+38.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>48:15.4</td>
      <td>+10.2</td>
      <td>+48.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>48:32.0</td>
      <td>+16.6</td>
      <td>+1:04.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>48:38.8</td>
      <td>+6.8</td>
      <td>+1:11.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>48:55.1</td>
      <td>+16.3</td>
      <td>+1:28.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>48:58.8</td>
      <td>+3.7</td>
      <td>+1:31.7</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS8 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-6.7</td>
      <td>-9.2</td>
      <td>10:03.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-8.2</td>
      <td>-8.3</td>
      <td>10:04.5</td>
      <td>+1.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-11.5</td>
      <td>-8.3</td>
      <td>10:06.7</td>
      <td>+3.4</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-7.1</td>
      <td>-7.9</td>
      <td>10:07.2</td>
      <td>+3.9</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-7.1</td>
      <td>-7.4</td>
      <td>10:07.2</td>
      <td>+3.9</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-10.0</td>
      <td>-7.1</td>
      <td>10:08.5</td>
      <td>+5.2</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-7.0</td>
      <td>-7.4</td>
      <td>10:09.3</td>
      <td>+6.0</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-0.5</td>
      <td>-4.5</td>
      <td>10:10.5</td>
      <td>+7.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-4.5</td>
      <td>-1.7</td>
      <td>10:14.8</td>
      <td>+11.5</td>
      <td>+4.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:05.3</td>
      <td>00:07:37.0</td>
      <td>10:16.8</td>
      <td>+13.5</td>
      <td>+2.0</td>
    </tr>
  </tbody>
</table>

## SS8 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:58.600000</td>
      <td>00:03:29.200000</td>
      <td>00:02:35.500000</td>
      <td>00:10:03.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:57.100000</td>
      <td>00:03:31.600000</td>
      <td>00:02:35.800000</td>
      <td>00:10:04.500000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:53.800000</td>
      <td>00:03:34.900000</td>
      <td>00:02:38</td>
      <td>00:10:06.700000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:58.200000</td>
      <td>00:03:31.400000</td>
      <td>00:02:37.600000</td>
      <td>00:10:07.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:58.200000</td>
      <td>00:03:30.900000</td>
      <td>00:02:38.100000</td>
      <td>00:10:07.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:55.300000</td>
      <td>00:03:34.600000</td>
      <td>00:02:38.600000</td>
      <td>00:10:08.500000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:58.300000</td>
      <td>00:03:31.300000</td>
      <td>00:02:39.700000</td>
      <td>00:10:09.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:04.800000</td>
      <td>00:03:27.700000</td>
      <td>00:02:38</td>
      <td>00:10:10.500000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:00.800000</td>
      <td>00:03:34.500000</td>
      <td>00:02:39.500000</td>
      <td>00:10:14.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:05.300000</td>
      <td>00:03:31.700000</td>
      <td>00:02:39.800000</td>
      <td>00:10:16.800000</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS8.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS8 - overall rally positions at end of stage

At the end of stage SS8, O. TANAK for M-Sport World Rally Team in the Ford Fiesta WRC improved by one place, from second at end of the previous stage, to take overall lead of the rally, +1.0 ahead.

The overall leader from the previous stage, J. LATVALA, for Toyota Gazoo Racing WRT, dropped back one position to second.

T. NEUVILLE, in the Hyundai i20 Coupe WRC, retained third place overall, +1.7 behind the overall rally leader and trailing J. LATVALA by +0.7.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>47:27.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>47:28.1</td>
      <td>+1.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>47:28.8</td>
      <td>+0.7</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>47:54.1</td>
      <td>+25.3</td>
      <td>+27.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>48:05.2</td>
      <td>+11.1</td>
      <td>+38.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>48:15.4</td>
      <td>+10.2</td>
      <td>+48.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>48:32.0</td>
      <td>+16.6</td>
      <td>+1:04.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>48:38.8</td>
      <td>+6.8</td>
      <td>+1:11.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>48:55.1</td>
      <td>+16.3</td>
      <td>+1:28.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>48:58.8</td>
      <td>+3.7</td>
      <td>+1:31.7</td>
    </tr>
  </tbody>
</table>

## SS8 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS8.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS8.png)

### Stage position chart SS8

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS8.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS8

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |47:27.1  |        |         |          1|        1|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |47:28.1  |1       |1        |          2|        2|       2
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |47:28.8  |0.7     |1.7      |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |47:54.1  |25.3    |27       |          4|        4|       4
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |48:05.2  |11.1    |38.1     |          5|        5|       5
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |48:15.4  |10.2    |48.3     |          6|        6|       6
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |48:32.0  |16.6    |+1:04.9  |          7|        7|       1
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |48:38.8  |6.8     |+1:11.7  |          8|        8|       7
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |48:55.1  |16.3    |+1:28.0  |          9|        9|       8
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |48:58.8  |3.7     |+1:31.7  |         10|       10|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |49:09.2  |10.4    |+1:42.1  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |50:09.2  |+1:00.0 |+2:42.1  |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |52:55.5  |26.3    |+5:28.4  |         16|       13|       1
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |56:39.3  |+1:46.1 |+9:12.2  |         26|       14|      11
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |57:52.1  |34.7    |+10:25.0 |         28|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |1:02:39.9|+1:48.6 |+15:12.8 |         37|       16|       3
   12|E. LAPPI     |J. FERM     |Toyota Gazoo Racing WRT    |M          |1:15:27.7|+5:28.6 |+28:00.6 |         44|       17|      12

## SS9 Stare Juchy -
 ### Distance: 13.50 km
*Rerun of stage SS5* 
First car 17:10

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    6|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    7|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   12|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   13|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 9:

In stage SS9, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport took the stage, and their fourth stage win, in 7:07.4, +1.5 ahead of H. PADDON (NZL) and S. MARSHALL (GBR) in the Hyundai i20 Coupe WRC.

As well as taking the stage, his +3.2 gain over O. TANAK (EST) and M. JARVEOJA (EST) (M-Sport World Rally Team), the rally leader going into the stage, meant T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>7:07.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>7:08.9</td>
      <td>+1.5</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>7:10.6</td>
      <td>+1.7</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>7:11.8</td>
      <td>+1.2</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>7:13.5</td>
      <td>+1.7</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>7:13.5</td>
      <td>+0.0</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>7:15.1</td>
      <td>+1.6</td>
      <td>+7.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>7:16.0</td>
      <td>+0.9</td>
      <td>+8.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>7:16.9</td>
      <td>+0.9</td>
      <td>+9.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>7:17.3</td>
      <td>+0.4</td>
      <td>+9.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>54:36.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>54:37.7</td>
      <td>+1.5</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>54:41.6</td>
      <td>+3.9</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>55:10.1</td>
      <td>+28.5</td>
      <td>+33.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>55:14.1</td>
      <td>+4.0</td>
      <td>+37.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>55:27.2</td>
      <td>+13.1</td>
      <td>+51.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>55:45.5</td>
      <td>+18.3</td>
      <td>+1:09.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>55:57.8</td>
      <td>+12.3</td>
      <td>+1:21.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>56:12.4</td>
      <td>+14.6</td>
      <td>+1:36.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>56:15.7</td>
      <td>+3.3</td>
      <td>+1:39.5</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS9 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-5.0</td>
      <td>7:07.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-4.6</td>
      <td>7:08.9</td>
      <td>+1.5</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-2.7</td>
      <td>7:10.6</td>
      <td>+3.2</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-2.7</td>
      <td>7:11.8</td>
      <td>+4.4</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.1</td>
      <td>7:13.5</td>
      <td>+6.1</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-4.9</td>
      <td>7:13.5</td>
      <td>+6.1</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-0.5</td>
      <td>7:15.1</td>
      <td>+7.7</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:51.2</td>
      <td>7:16.0</td>
      <td>+8.6</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-0.3</td>
      <td>7:16.9</td>
      <td>+9.5</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-1.1</td>
      <td>7:17.3</td>
      <td>+9.9</td>
      <td>+0.4</td>
    </tr>
  </tbody>
</table>

## SS9 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:46.200000</td>
      <td>00:03:21.200000</td>
      <td>00:07:07.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:46.600000</td>
      <td>00:03:22.300000</td>
      <td>00:07:08.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:48.500000</td>
      <td>00:03:22.100000</td>
      <td>00:07:10.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:48.500000</td>
      <td>00:03:23.300000</td>
      <td>00:07:11.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:49.100000</td>
      <td>00:03:24.400000</td>
      <td>00:07:13.500000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:46.300000</td>
      <td>00:03:27.200000</td>
      <td>00:07:13.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:50.700000</td>
      <td>00:03:24.400000</td>
      <td>00:07:15.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:51.200000</td>
      <td>00:03:24.800000</td>
      <td>00:07:16</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:50.900000</td>
      <td>00:03:26</td>
      <td>00:07:16.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:50.100000</td>
      <td>00:03:27.200000</td>
      <td>00:07:17.300000</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS9.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS9 - overall rally positions at end of stage

Following stage SS9, T. NEUVILLE in the Hyundai i20 Coupe WRC gained two places, from third at end of the previous stage, to take overall lead of the rally, +1.5 ahead.

The overall leader from the previous stage, O. TANAK, in the Ford Fiesta WRC, moved back one position to second.

Previous second place overall, J. LATVALA for Toyota Gazoo Racing WRT, fell back one positions to third, +5.4 behind the leader.

J. LATVALA, for Toyota Gazoo Racing WRT, took third place overall, losing minus one positions from second, +5.4 behind the overall rally leader and +3.9 behind O. TANAK.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>54:36.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>54:37.7</td>
      <td>+1.5</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>54:41.6</td>
      <td>+3.9</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>55:10.1</td>
      <td>+28.5</td>
      <td>+33.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>55:14.1</td>
      <td>+4.0</td>
      <td>+37.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>55:27.2</td>
      <td>+13.1</td>
      <td>+51.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>55:45.5</td>
      <td>+18.3</td>
      <td>+1:09.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>55:57.8</td>
      <td>+12.3</td>
      <td>+1:21.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>56:12.4</td>
      <td>+14.6</td>
      <td>+1:36.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>56:15.7</td>
      <td>+3.3</td>
      <td>+1:39.5</td>
    </tr>
  </tbody>
</table>

## SS9 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS9.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS9.png)

### Stage position chart SS9

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS9.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS9

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |54:36.2  |        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |54:37.7  |1.5     |1.5      |          2|        2|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |54:41.6  |3.9     |5.4      |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |55:10.1  |28.5    |33.9     |          4|        4|       4
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |55:14.1  |4       |37.9     |          5|        5|       5
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |55:27.2  |13.1    |51       |          6|        6|       6
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |55:45.5  |18.3    |+1:09.3  |          7|        7|       1
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |55:57.8  |12.3    |+1:21.6  |          8|        8|       7
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |56:12.4  |14.6    |+1:36.2  |          9|        9|       8
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |56:15.7  |3.3     |+1:39.5  |         10|       10|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |56:39.2  |23.5    |+2:03.0  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |57:24.3  |45.1    |+2:48.1  |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |1:00:53.9|3.8     |+6:17.7  |         17|       13|       1
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:04:00.6|50.8    |+9:24.4  |         26|       14|      11
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |1:06:50.3|+1:23.7 |+12:14.1 |         28|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |1:12:22.3|+2:25.4 |+17:46.1 |         36|       16|       3

## SS10 Super Special Stage Mikolajki Arena -
 ### Distance: 2.50 km
*Rerun of stage SS19,SS1* 
First car 19:08

*A short stage with no splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
    2|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
    3|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    7|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
    8|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    9|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
   12|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
   13|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1       
   16|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1

## Stage Report 10:

On stage SS10, and with their second stage win, E. EVANS (GBR) and D. BARRITT (GBR) in the Ford Fiesta WRC took the stage by +0.5 from O. TANAK (EST) and M. JARVEOJA (EST) in the Ford Fiesta WRC, in a time of 1:44.3.

T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) (Hyundai Motorsport), third on stage with a time of 1:45.0, and +0.7 behind the stagewinner, retained overall lead of the rally.


There were 1 penalties amongst the RC1 (M) competitors around stage 10:
- C. BREEN / S. MARTIN received a 00:10 penalty, (1M LATE, TC10) in the *Citroën Total Abu Dhabi WRT* Citroen C3 WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:44.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:44.8</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.0</td>
      <td>+0.2</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>1:45.4</td>
      <td>+0.4</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:45.7</td>
      <td>+0.3</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:45.8</td>
      <td>+0.1</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:46.2</td>
      <td>+0.4</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:46.2</td>
      <td>+0.0</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:46.6</td>
      <td>+0.4</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:46.7</td>
      <td>+0.1</td>
      <td>+2.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>56:21.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>56:22.5</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>56:27.8</td>
      <td>+5.3</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>56:56.3</td>
      <td>+28.5</td>
      <td>+35.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>57:00.8</td>
      <td>+4.5</td>
      <td>+39.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>57:12.9</td>
      <td>+12.1</td>
      <td>+51.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>57:32.2</td>
      <td>+19.3</td>
      <td>+1:11.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>57:50.1</td>
      <td>+17.9</td>
      <td>+1:28.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>57:58.2</td>
      <td>+8.1</td>
      <td>+1:37.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>58:03.9</td>
      <td>+5.7</td>
      <td>+1:42.7</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS10 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:44.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:44.8</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.0</td>
      <td>+0.7</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>1:45.4</td>
      <td>+1.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:45.7</td>
      <td>+1.4</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:45.8</td>
      <td>+1.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:46.2</td>
      <td>+1.9</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:46.2</td>
      <td>+1.9</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:46.6</td>
      <td>+2.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:46.7</td>
      <td>+2.4</td>
      <td>+0.1</td>
    </tr>
  </tbody>
</table>

## SS10 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:44.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:44.800000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:45</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:01:45.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:45.700000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:45.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:46.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:46.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:01:46.600000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:01:46.700000</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS10.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS10 - overall rally positions at end of stage

At the end of stage SS10, T. NEUVILLE remained in overall lead of the rally for Hyundai Motorsport in the Hyundai i20 Coupe WRC, +1.3 ahead.

O. TANAK, for M-Sport World Rally Team, retained second place overall.

J. LATVALA, for Toyota Gazoo Racing WRT, retained third place overall, +6.6 behind the overall rally leader and +5.3 behind O. TANAK in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>56:21.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>56:22.5</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>56:27.8</td>
      <td>+5.3</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>56:56.3</td>
      <td>+28.5</td>
      <td>+35.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>57:00.8</td>
      <td>+4.5</td>
      <td>+39.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>57:12.9</td>
      <td>+12.1</td>
      <td>+51.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>57:32.2</td>
      <td>+19.3</td>
      <td>+1:11.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>57:50.1</td>
      <td>+17.9</td>
      <td>+1:28.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>57:58.2</td>
      <td>+8.1</td>
      <td>+1:37.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>58:03.9</td>
      <td>+5.7</td>
      <td>+1:42.7</td>
    </tr>
  </tbody>
</table>

## SS10 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS10.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS10.png)

### Stage position chart SS10

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS10.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS10

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |56:21.2  |        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |56:22.5  |1.3     |1.3      |          2|        2|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |56:27.8  |5.3     |6.6      |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |56:56.3  |28.5    |35.1     |          4|        4|       4
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |57:00.8  |4.5     |39.6     |          5|        5|       5
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |57:12.9  |12.1    |51.7     |          6|        6|       6
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |57:32.2  |19.3    |+1:11.0  |          7|        7|       1
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |57:50.1  |17.9    |+1:28.9  |          8|        8|       7
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |57:58.2  |8.1     |+1:37.0  |          9|        9|       8
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |58:03.9  |5.7     |+1:42.7  |         10|       10|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |58:23.5  |19.6    |+2:02.3  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |59:09.7  |46.2    |+2:48.5  |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |1:02:45.2|4.9     |+6:24.0  |         17|       13|       1
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:05:57.2|54.8    |+9:36.0  |         26|       14|      11
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |1:08:40.8|+1:23.9 |+12:19.6 |         28|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |1:14:13.9|+2:17.7 |+17:52.7 |         36|       16|       3

# Day 3 (01/07/2017)
## Section 4 (Morning)

## SS11 Baranowo -
 ### Distance: 15.55 km
 
First car 08:08

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   13|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 11:

In stage SS11, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT took the stage, giving them their third stage win, in a time of 8:02.2.

In second place on stage, +0.8 behind, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>8:02.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>8:03.0</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>8:04.3</td>
      <td>+1.3</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>8:04.7</td>
      <td>+0.4</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>8:08.1</td>
      <td>+3.4</td>
      <td>+5.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>8:08.8</td>
      <td>+0.7</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>8:08.8</td>
      <td>+0.0</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>8:13.0</td>
      <td>+4.2</td>
      <td>+10.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>8:14.2</td>
      <td>+1.2</td>
      <td>+12.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>8:14.9</td>
      <td>+0.7</td>
      <td>+12.7</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:04:24.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:04:26.8</td>
      <td>+2.6</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:04:30.0</td>
      <td>+3.2</td>
      <td>+5.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:05:04.4</td>
      <td>+34.4</td>
      <td>+40.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:05:05.5</td>
      <td>+1.1</td>
      <td>+41.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:05:27.8</td>
      <td>+22.3</td>
      <td>+1:03.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:05:45.2</td>
      <td>+17.4</td>
      <td>+1:21.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:06:04.3</td>
      <td>+19.1</td>
      <td>+1:40.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:06:15.7</td>
      <td>+11.4</td>
      <td>+1:51.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:06:22.1</td>
      <td>+6.4</td>
      <td>+1:57.9</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS11 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-1.5</td>
      <td>-2.9</td>
      <td>8:02.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-3.0</td>
      <td>-4.9</td>
      <td>8:03.0</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-0.6</td>
      <td>+0.3</td>
      <td>8:04.3</td>
      <td>+2.1</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-2.1</td>
      <td>-3.7</td>
      <td>8:04.7</td>
      <td>+2.5</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>+0.8</td>
      <td>+2.3</td>
      <td>8:08.1</td>
      <td>+5.9</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:16.0</td>
      <td>00:05:57.5</td>
      <td>8:08.8</td>
      <td>+6.6</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-2.7</td>
      <td>+1.4</td>
      <td>8:08.8</td>
      <td>+6.6</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+2.0</td>
      <td>+6.2</td>
      <td>8:13.0</td>
      <td>+10.8</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+3.3</td>
      <td>+6.7</td>
      <td>8:14.2</td>
      <td>+12.0</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+1.5</td>
      <td>+1.8</td>
      <td>8:14.9</td>
      <td>+12.7</td>
      <td>+0.7</td>
    </tr>
  </tbody>
</table>

## SS11 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:14.500000</td>
      <td>00:02:40.100000</td>
      <td>00:02:07.600000</td>
      <td>00:08:02.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:13</td>
      <td>00:02:39.600000</td>
      <td>00:02:10.400000</td>
      <td>00:08:03</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:15.400000</td>
      <td>00:02:42.400000</td>
      <td>00:02:06.500000</td>
      <td>00:08:04.300000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:13.900000</td>
      <td>00:02:39.900000</td>
      <td>00:02:10.900000</td>
      <td>00:08:04.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:16.800000</td>
      <td>00:02:43</td>
      <td>00:02:08.300000</td>
      <td>00:08:08.100000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:13.300000</td>
      <td>00:02:45.600000</td>
      <td>00:02:09.900000</td>
      <td>00:08:08.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:16</td>
      <td>00:02:41.500000</td>
      <td>00:02:11.300000</td>
      <td>00:08:08.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:18</td>
      <td>00:02:45.700000</td>
      <td>00:02:09.300000</td>
      <td>00:08:13</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:19.300000</td>
      <td>00:02:44.900000</td>
      <td>00:02:10</td>
      <td>00:08:14.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:17.500000</td>
      <td>00:02:41.800000</td>
      <td>00:02:15.600000</td>
      <td>00:08:14.900000</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS11.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS11 - overall rally positions at end of stage

At the end of stage SS11, T. NEUVILLE continued to lead the rally in the Hyundai i20 Coupe WRC, +2.6 ahead of second.

O. TANAK, for M-Sport World Rally Team, retained second place overall.

J. LATVALA, for Toyota Gazoo Racing WRT, retained third place overall, +5.8 behind the overall rally leader and +3.2 behind O. TANAK.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:04:24.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:04:26.8</td>
      <td>+2.6</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:04:30.0</td>
      <td>+3.2</td>
      <td>+5.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:05:04.4</td>
      <td>+34.4</td>
      <td>+40.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:05:05.5</td>
      <td>+1.1</td>
      <td>+41.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:05:27.8</td>
      <td>+22.3</td>
      <td>+1:03.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:05:45.2</td>
      <td>+17.4</td>
      <td>+1:21.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:06:04.3</td>
      <td>+19.1</td>
      <td>+1:40.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:06:15.7</td>
      <td>+11.4</td>
      <td>+1:51.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:06:22.1</td>
      <td>+6.4</td>
      <td>+1:57.9</td>
    </tr>
  </tbody>
</table>

## SS11 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS11.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS11.png)

### Stage position chart SS11

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS11.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS11

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:04:24.2|        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |1:04:26.8|2.6     |2.6      |          2|        2|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:04:30.0|3.2     |5.8      |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:05:04.4|34.4    |40.2     |          4|        4|       4
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:05:05.5|1.1     |41.3     |          5|        5|       5
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:05:27.8|22.3    |+1:03.6  |          6|        6|       6
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:05:45.2|17.4    |+1:21.0  |          7|        7|       1
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:06:04.3|19.1    |+1:40.1  |          8|        8|       7
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:06:15.7|11.4    |+1:51.5  |          9|        9|       8
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |1:06:22.1|6.4     |+1:57.9  |         10|       10|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:06:45.1|23      |+2:20.9  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |1:07:18.5|33.4    |+2:54.3  |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |1:11:49.7|22.5    |+7:25.5  |         17|       13|       1
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:14:06.0|17.3    |+9:41.8  |         23|       14|      11
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |1:18:30.6|+2:12.5 |+14:06.4 |         26|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |1:24:34.7|+2:37.2 |+20:10.5 |         36|       16|       3

## SS12 Pozezdrze -
 ### Distance: 21.24 km
 
First car 09:20

*A long stage with three splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   13|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 12:

In stage SS12, M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST) took the stage, and their first stage win, in 10:39.8, +3.0 ahead of H. PADDON (NZL) and co-driver S. MARSHALL (GBR) for Hyundai Motorsport.

As well as taking the stage, his +6.1 gain over T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) in the Hyundai i20 Coupe WRC, the rally leader going into the stage, meant M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST) also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:39.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:42.8</td>
      <td>+3.0</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:43.8</td>
      <td>+1.0</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:45.9</td>
      <td>+2.1</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:50.7</td>
      <td>+4.8</td>
      <td>+10.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:52.7</td>
      <td>+2.0</td>
      <td>+12.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>10:54.5</td>
      <td>+1.8</td>
      <td>+14.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:56.5</td>
      <td>+2.0</td>
      <td>+16.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>10:56.7</td>
      <td>+0.2</td>
      <td>+16.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:57.1</td>
      <td>+0.4</td>
      <td>+17.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:15:06.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:15:10.1</td>
      <td>+3.5</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:15:13.8</td>
      <td>+3.7</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:15:48.3</td>
      <td>+34.5</td>
      <td>+41.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:16:17.5</td>
      <td>+29.2</td>
      <td>+1:10.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:16:18.5</td>
      <td>+1.0</td>
      <td>+1:11.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:16:41.7</td>
      <td>+23.2</td>
      <td>+1:35.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:17:08.1</td>
      <td>+26.4</td>
      <td>+2:01.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:17:12.4</td>
      <td>+4.3</td>
      <td>+2:05.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:17:14.8</td>
      <td>+2.4</td>
      <td>+2:08.2</td>
    </tr>
  </tbody>
</table>

## SS12 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS12 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-6.3</td>
      <td>-11.2</td>
      <td>-13.9</td>
      <td>10:39.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-6.6</td>
      <td>-10.9</td>
      <td>-11.3</td>
      <td>10:42.8</td>
      <td>+3.0</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-4.2</td>
      <td>-7.6</td>
      <td>-10.9</td>
      <td>10:43.8</td>
      <td>+4.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-2.8</td>
      <td>-5.1</td>
      <td>-8.8</td>
      <td>10:45.9</td>
      <td>+6.1</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-2.6</td>
      <td>-4.0</td>
      <td>-5.2</td>
      <td>10:50.7</td>
      <td>+10.9</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-3.2</td>
      <td>-1.9</td>
      <td>-1.1</td>
      <td>10:52.7</td>
      <td>+12.9</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:13.7</td>
      <td>00:05:55.5</td>
      <td>00:09:34.8</td>
      <td>10:54.5</td>
      <td>+14.7</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+0.9</td>
      <td>+1.6</td>
      <td>+1.6</td>
      <td>10:56.5</td>
      <td>+16.7</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-0.4</td>
      <td>+0.9</td>
      <td>+1.9</td>
      <td>10:56.7</td>
      <td>+16.9</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-0.2</td>
      <td>-0.2</td>
      <td>+2.6</td>
      <td>10:57.1</td>
      <td>+17.3</td>
      <td>+0.4</td>
    </tr>
  </tbody>
</table>

## SS12 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 12, S. OGIER lost ground in the final part of the stage.

![](images/2017_230/chart_stage_sector_delta_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:07.400000</td>
      <td>00:02:36.900000</td>
      <td>00:03:36.600000</td>
      <td>00:01:18.900000</td>
      <td>00:10:39.800000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:07.100000</td>
      <td>00:02:37.500000</td>
      <td>00:03:38.900000</td>
      <td>00:01:19.300000</td>
      <td>00:10:42.800000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:09.500000</td>
      <td>00:02:38.400000</td>
      <td>00:03:36</td>
      <td>00:01:19.900000</td>
      <td>00:10:43.800000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:10.900000</td>
      <td>00:02:39.500000</td>
      <td>00:03:35.600000</td>
      <td>00:01:19.900000</td>
      <td>00:10:45.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:11.100000</td>
      <td>00:02:40.400000</td>
      <td>00:03:38.100000</td>
      <td>00:01:21.100000</td>
      <td>00:10:50.700000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:10.500000</td>
      <td>00:02:43.100000</td>
      <td>00:03:40.100000</td>
      <td>00:01:19</td>
      <td>00:10:52.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:13.700000</td>
      <td>00:02:41.800000</td>
      <td>00:03:39.300000</td>
      <td>00:01:19.700000</td>
      <td>00:10:54.500000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:14.600000</td>
      <td>00:02:42.500000</td>
      <td>00:03:39.300000</td>
      <td>00:01:20.100000</td>
      <td>00:10:56.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:13.300000</td>
      <td>00:02:43.100000</td>
      <td>00:03:40.300000</td>
      <td>00:01:20</td>
      <td>00:10:56.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:13.500000</td>
      <td>00:02:41.800000</td>
      <td>00:03:42.100000</td>
      <td>00:01:19.700000</td>
      <td>00:10:57.100000</td>
    </tr>
  </tbody>
</table>

## SS12 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS12.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS12 - overall rally positions at end of stage

At the end of stage SS12, the overall leader from the previous stage, T. NEUVILLE, for Hyundai Motorsport, moved back one place to second.

O. TANAK for M-Sport World Rally Team moved up one position, from second at end of the previous stage, to take overall lead of the rally, +3.5 ahead.

J. LATVALA, for Toyota Gazoo Racing WRT, retained third place overall, +7.2 behind the overall rally leader and +3.7 behind T. NEUVILLE in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:15:06.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:15:10.1</td>
      <td>+3.5</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:15:13.8</td>
      <td>+3.7</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:15:48.3</td>
      <td>+34.5</td>
      <td>+41.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:16:17.5</td>
      <td>+29.2</td>
      <td>+1:10.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:16:18.5</td>
      <td>+1.0</td>
      <td>+1:11.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:16:41.7</td>
      <td>+23.2</td>
      <td>+1:35.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:17:08.1</td>
      <td>+26.4</td>
      <td>+2:01.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:17:12.4</td>
      <td>+4.3</td>
      <td>+2:05.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:17:14.8</td>
      <td>+2.4</td>
      <td>+2:08.2</td>
    </tr>
  </tbody>
</table>

## SS12 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS12.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS12.png)

### Stage position chart SS12

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS12.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS12

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |1:15:06.6|        |         |          1|        1|       1
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:15:10.1|3.5     |3.5      |          2|        2|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:15:13.8|3.7     |7.2      |          3|        3|       3
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:15:48.3|34.5    |41.7     |          4|        4|       4
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:16:17.5|29.2    |+1:10.9  |          5|        5|       5
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:16:18.5|1       |+1:11.9  |          6|        6|       6
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:16:41.7|23.2    |+1:35.1  |          7|        7|       1
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:17:08.1|26.4    |+2:01.5  |          8|        8|       7
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:17:12.4|4.3     |+2:05.8  |          9|        9|       8
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |1:17:14.8|2.4     |+2:08.2  |         10|       10|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:17:42.2|27.4    |+2:35.6  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |1:18:18.1|35.9    |+3:11.5  |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |1:23:51.7|10.2    |+8:45.1  |         18|       13|       1
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:25:00.5|10.9    |+9:53.9  |         20|       14|      11
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |1:31:03.8|+4:52.5 |+15:57.2 |         25|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |1:37:47.2|40.4    |+22:40.6 |         33|       16|       3

## SS13 Go&#322;dap-
 ### Distance: 14.75 km
 
First car 10:45

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   13|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 13:

On stage SS13, and with their first stage win, H. PADDON (NZL) and S. MARSHALL (GBR) (Hyundai Motorsport) took the stage by +1.4 from T. NEUVILLE (BEL) and N. GILSOUL (BEL) in the Hyundai i20 Coupe WRC, in a time of 7:24.1.

O. TANAK (EST) and M. JARVEOJA (EST) for M-Sport World Rally Team, third on stage with a time of 7:25.9, and +1.8 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>7:24.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>7:25.5</td>
      <td>+1.4</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>7:25.9</td>
      <td>+0.4</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>7:26.0</td>
      <td>+0.1</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>7:26.7</td>
      <td>+0.7</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>7:28.0</td>
      <td>+1.3</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>7:28.1</td>
      <td>+0.1</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>7:29.3</td>
      <td>+1.2</td>
      <td>+5.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>7:30.3</td>
      <td>+1.0</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>7:30.9</td>
      <td>+0.6</td>
      <td>+6.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:22:32.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:22:35.6</td>
      <td>+3.1</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:22:41.9</td>
      <td>+6.3</td>
      <td>+9.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:23:12.4</td>
      <td>+30.5</td>
      <td>+39.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:23:49.4</td>
      <td>+37.0</td>
      <td>+1:16.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:23:55.0</td>
      <td>+5.6</td>
      <td>+1:22.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:24:16.7</td>
      <td>+21.7</td>
      <td>+1:44.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:24:38.4</td>
      <td>+21.7</td>
      <td>+2:05.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:24:44.1</td>
      <td>+5.7</td>
      <td>+2:11.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:24:46.9</td>
      <td>+2.8</td>
      <td>+2:14.4</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS13 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-3.3</td>
      <td>7:24.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-1.4</td>
      <td>7:25.5</td>
      <td>+1.4</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-0.3</td>
      <td>7:25.9</td>
      <td>+1.8</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-1.8</td>
      <td>7:26.0</td>
      <td>+1.9</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-2.0</td>
      <td>7:26.7</td>
      <td>+2.6</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-2.3</td>
      <td>7:28.0</td>
      <td>+3.9</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-0.5</td>
      <td>7:28.1</td>
      <td>+4.0</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-1.4</td>
      <td>7:29.3</td>
      <td>+5.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:57.2</td>
      <td>7:30.3</td>
      <td>+6.2</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-0.5</td>
      <td>7:30.9</td>
      <td>+6.8</td>
      <td>+0.6</td>
    </tr>
  </tbody>
</table>

## SS13 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:53.900000</td>
      <td>00:03:30.200000</td>
      <td>00:07:24.100000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:55.800000</td>
      <td>00:03:29.700000</td>
      <td>00:07:25.500000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:56.900000</td>
      <td>00:03:29</td>
      <td>00:07:25.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:55.400000</td>
      <td>00:03:30.600000</td>
      <td>00:07:26</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:55.200000</td>
      <td>00:03:31.500000</td>
      <td>00:07:26.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:54.900000</td>
      <td>00:03:33.100000</td>
      <td>00:07:28</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:56.700000</td>
      <td>00:03:31.400000</td>
      <td>00:07:28.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:55.800000</td>
      <td>00:03:33.500000</td>
      <td>00:07:29.300000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:57.200000</td>
      <td>00:03:33.100000</td>
      <td>00:07:30.300000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:56.700000</td>
      <td>00:03:34.200000</td>
      <td>00:07:30.900000</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS13.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS13 - overall rally positions at end of stage

Following stage SS13, O. TANAK continued to lead the rally for M-Sport World Rally Team, with a gap to second of +3.1.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai i20 Coupe WRC, retained second place overall.

J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained third place overall, +9.4 behind the overall rally leader and +6.3 behind T. NEUVILLE.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:22:32.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:22:35.6</td>
      <td>+3.1</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:22:41.9</td>
      <td>+6.3</td>
      <td>+9.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:23:12.4</td>
      <td>+30.5</td>
      <td>+39.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:23:49.4</td>
      <td>+37.0</td>
      <td>+1:16.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:23:55.0</td>
      <td>+5.6</td>
      <td>+1:22.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:24:16.7</td>
      <td>+21.7</td>
      <td>+1:44.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:24:38.4</td>
      <td>+21.7</td>
      <td>+2:05.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:24:44.1</td>
      <td>+5.7</td>
      <td>+2:11.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:24:46.9</td>
      <td>+2.8</td>
      <td>+2:14.4</td>
    </tr>
  </tbody>
</table>

## SS13 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS13.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS13.png)

### Stage position chart SS13

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS13.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS13

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |1:22:32.5|        |         |          1|        1|       1
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:22:35.6|3.1     |3.1      |          2|        2|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:22:41.9|6.3     |9.4      |          3|        3|       3
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:23:12.4|30.5    |39.9     |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:23:49.4|37      |+1:16.9  |          5|        5|       5
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:23:55.0|5.6     |+1:22.5  |          6|        6|       6
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:24:16.7|21.7    |+1:44.2  |          7|        7|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:24:38.4|21.7    |+2:05.9  |          8|        8|       7
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |1:24:44.1|5.7     |+2:11.6  |          9|        9|       2
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:24:46.9|2.8     |+2:14.4  |         10|       10|       8
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:25:10.2|23.3    |+2:37.7  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |1:25:44.8|34.6    |+3:12.3  |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |1:32:04.8|18.7    |+9:32.3  |         16|       13|       1
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:32:30.8|9.4     |+9:58.3  |         18|       14|      11
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |1:39:49.0|+4:27.9 |+17:16.5 |         25|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |1:47:06.5|48.6    |+24:34.0 |         33|       16|       3

## SS14 Kruklanki -
 ### Distance: 19.58 km
 
First car 11:35

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   13|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 14:

In stage SS14, T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) took the stage, and their fifth stage win, in 10:08.5, +3.2 ahead of J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) (Toyota Gazoo Racing WRT).

As well as taking the stage, his +4.4 gain over O. TANAK (EST) and M. JARVEOJA (EST) for M-Sport World Rally Team, the rally leader going into the stage, meant T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:08.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:11.7</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:12.9</td>
      <td>+1.2</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:14.5</td>
      <td>+1.6</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>10:21.4</td>
      <td>+6.9</td>
      <td>+12.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:22.5</td>
      <td>+1.1</td>
      <td>+14.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>10:22.8</td>
      <td>+0.3</td>
      <td>+14.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:25.1</td>
      <td>+2.3</td>
      <td>+16.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:25.3</td>
      <td>+0.2</td>
      <td>+16.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:26.3</td>
      <td>+1.0</td>
      <td>+17.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:32:44.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:32:45.4</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:32:53.6</td>
      <td>+8.2</td>
      <td>+9.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:33:26.9</td>
      <td>+33.3</td>
      <td>+42.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:34:14.5</td>
      <td>+47.6</td>
      <td>+1:30.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:34:21.3</td>
      <td>+6.8</td>
      <td>+1:37.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:34:39.2</td>
      <td>+17.9</td>
      <td>+1:55.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:34:59.8</td>
      <td>+20.6</td>
      <td>+2:15.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:35:09.4</td>
      <td>+9.6</td>
      <td>+2:25.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:35:22.0</td>
      <td>+12.6</td>
      <td>+2:37.9</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS14 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-4.7</td>
      <td>-13.4</td>
      <td>10:08.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.4</td>
      <td>-11.1</td>
      <td>10:11.7</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-1.4</td>
      <td>-9.4</td>
      <td>10:12.9</td>
      <td>+4.4</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-2.7</td>
      <td>-9.5</td>
      <td>10:14.5</td>
      <td>+6.0</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-2.9</td>
      <td>-6.6</td>
      <td>10:21.4</td>
      <td>+12.9</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-1.1</td>
      <td>-5.6</td>
      <td>10:22.5</td>
      <td>+14.0</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-2.3</td>
      <td>-7.0</td>
      <td>10:22.8</td>
      <td>+14.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+1.4</td>
      <td>-0.5</td>
      <td>10:25.1</td>
      <td>+16.6</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-0.1</td>
      <td>-2.0</td>
      <td>10:25.3</td>
      <td>+16.8</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>+0.3</td>
      <td>-2.6</td>
      <td>10:26.3</td>
      <td>+17.8</td>
      <td>+1.0</td>
    </tr>
  </tbody>
</table>

## SS14 - stage sector delta time (seconds) to fastest stage sector time

T. NEUVILLE drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

![](images/2017_230/chart_stage_sector_delta_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:27.700000</td>
      <td>00:03:11.900000</td>
      <td>00:03:28.900000</td>
      <td>00:10:08.500000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:30</td>
      <td>00:03:11.900000</td>
      <td>00:03:29.800000</td>
      <td>00:10:11.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:31</td>
      <td>00:03:12.600000</td>
      <td>00:03:29.300000</td>
      <td>00:10:12.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:29.700000</td>
      <td>00:03:13.800000</td>
      <td>00:03:31</td>
      <td>00:10:14.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:29.500000</td>
      <td>00:03:16.900000</td>
      <td>00:03:35</td>
      <td>00:10:21.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:31.300000</td>
      <td>00:03:16.100000</td>
      <td>00:03:35.100000</td>
      <td>00:10:22.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:30.100000</td>
      <td>00:03:15.900000</td>
      <td>00:03:36.800000</td>
      <td>00:10:22.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:33.800000</td>
      <td>00:03:18.700000</td>
      <td>00:03:32.600000</td>
      <td>00:10:25.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:32.300000</td>
      <td>00:03:18.700000</td>
      <td>00:03:34.300000</td>
      <td>00:10:25.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:32.700000</td>
      <td>00:03:17.700000</td>
      <td>00:03:35.900000</td>
      <td>00:10:26.300000</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS14.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS14 - overall rally positions at end of stage

Following stage SS14, the overall leader from the previous stage, O. TANAK, for M-Sport World Rally Team in the Ford Fiesta WRC, fell one place to second.

T. NEUVILLE for Hyundai Motorsport moved up one position, from second at end of the previous stage, to take overall lead of the rally, with a gap of +1.3.

J. LATVALA, for Toyota Gazoo Racing WRT, retained third place overall, +9.5 behind the overall rally leader and trailing second placed O. TANAK by +8.2.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:32:44.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:32:45.4</td>
      <td>+1.3</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:32:53.6</td>
      <td>+8.2</td>
      <td>+9.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:33:26.9</td>
      <td>+33.3</td>
      <td>+42.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:34:14.5</td>
      <td>+47.6</td>
      <td>+1:30.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:34:21.3</td>
      <td>+6.8</td>
      <td>+1:37.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:34:39.2</td>
      <td>+17.9</td>
      <td>+1:55.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:34:59.8</td>
      <td>+20.6</td>
      <td>+2:15.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:35:09.4</td>
      <td>+9.6</td>
      <td>+2:25.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:35:22.0</td>
      <td>+12.6</td>
      <td>+2:37.9</td>
    </tr>
  </tbody>
</table>

## SS14 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS14.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS14.png)

### Stage position chart SS14

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS14.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS14

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:32:44.1|        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |1:32:45.4|1.3     |1.3      |          2|        2|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:32:53.6|8.2     |9.5      |          3|        3|       3
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:33:26.9|33.3    |42.8     |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:34:14.5|47.6    |+1:30.4  |          5|        5|       5
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:34:21.3|6.8     |+1:37.2  |          6|        6|       6
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:34:39.2|17.9    |+1:55.1  |          7|        7|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:34:59.8|20.6    |+2:15.7  |          8|        8|       7
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |1:35:09.4|9.6     |+2:25.3  |          9|        9|       2
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:35:22.0|12.6    |+2:37.9  |         10|       10|       8
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:35:47.1|25.1    |+3:03.0  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |1:36:07.6|20.5    |+3:23.5  |         12|       12|      10
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:43:00.4|0.6     |+10:16.3 |         16|       13|      11
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |1:43:22.7|22.3    |+10:38.6 |         17|       14|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |1:51:57.2|+1:18.0 |+19:13.1 |         25|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |2:00:07.7|+1:24.3 |+27:23.6 |         34|       16|       3

# Day 16 (01/07/2017)
## Section 5 (Afternoon/Evening)

## SS15 Baranowo -
 ### Distance: 15.55 km
*Rerun of stage SS11* 
First car 14:08

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   11|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   13|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 15:

In stage SS15, Hyundai Motorsport's T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) continued to lead the rally with their sixth stage win,their second consecutive stage win, in a time of 7:47.9.

O. TANAK (EST) and M. JARVEOJA (EST) for M-Sport World Rally Team were placed second on the stage, +1.7 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>7:47.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>7:49.6</td>
      <td>+1.7</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>7:51.7</td>
      <td>+2.1</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>7:52.9</td>
      <td>+1.2</td>
      <td>+5.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>7:53.9</td>
      <td>+1.0</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>7:55.6</td>
      <td>+1.7</td>
      <td>+7.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>7:57.9</td>
      <td>+2.3</td>
      <td>+10.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>7:59.8</td>
      <td>+1.9</td>
      <td>+11.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>8:00.4</td>
      <td>+0.6</td>
      <td>+12.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>8:01.3</td>
      <td>+0.9</td>
      <td>+13.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:40:32.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:40:35.0</td>
      <td>+3.0</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:40:45.3</td>
      <td>+10.3</td>
      <td>+13.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:41:19.8</td>
      <td>+34.5</td>
      <td>+47.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:42:14.9</td>
      <td>+55.1</td>
      <td>+1:42.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:42:15.2</td>
      <td>+0.3</td>
      <td>+1:43.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:42:34.8</td>
      <td>+19.6</td>
      <td>+2:02.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:42:57.7</td>
      <td>+22.9</td>
      <td>+2:25.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:43:16.4</td>
      <td>+18.7</td>
      <td>+2:44.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:43:37.9</td>
      <td>+21.5</td>
      <td>+3:05.9</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS15 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-6.2</td>
      <td>-9.7</td>
      <td>7:47.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-4.1</td>
      <td>-6.8</td>
      <td>7:49.6</td>
      <td>+1.7</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-3.0</td>
      <td>-6.6</td>
      <td>7:51.7</td>
      <td>+3.8</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-3.1</td>
      <td>-6.7</td>
      <td>7:52.9</td>
      <td>+5.0</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-1.2</td>
      <td>-3.7</td>
      <td>7:53.9</td>
      <td>+6.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-3.4</td>
      <td>-2.9</td>
      <td>7:55.6</td>
      <td>+7.7</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-2.1</td>
      <td>-3.6</td>
      <td>7:57.9</td>
      <td>+10.0</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:13.1</td>
      <td>00:05:54.7</td>
      <td>7:59.8</td>
      <td>+11.9</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.1</td>
      <td>-2.5</td>
      <td>8:00.4</td>
      <td>+12.5</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-1.0</td>
      <td>-0.7</td>
      <td>8:01.3</td>
      <td>+13.4</td>
      <td>+0.9</td>
    </tr>
  </tbody>
</table>

## SS15 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 15, J. HÄNNINEN lost ground in the final part of the stage.

![](images/2017_230/chart_stage_sector_delta_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:06.900000</td>
      <td>00:02:38.100000</td>
      <td>00:02:02.900000</td>
      <td>00:07:47.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:09</td>
      <td>00:02:38.900000</td>
      <td>00:02:01.700000</td>
      <td>00:07:49.600000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:10.100000</td>
      <td>00:02:38</td>
      <td>00:02:03.600000</td>
      <td>00:07:51.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:10</td>
      <td>00:02:38</td>
      <td>00:02:04.900000</td>
      <td>00:07:52.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:11.900000</td>
      <td>00:02:39.100000</td>
      <td>00:02:02.900000</td>
      <td>00:07:53.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:09.700000</td>
      <td>00:02:42.100000</td>
      <td>00:02:03.800000</td>
      <td>00:07:55.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:11</td>
      <td>00:02:40.100000</td>
      <td>00:02:06.800000</td>
      <td>00:07:57.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:13.100000</td>
      <td>00:02:41.600000</td>
      <td>00:02:05.100000</td>
      <td>00:07:59.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:12</td>
      <td>00:02:40.200000</td>
      <td>00:02:08.200000</td>
      <td>00:08:00.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:12.100000</td>
      <td>00:02:41.900000</td>
      <td>00:02:07.300000</td>
      <td>00:08:01.300000</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS15.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS15 - overall rally positions at end of stage

After stage SS15, T. NEUVILLE remained in overall lead of the rally for Hyundai Motorsport, with a gap to second of +3.0.

O. TANAK, in the Ford Fiesta WRC, retained second place overall.

J. LATVALA, in the Toyota Yaris WRC, retained third place overall, +13.3 behind the overall rally leader and +10.3 behind O. TANAK in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:40:32.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:40:35.0</td>
      <td>+3.0</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:40:45.3</td>
      <td>+10.3</td>
      <td>+13.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:41:19.8</td>
      <td>+34.5</td>
      <td>+47.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:42:14.9</td>
      <td>+55.1</td>
      <td>+1:42.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:42:15.2</td>
      <td>+0.3</td>
      <td>+1:43.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:42:34.8</td>
      <td>+19.6</td>
      <td>+2:02.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:42:57.7</td>
      <td>+22.9</td>
      <td>+2:25.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:43:16.4</td>
      <td>+18.7</td>
      <td>+2:44.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:43:37.9</td>
      <td>+21.5</td>
      <td>+3:05.9</td>
    </tr>
  </tbody>
</table>

## SS15 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS15.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS15.png)

### Stage position chart SS15

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS15.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS15

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:40:32.0|        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |1:40:35.0|3       |3        |          2|        2|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:40:45.3|10.3    |13.3     |          3|        3|       3
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:41:19.8|34.5    |47.8     |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:42:14.9|55.1    |+1:42.9  |          5|        5|       5
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:42:15.2|0.3     |+1:43.2  |          6|        6|       6
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:42:34.8|19.6    |+2:02.8  |          7|        7|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:42:57.7|22.9    |+2:25.7  |          8|        8|       7
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |1:43:16.4|18.7    |+2:44.4  |          9|        9|       2
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:43:37.9|21.5    |+3:05.9  |         10|       10|       8
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:43:51.8|13.9    |+3:19.8  |         11|       11|       9
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |1:44:08.9|17.1    |+3:36.9  |         12|       12|      10
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:51:00.2|+2:36.3 |+10:28.2 |         15|       13|      11
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |1:52:04.4|6.3     |+11:32.4 |         18|       14|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |2:01:19.8|+4:59.9 |+20:47.8 |         24|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |2:09:58.9|+1:42.4 |+29:26.9 |         34|       16|       3

## SS16 Pozezdrze -
 ### Distance: 21.24 km
*Rerun of stage SS12* 
First car 15:20

*A long stage with three splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
  NaN|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   12|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   13|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 16:

In stage SS16, Hyundai Motorsport's H. PADDON (NZL) and co-driver S. MARSHALL (GBR) took their second stage win by +2.7 from M-Sport World Rally Team's S. OGIER (FRA) and co-driver J. INGRASSIA (FRA), in a time of 10:23.4.

With his 4th place on stage, O. TANAK (EST) and co-driver M. JARVEOJA (EST) for M-Sport World Rally Team (+5.5 behind the stagewinner, with a stage time of 10:28.9), took overall lead of the rally from T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport), 12th on stage and +22.9 behind stage winner H. PADDON.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:23.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:26.1</td>
      <td>+2.7</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:28.2</td>
      <td>+2.1</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:28.9</td>
      <td>+0.7</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>10:32.9</td>
      <td>+4.0</td>
      <td>+9.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:33.7</td>
      <td>+0.8</td>
      <td>+10.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>10:34.4</td>
      <td>+0.7</td>
      <td>+11.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:35.1</td>
      <td>+0.7</td>
      <td>+11.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:35.7</td>
      <td>+0.6</td>
      <td>+12.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>10:40.6</td>
      <td>+4.9</td>
      <td>+17.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:51:03.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:51:18.3</td>
      <td>+14.4</td>
      <td>+14.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:51:43.2</td>
      <td>+24.9</td>
      <td>+39.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:52:41.3</td>
      <td>+58.1</td>
      <td>+1:37.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:52:43.1</td>
      <td>+1.8</td>
      <td>+1:39.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:53:08.5</td>
      <td>+25.4</td>
      <td>+2:04.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:53:32.1</td>
      <td>+23.6</td>
      <td>+2:28.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:53:52.1</td>
      <td>+20.0</td>
      <td>+2:48.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:54:20.0</td>
      <td>+27.9</td>
      <td>+3:16.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54:26.9</td>
      <td>+6.9</td>
      <td>+3:23.0</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS16 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-5.2</td>
      <td>-12.9</td>
      <td>-17.6</td>
      <td>10:23.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-2.9</td>
      <td>-6.5</td>
      <td>-13.6</td>
      <td>10:26.1</td>
      <td>+2.7</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-2.2</td>
      <td>-5.7</td>
      <td>-11.4</td>
      <td>10:28.2</td>
      <td>+4.8</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-5.3</td>
      <td>-10.3</td>
      <td>-12.1</td>
      <td>10:28.9</td>
      <td>+5.5</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-0.5</td>
      <td>-2.9</td>
      <td>-7.9</td>
      <td>10:32.9</td>
      <td>+9.5</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-1.2</td>
      <td>-4.6</td>
      <td>-5.9</td>
      <td>10:33.7</td>
      <td>+10.3</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-0.7</td>
      <td>-0.4</td>
      <td>-6.6</td>
      <td>10:34.4</td>
      <td>+11.0</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+0.5</td>
      <td>-0.8</td>
      <td>-6.7</td>
      <td>10:35.1</td>
      <td>+11.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-0.8</td>
      <td>-3.2</td>
      <td>-4.6</td>
      <td>10:35.7</td>
      <td>+12.3</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:07.3</td>
      <td>00:05:46.8</td>
      <td>00:09:21.0</td>
      <td>10:40.6</td>
      <td>+17.2</td>
      <td>+4.9</td>
    </tr>
  </tbody>
</table>

## SS16 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:02.100000</td>
      <td>00:02:31.800000</td>
      <td>00:03:29.500000</td>
      <td>00:01:20</td>
      <td>00:10:23.400000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:04.400000</td>
      <td>00:02:35.900000</td>
      <td>00:03:27.100000</td>
      <td>00:01:18.700000</td>
      <td>00:10:26.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:05.100000</td>
      <td>00:02:36</td>
      <td>00:03:28.500000</td>
      <td>00:01:18.600000</td>
      <td>00:10:28.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:02</td>
      <td>00:02:34.500000</td>
      <td>00:03:32.400000</td>
      <td>00:01:20</td>
      <td>00:10:28.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:06.800000</td>
      <td>00:02:37.100000</td>
      <td>00:03:29.200000</td>
      <td>00:01:19.800000</td>
      <td>00:10:32.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:06.100000</td>
      <td>00:02:36.100000</td>
      <td>00:03:32.900000</td>
      <td>00:01:18.600000</td>
      <td>00:10:33.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:06.600000</td>
      <td>00:02:39.800000</td>
      <td>00:03:28</td>
      <td>00:01:20</td>
      <td>00:10:34.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:07.800000</td>
      <td>00:02:38.200000</td>
      <td>00:03:28.300000</td>
      <td>00:01:20.800000</td>
      <td>00:10:35.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:06.500000</td>
      <td>00:02:37.100000</td>
      <td>00:03:32.800000</td>
      <td>00:01:19.300000</td>
      <td>00:10:35.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:07.300000</td>
      <td>00:02:39.500000</td>
      <td>00:03:34.200000</td>
      <td>00:01:19.600000</td>
      <td>00:10:40.600000</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS16.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS16 - overall rally positions at end of stage

By the end of stage SS16, the overall leader from the previous stage, T. NEUVILLE, for Hyundai Motorsport in the Hyundai i20 Coupe WRC, moved back one position to second.

O. TANAK for M-Sport World Rally Team moved forward one place, from second at end of the previous stage, to take overall lead of the rally, +14.4 ahead.

H. PADDON, for Hyundai Motorsport in the Hyundai i20 Coupe WRC, moved up into third place overall, a gain of one position from fourth, +39.3 behind the overall rally leader and +24.9 behind second placed T. NEUVILLE.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:51:03.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:51:18.3</td>
      <td>+14.4</td>
      <td>+14.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:51:43.2</td>
      <td>+24.9</td>
      <td>+39.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:52:41.3</td>
      <td>+58.1</td>
      <td>+1:37.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:52:43.1</td>
      <td>+1.8</td>
      <td>+1:39.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>1:53:08.5</td>
      <td>+25.4</td>
      <td>+2:04.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:53:32.1</td>
      <td>+23.6</td>
      <td>+2:28.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:53:52.1</td>
      <td>+20.0</td>
      <td>+2:48.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:54:20.0</td>
      <td>+27.9</td>
      <td>+3:16.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54:26.9</td>
      <td>+6.9</td>
      <td>+3:23.0</td>
    </tr>
  </tbody>
</table>

## SS16 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS16.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>24</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS16.png)

### Stage position chart SS16

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS16.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
      <td>32</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>39</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS16

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |1:51:03.9|        |         |          1|        1|       1
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:51:18.3|14.4    |14.4     |          2|        2|       2
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:51:43.2|24.9    |39.3     |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |1:52:41.3|58.1    |+1:37.4  |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |1:52:43.1|1.8     |+1:39.2  |          5|        5|       5
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |1:53:08.5|25.4    |+2:04.6  |          6|        6|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:53:32.1|23.6    |+2:28.2  |          7|        7|       6
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |1:53:52.1|20      |+2:48.2  |          8|        8|       2
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:54:20.0|27.9    |+3:16.1  |          9|        9|       7
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |1:54:26.9|6.9     |+3:23.0  |         10|       10|       8
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |1:54:41.8|14.9    |+3:37.9  |         11|       11|       9
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:58:08.7|+3:26.9 |+7:04.8  |         12|       12|      10
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:01:40.8|+2:11.5 |+10:36.9 |         15|       13|      11
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |2:03:28.3|21.9    |+12:24.4 |         18|       14|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |2:13:23.7|1.4     |+22:19.8 |         24|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |2:22:48.6|50.5    |+31:44.7 |         34|       16|       3

## SS17 Go&#322;dap -
 ### Distance: 14.75 km
 
First car 16:45

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   11|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   12|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   13|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   14|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   15|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 17:

On stage SS17, and with their third stage win, H. PADDON (NZL) and S. MARSHALL (GBR) in the Hyundai i20 Coupe WRC took the stage by +0.5 from T. NEUVILLE (BEL) and N. GILSOUL (BEL) in the Hyundai i20 Coupe WRC, in a time of 7:20.8.

M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST), tenth on stage with a time of 7:29.6, and +8.8 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>7:20.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>7:21.3</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>7:24.0</td>
      <td>+2.7</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>7:25.4</td>
      <td>+1.4</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>7:25.8</td>
      <td>+0.4</td>
      <td>+5.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>7:26.5</td>
      <td>+0.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>7:27.6</td>
      <td>+1.1</td>
      <td>+6.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>7:28.7</td>
      <td>+1.1</td>
      <td>+7.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>7:29.1</td>
      <td>+0.4</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>7:29.6</td>
      <td>+0.5</td>
      <td>+8.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:58:33.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:58:39.6</td>
      <td>+6.1</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:59:04.0</td>
      <td>+24.4</td>
      <td>+30.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:00:07.8</td>
      <td>+1:03.8</td>
      <td>+1:34.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:00:13.3</td>
      <td>+5.5</td>
      <td>+1:39.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:00:36.1</td>
      <td>+22.8</td>
      <td>+2:02.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:00:56.1</td>
      <td>+20.0</td>
      <td>+2:22.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:01:17.9</td>
      <td>+21.8</td>
      <td>+2:44.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:01:52.3</td>
      <td>+34.4</td>
      <td>+3:18.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:01:58.8</td>
      <td>+6.5</td>
      <td>+3:25.3</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS17 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-2.5</td>
      <td>7:20.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-3.5</td>
      <td>7:21.3</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-2.3</td>
      <td>7:24.0</td>
      <td>+3.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-1.4</td>
      <td>7:25.4</td>
      <td>+4.6</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-3.6</td>
      <td>7:25.8</td>
      <td>+5.0</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-0.4</td>
      <td>7:26.5</td>
      <td>+5.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-1.9</td>
      <td>7:27.6</td>
      <td>+6.8</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-1.3</td>
      <td>7:28.7</td>
      <td>+7.9</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:58.4</td>
      <td>7:29.1</td>
      <td>+8.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+1.6</td>
      <td>7:29.6</td>
      <td>+8.8</td>
      <td>+0.5</td>
    </tr>
  </tbody>
</table>

## SS17 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:55.900000</td>
      <td>00:03:24.900000</td>
      <td>00:07:20.800000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:54.900000</td>
      <td>00:03:26.400000</td>
      <td>00:07:21.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:56.100000</td>
      <td>00:03:27.900000</td>
      <td>00:07:24</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:57</td>
      <td>00:03:28.400000</td>
      <td>00:07:25.400000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:54.800000</td>
      <td>00:03:31</td>
      <td>00:07:25.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:58</td>
      <td>00:03:28.500000</td>
      <td>00:07:26.500000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:56.500000</td>
      <td>00:03:31.100000</td>
      <td>00:07:27.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:57.100000</td>
      <td>00:03:31.600000</td>
      <td>00:07:28.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:58.400000</td>
      <td>00:03:30.700000</td>
      <td>00:07:29.100000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:00</td>
      <td>00:03:29.600000</td>
      <td>00:07:29.600000</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS17.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS17 - overall rally positions at end of stage

Following stage SS17, O. TANAK retained overall lead of the rally for M-Sport World Rally Team in the Ford Fiesta WRC, +6.1 ahead.

T. NEUVILLE, in the Hyundai i20 Coupe WRC, retained second place overall.

H. PADDON, for Hyundai Motorsport, retained third place overall, +30.5 behind the overall rally leader and +24.4 behind T. NEUVILLE.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:58:33.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:58:39.6</td>
      <td>+6.1</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:59:04.0</td>
      <td>+24.4</td>
      <td>+30.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:00:07.8</td>
      <td>+1:03.8</td>
      <td>+1:34.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:00:13.3</td>
      <td>+5.5</td>
      <td>+1:39.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:00:36.1</td>
      <td>+22.8</td>
      <td>+2:02.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:00:56.1</td>
      <td>+20.0</td>
      <td>+2:22.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:01:17.9</td>
      <td>+21.8</td>
      <td>+2:44.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:01:52.3</td>
      <td>+34.4</td>
      <td>+3:18.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:01:58.8</td>
      <td>+6.5</td>
      <td>+3:25.3</td>
    </tr>
  </tbody>
</table>

## SS17 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS17.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>14</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS17.png)

### Stage position chart SS17

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS17.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
      <td>11</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>15</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
      <td>32</td>
      <td>27</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>39</td>
      <td>38</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS17

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |1:58:33.5|        |         |          1|        1|       1
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |1:58:39.6|6.1     |6.1      |          2|        2|       2
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |1:59:04.0|24.4    |30.5     |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:00:07.8|+1:03.8 |+1:34.3  |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:00:13.3|5.5     |+1:39.8  |          5|        5|       5
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:00:36.1|22.8    |+2:02.6  |          6|        6|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |2:00:56.1|20      |+2:22.6  |          7|        7|       6
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |2:01:17.9|21.8    |+2:44.4  |          8|        8|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:01:52.3|34.4    |+3:18.8  |          9|        9|       7
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:01:58.8|6.5     |+3:25.3  |         10|       10|       8
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |2:02:10.5|11.7    |+3:37.0  |         11|       11|       9
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:09:09.9|30.4    |+10:36.4 |         14|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |2:11:35.0|21.9    |+13:01.5 |         17|       13|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:12:29.5|54.5    |+13:56.0 |         18|       14|      11
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |2:22:08.2|33.7    |+23:34.7 |         24|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |2:31:54.6|+1:41.9 |+33:21.1 |         34|       16|       3

## SS18 Kruklanki -
 ### Distance: 19.58 km
*Rerun of stage SS14* 
First car 17:35

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   11|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   12|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   13|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   14|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   15|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 18:

In stage SS18, T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) took the stage, and their seventh stage win, in 10:02.1, +0.5 ahead of H. PADDON (NZL) and S. MARSHALL (GBR) in the Hyundai i20 Coupe WRC.

As well as taking the stage, his +8.6 gain over M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST), the rally leader going into the stage, meant T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:02.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:02.6</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>10:04.8</td>
      <td>+2.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:05.5</td>
      <td>+0.7</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>10:05.6</td>
      <td>+0.1</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:09.2</td>
      <td>+3.6</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>10:09.4</td>
      <td>+0.2</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>10:09.9</td>
      <td>+0.5</td>
      <td>+7.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:10.7</td>
      <td>+0.8</td>
      <td>+8.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:11.3</td>
      <td>+0.6</td>
      <td>+9.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:08:41.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:08:44.2</td>
      <td>+2.5</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:09:06.6</td>
      <td>+22.4</td>
      <td>+24.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:10:13.3</td>
      <td>+1:06.7</td>
      <td>+1:31.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:10:24.6</td>
      <td>+11.3</td>
      <td>+1:42.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:10:46.0</td>
      <td>+21.4</td>
      <td>+2:04.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:11:00.9</td>
      <td>+14.9</td>
      <td>+2:19.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:11:27.1</td>
      <td>+26.2</td>
      <td>+2:45.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:12:05.0</td>
      <td>+37.9</td>
      <td>+3:23.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:12:16.1</td>
      <td>+11.1</td>
      <td>+3:34.4</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS18 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-4.7</td>
      <td>-6.3</td>
      <td>10:02.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-3.9</td>
      <td>-4.9</td>
      <td>10:02.6</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-2.8</td>
      <td>-5.5</td>
      <td>10:04.8</td>
      <td>+2.7</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-1.5</td>
      <td>-2.6</td>
      <td>10:05.5</td>
      <td>+3.4</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-2.2</td>
      <td>-3.9</td>
      <td>10:05.6</td>
      <td>+3.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-1.0</td>
      <td>-1.2</td>
      <td>10:09.2</td>
      <td>+7.1</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:28.1</td>
      <td>00:06:40.0</td>
      <td>10:09.4</td>
      <td>+7.3</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-1.3</td>
      <td>-1.2</td>
      <td>10:09.9</td>
      <td>+7.8</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-1.1</td>
      <td>-0.1</td>
      <td>10:10.7</td>
      <td>+8.6</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.2</td>
      <td>+0.1</td>
      <td>10:11.3</td>
      <td>+9.2</td>
      <td>+0.6</td>
    </tr>
  </tbody>
</table>

## SS18 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:23.400000</td>
      <td>00:03:10.300000</td>
      <td>00:03:28.400000</td>
      <td>00:10:02.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:24.200000</td>
      <td>00:03:10.900000</td>
      <td>00:03:27.500000</td>
      <td>00:10:02.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:25.300000</td>
      <td>00:03:09.200000</td>
      <td>00:03:30.300000</td>
      <td>00:10:04.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:26.600000</td>
      <td>00:03:10.800000</td>
      <td>00:03:28.100000</td>
      <td>00:10:05.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:25.900000</td>
      <td>00:03:10.200000</td>
      <td>00:03:29.500000</td>
      <td>00:10:05.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:27.100000</td>
      <td>00:03:11.700000</td>
      <td>00:03:30.400000</td>
      <td>00:10:09.200000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:28.100000</td>
      <td>00:03:11.900000</td>
      <td>00:03:29.400000</td>
      <td>00:10:09.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:26.800000</td>
      <td>00:03:12</td>
      <td>00:03:31.100000</td>
      <td>00:10:09.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:27</td>
      <td>00:03:12.900000</td>
      <td>00:03:30.800000</td>
      <td>00:10:10.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:26.900000</td>
      <td>00:03:13.200000</td>
      <td>00:03:31.200000</td>
      <td>00:10:11.300000</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS18.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS18 - overall rally positions at end of stage

At the end of stage SS18, T. NEUVILLE in the Hyundai i20 Coupe WRC moved up one position, from second at end of the previous stage, to take overall lead of the rally, +2.5 ahead.

The overall leader from the previous stage, O. TANAK, for M-Sport World Rally Team, fell one place to second.

H. PADDON, for Hyundai Motorsport, retained third place overall, +24.9 behind the overall rally leader and trailing second placed O. TANAK by +22.4.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:08:41.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:08:44.2</td>
      <td>+2.5</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:09:06.6</td>
      <td>+22.4</td>
      <td>+24.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:10:13.3</td>
      <td>+1:06.7</td>
      <td>+1:31.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:10:24.6</td>
      <td>+11.3</td>
      <td>+1:42.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:10:46.0</td>
      <td>+21.4</td>
      <td>+2:04.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:11:00.9</td>
      <td>+14.9</td>
      <td>+2:19.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:11:27.1</td>
      <td>+26.2</td>
      <td>+2:45.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:12:05.0</td>
      <td>+37.9</td>
      <td>+3:23.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:12:16.1</td>
      <td>+11.1</td>
      <td>+3:34.4</td>
    </tr>
  </tbody>
</table>

## SS18 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS18.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td>18</td>
      <td>22</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>33</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS18.png)

### Stage position chart SS18

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS18.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>9</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>4</td>
      <td>11</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>15</td>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
      <td>32</td>
      <td>27</td>
      <td>31</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>39</td>
      <td>38</td>
      <td>38</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS18

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:08:41.7|        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |2:08:44.2|2.5     |2.5      |          2|        2|       2
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:09:06.6|22.4    |24.9     |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:10:13.3|+1:06.7 |+1:31.6  |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:10:24.6|11.3    |+1:42.9  |          5|        5|       5
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:10:46.0|21.4    |+2:04.3  |          6|        6|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |2:11:00.9|14.9    |+2:19.2  |          7|        7|       6
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |2:11:27.1|26.2    |+2:45.4  |          8|        8|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:12:05.0|37.9    |+3:23.3  |          9|        9|       7
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |2:12:16.1|11.1    |+3:34.4  |         10|       10|       8
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:12:17.5|1.4     |+3:35.8  |         11|       11|       9
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:19:19.3|51.5    |+10:37.6 |         13|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |2:22:39.2|29.3    |+13:57.5 |         17|       13|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:29:31.6|+2:02.8 |+20:49.9 |         22|       14|      11
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |2:33:49.9|55.9    |+25:08.2 |         24|       15|       2
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |2:44:21.7|+1:41.5 |+35:40.0 |         33|       16|       3

## SS19 Super Special Stage Mikolajki Arena -
 ### Distance: 2.50 km
*Rerun of stage SS1,SS10* 
First car 19:30

*A short stage with no splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    4|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    5|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   10|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   11|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   12|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   13|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 19:

In stage SS19, E. EVANS (GBR) and co-driver D. BARRITT (GBR) for M-Sport World Rally Team in the Ford Fiesta WRC took the stage, giving them their third stage win, in a time of 1:44.4.

In second place on stage, +0.2 behind, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai i20 Coupe WRC retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:44.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:44.6</td>
      <td>+0.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>1:44.8</td>
      <td>+0.2</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:45.0</td>
      <td>+0.2</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.0</td>
      <td>+0.0</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:45.2</td>
      <td>+0.2</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:45.2</td>
      <td>+0.0</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:45.5</td>
      <td>+0.3</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:45.6</td>
      <td>+0.1</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:45.7</td>
      <td>+0.1</td>
      <td>+1.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:10:26.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:10:29.4</td>
      <td>+3.1</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:10:51.8</td>
      <td>+22.4</td>
      <td>+25.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:11:58.3</td>
      <td>+1:06.5</td>
      <td>+1:32.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:12:10.1</td>
      <td>+11.8</td>
      <td>+1:43.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:12:32.5</td>
      <td>+22.4</td>
      <td>+2:06.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:12:46.6</td>
      <td>+14.1</td>
      <td>+2:20.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:13:12.1</td>
      <td>+25.5</td>
      <td>+2:45.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:13:49.4</td>
      <td>+37.3</td>
      <td>+3:23.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:14:00.9</td>
      <td>+11.5</td>
      <td>+3:34.6</td>
    </tr>
  </tbody>
</table>

## SS19 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS19 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:44.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:44.6</td>
      <td>+0.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>1:44.8</td>
      <td>+0.4</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:45.0</td>
      <td>+0.6</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:45.0</td>
      <td>+0.6</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:45.2</td>
      <td>+0.8</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:45.2</td>
      <td>+0.8</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:45.5</td>
      <td>+1.1</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:45.6</td>
      <td>+1.2</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:45.7</td>
      <td>+1.3</td>
      <td>+0.1</td>
    </tr>
  </tbody>
</table>

## SS19 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:44.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:44.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:01:44.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:45</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:45</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:45.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:01:45.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:45.700000</td>
    </tr>
  </tbody>
</table>

## SS19 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS19.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS19 - overall rally positions at end of stage

Following stage SS19, T. NEUVILLE continued in overall lead of the rally for Hyundai Motorsport in the Hyundai i20 Coupe WRC, commanding a lead of +3.1.

O. TANAK, for M-Sport World Rally Team in the Ford Fiesta WRC, retained second place overall.

H. PADDON, in the Hyundai i20 Coupe WRC, retained third place overall, +25.5 behind the overall rally leader and +22.4 behind O. TANAK.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:10:26.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:10:29.4</td>
      <td>+3.1</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:10:51.8</td>
      <td>+22.4</td>
      <td>+25.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:11:58.3</td>
      <td>+1:06.5</td>
      <td>+1:32.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:12:10.1</td>
      <td>+11.8</td>
      <td>+1:43.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:12:32.5</td>
      <td>+22.4</td>
      <td>+2:06.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:12:46.6</td>
      <td>+14.1</td>
      <td>+2:20.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:13:12.1</td>
      <td>+25.5</td>
      <td>+2:45.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:13:49.4</td>
      <td>+37.3</td>
      <td>+3:23.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:14:00.9</td>
      <td>+11.5</td>
      <td>+3:34.6</td>
    </tr>
  </tbody>
</table>

## SS19 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS19.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>22</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td>18</td>
      <td>22</td>
      <td>24</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS19.png)

### Stage position chart SS19

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS19.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>4</td>
      <td>11</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>9</td>
      <td>5</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>15</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
      <td>32</td>
      <td>27</td>
      <td>31</td>
      <td>23</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>15</td>
      <td>18</td>
      <td>25</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>39</td>
      <td>38</td>
      <td>38</td>
      <td>37</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS19

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:10:26.3|        |         |          1|        1|       1
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |2:10:29.4|3.1     |3.1      |          2|        2|       2
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:10:51.8|22.4    |25.5     |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:11:58.3|+1:06.5 |+1:32.0  |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:12:10.1|11.8    |+1:43.8  |          5|        5|       5
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:12:32.5|22.4    |+2:06.2  |          6|        6|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |2:12:46.6|14.1    |+2:20.3  |          7|        7|       6
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |2:13:12.1|25.5    |+2:45.8  |          8|        8|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:13:49.4|37.3    |+3:23.1  |          9|        9|       7
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |2:14:00.9|11.5    |+3:34.6  |         10|       10|       8
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:14:04.3|3.4     |+3:38.0  |         11|       11|       9
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:21:04.9|48.5    |+10:38.6 |         13|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |2:24:30.4|33.2    |+14:04.1 |         17|       13|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |2:35:37.3|+6:17.7 |+25:11.0 |         22|       14|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:38:16.0|35.5    |+27:49.7 |         24|       15|      11
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |2:46:12.2|+1:34.2 |+35:45.9 |         33|       16|       3

# Day 4 (02/07/2017)
## Section 6 (Morning)

## SS20 Orzysz -
 ### Distance: 11.15 km
 
First car 08:10

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    4|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    5|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    6|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   10|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   11|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   12|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   13|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   15|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 20:

In stage SS20, in a time of 6:10.3, O. TANAK (EST) and M. JARVEOJA (EST) (M-Sport World Rally Team) took their second stage win, as well as overall lead of the rally.

He was +4.9 ahead of previous rally leader Hyundai Motorsport's T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL), placed second on the stage.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>6:10.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>6:15.2</td>
      <td>+4.9</td>
      <td>+4.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>6:23.6</td>
      <td>+8.4</td>
      <td>+13.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>6:25.9</td>
      <td>+2.3</td>
      <td>+15.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>6:27.5</td>
      <td>+1.6</td>
      <td>+17.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>6:30.2</td>
      <td>+2.7</td>
      <td>+19.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>6:33.4</td>
      <td>+3.2</td>
      <td>+23.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>6:33.7</td>
      <td>+0.3</td>
      <td>+23.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>6:34.5</td>
      <td>+0.8</td>
      <td>+24.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>6:35.4</td>
      <td>+0.9</td>
      <td>+25.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:16:39.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:16:41.5</td>
      <td>+1.8</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:17:22.0</td>
      <td>+40.5</td>
      <td>+42.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:18:25.8</td>
      <td>+1:03.8</td>
      <td>+1:46.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:18:43.5</td>
      <td>+17.7</td>
      <td>+2:03.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:18:58.4</td>
      <td>+14.9</td>
      <td>+2:18.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:19:25.3</td>
      <td>+26.9</td>
      <td>+2:45.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:19:46.6</td>
      <td>+21.3</td>
      <td>+3:06.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:20:30.5</td>
      <td>+43.9</td>
      <td>+3:50.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:20:34.6</td>
      <td>+4.1</td>
      <td>+3:54.9</td>
    </tr>
  </tbody>
</table>

## SS20 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS20.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS20 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS20.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-24.4</td>
      <td>6:10.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-21.5</td>
      <td>6:15.2</td>
      <td>+4.9</td>
      <td>+4.9</td>
    </tr>
    <tr>
      <th>13</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-12.9</td>
      <td>6:23.6</td>
      <td>+13.3</td>
      <td>+8.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-11.7</td>
      <td>6:25.9</td>
      <td>+15.6</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-11.4</td>
      <td>6:27.5</td>
      <td>+17.2</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-10.3</td>
      <td>6:30.2</td>
      <td>+19.9</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-9.9</td>
      <td>6:33.4</td>
      <td>+23.1</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-8.2</td>
      <td>6:33.7</td>
      <td>+23.4</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-6.5</td>
      <td>6:34.5</td>
      <td>+24.2</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-5.0</td>
      <td>6:35.4</td>
      <td>+25.1</td>
      <td>+0.9</td>
    </tr>
  </tbody>
</table>

## SS20 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS20.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:42.700000</td>
      <td>00:02:27.600000</td>
      <td>00:06:10.300000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:45.600000</td>
      <td>00:02:29.600000</td>
      <td>00:06:15.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:54.200000</td>
      <td>00:02:29.400000</td>
      <td>00:06:23.600000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:55.400000</td>
      <td>00:02:30.500000</td>
      <td>00:06:25.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:55.700000</td>
      <td>00:02:31.800000</td>
      <td>00:06:27.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:56.800000</td>
      <td>00:02:33.400000</td>
      <td>00:06:30.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:57.200000</td>
      <td>00:02:36.200000</td>
      <td>00:06:33.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:58.900000</td>
      <td>00:02:34.800000</td>
      <td>00:06:33.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:00.600000</td>
      <td>00:02:33.900000</td>
      <td>00:06:34.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:04:02.100000</td>
      <td>00:02:33.300000</td>
      <td>00:06:35.400000</td>
    </tr>
  </tbody>
</table>

## SS20 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS20.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS20 - overall rally positions at end of stage

Following stage SS20, the overall leader from the previous stage, T. NEUVILLE, for Hyundai Motorsport in the Hyundai i20 Coupe WRC, dropped back one position to second.

O. TANAK for M-Sport World Rally Team moved up one place, from second at end of the previous stage, to take overall lead of the rally, with a gap of +1.8.

H. PADDON, in the Hyundai i20 Coupe WRC, retained third place overall, +42.3 behind the overall rally leader and +40.5 behind T. NEUVILLE in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:16:39.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:16:41.5</td>
      <td>+1.8</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:17:22.0</td>
      <td>+40.5</td>
      <td>+42.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:18:25.8</td>
      <td>+1:03.8</td>
      <td>+1:46.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:18:43.5</td>
      <td>+17.7</td>
      <td>+2:03.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:18:58.4</td>
      <td>+14.9</td>
      <td>+2:18.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:19:25.3</td>
      <td>+26.9</td>
      <td>+2:45.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:19:46.6</td>
      <td>+21.3</td>
      <td>+3:06.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:20:30.5</td>
      <td>+43.9</td>
      <td>+3:50.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:20:34.6</td>
      <td>+4.1</td>
      <td>+3:54.9</td>
    </tr>
  </tbody>
</table>

## SS20 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS20.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>22</td>
      <td>21</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td>18</td>
      <td>22</td>
      <td>24</td>
      <td>22</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>32</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS20.png)

### Stage position chart SS20

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS20.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>39</td>
      <td>38</td>
      <td>38</td>
      <td>37</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>11</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>9</td>
      <td>5</td>
      <td>6</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>4</td>
      <td>11</td>
      <td>1</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
      <td>9</td>
      <td>13</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>15</td>
      <td>18</td>
      <td>25</td>
      <td>24</td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>15</td>
      <td>31</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
      <td>32</td>
      <td>27</td>
      <td>31</td>
      <td>23</td>
      <td>37</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS20

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |2:16:39.7|        |         |          1|        1|       1
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:16:41.5|1.8     |1.8      |          2|        2|       2
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:17:22.0|40.5    |42.3     |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:18:25.8|+1:03.8 |+1:46.1  |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:18:43.5|17.7    |+2:03.8  |          5|        5|       5
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:18:58.4|14.9    |+2:18.7  |          6|        6|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |2:19:25.3|26.9    |+2:45.6  |          7|        7|       6
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |2:19:46.6|21.3    |+3:06.9  |          8|        8|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:20:30.5|43.9    |+3:50.8  |          9|        9|       7
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |2:20:34.6|4.1     |+3:54.9  |         10|       10|       8
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:20:39.7|5.1     |+4:00.0  |         11|       11|       9
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:27:48.2|39.1    |+11:08.5 |         13|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |2:31:34.5|37.6    |+14:54.8 |         17|       13|       1
   23|J. RAOUX     |L. MAGAT    |Jean-Michel Raoux          |WRCT       |2:43:25.8|+8:35.8 |+26:46.1 |         21|       14|       2
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:44:39.6|+1:13.8 |+27:59.9 |         22|       15|      11
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |2:54:17.5|+1:09.5 |+37:37.8 |         32|       16|       3

## SS21 Paprotki -
 ### Distance: 18.68 km
 
First car 09:08

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    4|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    5|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    6|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   10|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   11|    2|O. TANAK     |M-Sport World Rally Team   |M          |RC1       
   12|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   13|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   14|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
  NaN|   23|J. RAOUX     |Jean-Michel Raoux          |WRCT       |RC1       
   16|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 21:

In stage SS21, T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) for Hyundai Motorsport took the stage, and their eighth stage win, in 8:58.1, +8.8 ahead of J. LATVALA (FIN) and M. ANTTILA (FIN) in the Toyota Yaris WRC.

As well as taking the stage, his +1:44.9 gain over O. TANAK (EST) and M. JARVEOJA (EST) in the Ford Fiesta WRC, the rally leader going into the stage, meant T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) for Hyundai Motorsport also took overall lead of the rally.


There were 1 retirements amongst the wider RC1 competitors:
- J. RAOUX (FRA) / L. MAGAT (FRA) -  at SF21 in the *Jean-Michel Raoux* Citroen DS3 WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>8:58.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>9:06.9</td>
      <td>+8.8</td>
      <td>+8.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>9:16.8</td>
      <td>+9.9</td>
      <td>+18.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>9:19.8</td>
      <td>+3.0</td>
      <td>+21.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>9:20.9</td>
      <td>+1.1</td>
      <td>+22.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>9:21.0</td>
      <td>+0.1</td>
      <td>+22.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>9:22.7</td>
      <td>+1.7</td>
      <td>+24.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>9:26.4</td>
      <td>+3.7</td>
      <td>+28.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>9:28.4</td>
      <td>+2.0</td>
      <td>+30.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>9:28.4</td>
      <td>+0.0</td>
      <td>+30.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:25:39.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:26:42.9</td>
      <td>+1:03.3</td>
      <td>+1:03.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:27:22.7</td>
      <td>+39.8</td>
      <td>+1:43.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:27:48.5</td>
      <td>+25.8</td>
      <td>+2:08.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:28:09.9</td>
      <td>+21.4</td>
      <td>+2:30.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:28:26.8</td>
      <td>+16.9</td>
      <td>+2:47.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:28:42.1</td>
      <td>+15.3</td>
      <td>+3:02.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:29:07.6</td>
      <td>+25.5</td>
      <td>+3:28.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:30:02.5</td>
      <td>+54.9</td>
      <td>+4:22.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:30:08.1</td>
      <td>+5.6</td>
      <td>+4:28.5</td>
    </tr>
  </tbody>
</table>

## SS21 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS21.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS21 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS21.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-7.3</td>
      <td>-18.3</td>
      <td>8:58.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-4.4</td>
      <td>-11.1</td>
      <td>9:06.9</td>
      <td>+8.8</td>
      <td>+8.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-4.1</td>
      <td>-1.8</td>
      <td>9:16.8</td>
      <td>+18.7</td>
      <td>+9.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:16.9</td>
      <td>00:06:46.7</td>
      <td>9:19.8</td>
      <td>+21.7</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-1.1</td>
      <td>-0.5</td>
      <td>9:20.9</td>
      <td>+22.8</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-2.0</td>
      <td>+0.9</td>
      <td>9:21.0</td>
      <td>+22.9</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>+1.4</td>
      <td>+1.0</td>
      <td>9:22.7</td>
      <td>+24.6</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+1.2</td>
      <td>+3.9</td>
      <td>9:26.4</td>
      <td>+28.3</td>
      <td>+3.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+1.6</td>
      <td>+5.8</td>
      <td>9:28.4</td>
      <td>+30.3</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>+5.3</td>
      <td>+6.4</td>
      <td>9:28.4</td>
      <td>+30.3</td>
      <td>+0.0</td>
    </tr>
  </tbody>
</table>

## SS21 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS21.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:09.600000</td>
      <td>00:03:18.800000</td>
      <td>00:02:29.700000</td>
      <td>00:08:58.100000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:12.500000</td>
      <td>00:03:23.100000</td>
      <td>00:02:31.300000</td>
      <td>00:09:06.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:12.800000</td>
      <td>00:03:32.100000</td>
      <td>00:02:31.900000</td>
      <td>00:09:16.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:16.900000</td>
      <td>00:03:29.800000</td>
      <td>00:02:33.100000</td>
      <td>00:09:19.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:15.800000</td>
      <td>00:03:30.400000</td>
      <td>00:02:34.700000</td>
      <td>00:09:20.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:14.900000</td>
      <td>00:03:32.700000</td>
      <td>00:02:33.400000</td>
      <td>00:09:21</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:18.300000</td>
      <td>00:03:29.400000</td>
      <td>00:02:35</td>
      <td>00:09:22.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:18.100000</td>
      <td>00:03:32.500000</td>
      <td>00:02:35.800000</td>
      <td>00:09:26.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:22.200000</td>
      <td>00:03:30.900000</td>
      <td>00:02:35.300000</td>
      <td>00:09:28.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:18.500000</td>
      <td>00:03:34</td>
      <td>00:02:35.900000</td>
      <td>00:09:28.400000</td>
    </tr>
  </tbody>
</table>

## SS21 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS21.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS21 - overall rally positions at end of stage

At the end of stage SS21, T. NEUVILLE for Hyundai Motorsport improved by one position, from second at end of the previous stage, to take overall lead of the rally, with a gap of +1:03.3 from H. PADDON for Hyundai Motorsport in the Hyundai i20 Coupe WRC.

The overall leader from the previous stage, O. TANAK, for M-Sport World Rally Team, dropped two places to third, putting him +1:43.1 behind the overall leader.

H. PADDON, for Hyundai Motorsport, gained second place overall, up one place from third.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:25:39.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:26:42.9</td>
      <td>+1:03.3</td>
      <td>+1:03.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:27:22.7</td>
      <td>+39.8</td>
      <td>+1:43.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:27:48.5</td>
      <td>+25.8</td>
      <td>+2:08.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:28:09.9</td>
      <td>+21.4</td>
      <td>+2:30.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:28:26.8</td>
      <td>+16.9</td>
      <td>+2:47.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:28:42.1</td>
      <td>+15.3</td>
      <td>+3:02.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:29:07.6</td>
      <td>+25.5</td>
      <td>+3:28.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:30:02.5</td>
      <td>+54.9</td>
      <td>+4:22.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:30:08.1</td>
      <td>+5.6</td>
      <td>+4:28.5</td>
    </tr>
  </tbody>
</table>

## SS21 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS21.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td>18</td>
      <td>22</td>
      <td>24</td>
      <td>22</td>
      <td>21</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>32</td>
      <td>31</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>22</td>
      <td>21</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS21.png)

### Stage position chart SS21

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS21.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>39</td>
      <td>38</td>
      <td>38</td>
      <td>37</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>11</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
      <td>9</td>
      <td>13</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>9</td>
      <td>5</td>
      <td>6</td>
      <td>4</td>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>11</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>4</td>
      <td>11</td>
      <td>1</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>15</td>
      <td>18</td>
      <td>25</td>
      <td>24</td>
      <td>16</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>1</td>
      <td>27</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
      <td>32</td>
      <td>27</td>
      <td>31</td>
      <td>23</td>
      <td>37</td>
      <td>38</td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>15</td>
      <td>31</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS21

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:25:39.6|        |         |          1|        1|       1
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:26:42.9|+1:03.3 |+1:03.3  |          2|        2|       2
    2|O. TANAK     |M. JARVEOJA |M-Sport World Rally Team   |M          |2:27:22.7|39.8    |+1:43.1  |          3|        3|       3
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:27:48.5|25.8    |+2:08.9  |          4|        4|       4
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:28:09.9|21.4    |+2:30.3  |          5|        5|       5
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:28:26.8|16.9    |+2:47.2  |          6|        6|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |2:28:42.1|15.3    |+3:02.5  |          7|        7|       6
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |2:29:07.6|25.5    |+3:28.0  |          8|        8|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:30:02.5|54.9    |+4:22.9  |          9|        9|       7
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:30:08.1|5.6     |+4:28.5  |         10|       10|       8
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |2:30:22.0|13.9    |+4:42.4  |         11|       11|       9
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:37:08.0|+6:46.0 |+11:28.4 |         12|       12|      10
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |2:41:39.0|14.2    |+15:59.4 |         17|       13|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:53:46.5|+8:36.9 |+28:06.9 |         21|       14|      11
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |3:06:10.6|+1:37.5 |+40:31.0 |         31|       15|       2

## SS22 Orzysz -
 ### Distance: 11.15 km
*Rerun of stage SS20* 
First car 10:45

*A relatively short stage with one splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    4|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    5|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    6|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    8|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
    9|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   10|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   11|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   12|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
   13|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   14|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 22:

In stage SS22, T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) (Hyundai Motorsport) continued to lead the rally with their ninth stage win,their second consecutive stage win, in a time of 6:02.6.

J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT were placed second on the stage, +0.5 behind.


There were 1 retirements amongst the RC1 (M) competitors  around stage 22:
- O. TANAK (EST) / M. JARVEOJA (EST) -  at TC22 in the *M-Sport World Rally Team* Ford Fiesta WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>6:02.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>6:03.1</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>6:04.8</td>
      <td>+1.7</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>6:07.7</td>
      <td>+2.9</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>6:08.2</td>
      <td>+0.5</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>6:09.1</td>
      <td>+0.9</td>
      <td>+6.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>6:11.4</td>
      <td>+2.3</td>
      <td>+8.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>6:12.0</td>
      <td>+0.6</td>
      <td>+9.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>6:12.3</td>
      <td>+0.3</td>
      <td>+9.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>6:14.7</td>
      <td>+2.4</td>
      <td>+12.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:31:42.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:32:55.2</td>
      <td>+1:13.0</td>
      <td>+1:13.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:34:04.5</td>
      <td>+1:09.3</td>
      <td>+2:22.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:34:17.6</td>
      <td>+13.1</td>
      <td>+2:35.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:34:35.9</td>
      <td>+18.3</td>
      <td>+2:53.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:34:54.1</td>
      <td>+18.2</td>
      <td>+3:11.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:35:15.8</td>
      <td>+21.7</td>
      <td>+3:33.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:36:13.9</td>
      <td>+58.1</td>
      <td>+4:31.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:36:22.8</td>
      <td>+8.9</td>
      <td>+4:40.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:36:26.8</td>
      <td>+4.0</td>
      <td>+4:44.6</td>
    </tr>
  </tbody>
</table>

## SS22 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS22.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS22 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS22.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-13.5</td>
      <td>6:02.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-11.0</td>
      <td>6:03.1</td>
      <td>+0.5</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-12.1</td>
      <td>6:04.8</td>
      <td>+2.2</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-13.2</td>
      <td>6:07.7</td>
      <td>+5.1</td>
      <td>+2.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-9.5</td>
      <td>6:08.2</td>
      <td>+5.6</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>-7.8</td>
      <td>6:09.1</td>
      <td>+6.5</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-6.4</td>
      <td>6:11.4</td>
      <td>+8.8</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-7.5</td>
      <td>6:12.0</td>
      <td>+9.4</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-6.4</td>
      <td>6:12.3</td>
      <td>+9.7</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-7.0</td>
      <td>6:14.7</td>
      <td>+12.1</td>
      <td>+2.4</td>
    </tr>
  </tbody>
</table>

## SS22 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 22, S. OGIER lost ground in the final part of the stage.

![](images/2017_230/chart_stage_sector_delta_SS22.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:33.700000</td>
      <td>00:02:28.900000</td>
      <td>00:06:02.600000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:36.200000</td>
      <td>00:02:26.900000</td>
      <td>00:06:03.100000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:35.100000</td>
      <td>00:02:29.700000</td>
      <td>00:06:04.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:34</td>
      <td>00:02:33.700000</td>
      <td>00:06:07.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:37.700000</td>
      <td>00:02:30.500000</td>
      <td>00:06:08.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>00:03:39.400000</td>
      <td>00:02:29.700000</td>
      <td>00:06:09.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:40.800000</td>
      <td>00:02:30.600000</td>
      <td>00:06:11.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:39.700000</td>
      <td>00:02:32.300000</td>
      <td>00:06:12</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:40.800000</td>
      <td>00:02:31.500000</td>
      <td>00:06:12.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:40.200000</td>
      <td>00:02:34.500000</td>
      <td>00:06:14.700000</td>
    </tr>
  </tbody>
</table>

## SS22 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS22.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS22 - overall rally positions at end of stage

After stage SS22, T. NEUVILLE retained overall lead of the rally for Hyundai Motorsport in the Hyundai i20 Coupe WRC, with a lead of +1:13.0.

H. PADDON, for Hyundai Motorsport, retained second place overall.

S. OGIER, for M-Sport World Rally Team in the Ford Fiesta WRC, moved into third place overall, a gain of one place from fourth, +2:22.3 behind the overall rally leader and +1:09.3 behind H. PADDON.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:31:42.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:32:55.2</td>
      <td>+1:13.0</td>
      <td>+1:13.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:34:04.5</td>
      <td>+1:09.3</td>
      <td>+2:22.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:34:17.6</td>
      <td>+13.1</td>
      <td>+2:35.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:34:35.9</td>
      <td>+18.3</td>
      <td>+2:53.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:34:54.1</td>
      <td>+18.2</td>
      <td>+3:11.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:35:15.8</td>
      <td>+21.7</td>
      <td>+3:33.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:36:13.9</td>
      <td>+58.1</td>
      <td>+4:31.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:36:22.8</td>
      <td>+8.9</td>
      <td>+4:40.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:36:26.8</td>
      <td>+4.0</td>
      <td>+4:44.6</td>
    </tr>
  </tbody>
</table>

## SS22 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS22.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td>18</td>
      <td>22</td>
      <td>24</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>32</td>
      <td>31</td>
      <td>30</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>22</td>
      <td>21</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS22.png)

### Stage position chart SS22

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS22.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>39</td>
      <td>38</td>
      <td>38</td>
      <td>37</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>12</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>9</td>
      <td>5</td>
      <td>6</td>
      <td>4</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>11</td>
      <td>4</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>4</td>
      <td>11</td>
      <td>1</td>
      <td>12</td>
      <td>11</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>11</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
      <td>9</td>
      <td>13</td>
      <td>4</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>15</td>
      <td>18</td>
      <td>25</td>
      <td>24</td>
      <td>16</td>
      <td>22</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
      <td>32</td>
      <td>27</td>
      <td>31</td>
      <td>23</td>
      <td>37</td>
      <td>38</td>
      <td>32</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>1</td>
      <td>27</td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>15</td>
      <td>31</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS22

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:31:42.2|        |         |          1|        1|       1
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:32:55.2|+1:13.0 |+1:13.0  |          2|        2|       2
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:34:04.5|+1:09.3 |+2:22.3  |          3|        3|       3
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:34:17.6|13.1    |+2:35.4  |          4|        4|       4
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:34:35.9|18.3    |+2:53.7  |          5|        5|       1
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |2:34:54.1|18.2    |+3:11.9  |          6|        6|       5
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |2:35:15.8|21.7    |+3:33.6  |          7|        7|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:36:13.9|58.1    |+4:31.7  |          8|        8|       6
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:36:22.8|8.9     |+4:40.6  |          9|        9|       7
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |2:36:26.8|4       |+4:44.6  |         10|       10|       8
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:43:24.7|+6:57.9 |+11:42.5 |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |2:48:23.7|25.1    |+16:41.5 |         16|       12|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:59:49.6|+7:59.1 |+28:07.4 |         20|       13|      10
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |3:13:57.6|+1:39.5 |+42:15.4 |         30|       14|       2

## SS23 Paprotki -2 (Power Stage)
 ### Distance: 18.68 km
 
First car 12:18

*A medium length stage with two splits*

## Start Order:
start|carNo| driverName  |           team            |eligibility|groupClass
----:|----:|-------------|---------------------------|-----------|----------
    1|    8|C. BREEN     |Citroën Total Abu Dhabi WRT|M          |RC1       
    2|   11|J. HÄNNINEN  |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    7|A. MIKKELSEN |Citroën Total Abu Dhabi WRT|M          |RC1       
    4|   10|J. LATVALA   |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    3|E. EVANS     |M-Sport World Rally Team   |M          |RC1       
    6|   14|M. OSTBERG   |M-Sport World Rally Team   |           |RC1       
    7|    9|S. LEFEBVRE  |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|   15|T. SUNINEN   |M-Sport World Rally Team   |           |RC1       
    9|    6|D. SORDO     |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER     |M-Sport World Rally Team   |M          |RC1       
   11|    4|H. PADDON    |Hyundai Motorsport         |M          |RC1       
   12|    5|T. NEUVILLE  |Hyundai Motorsport         |M          |RC1       
   13|   21|V. GORBAN    |Eurolamp WRT               |WRCT       |RC1       
   14|   22|J. SERDERIDIS|Jourdan Serderidis         |WRCT       |RC1

## Stage Report 23:

On stage SS23, and with their fourth stage win, Toyota Gazoo Racing WRT's J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) took the stage by +4.9 from S. OGIER (FRA) and J. INGRASSIA (FRA) for M-Sport World Rally Team in the Ford Fiesta WRC, in a time of 8:57.5.

T. NEUVILLE (BEL) and N. GILSOUL (BEL) in the Hyundai i20 Coupe WRC, fifth on stage with a time of 9:03.9, and +6.4 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>8:57.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>9:02.4</td>
      <td>+4.9</td>
      <td>+4.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>9:02.8</td>
      <td>+0.4</td>
      <td>+5.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>9:03.8</td>
      <td>+1.0</td>
      <td>+6.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>9:03.9</td>
      <td>+0.1</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>9:09.9</td>
      <td>+6.0</td>
      <td>+12.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>9:11.3</td>
      <td>+1.4</td>
      <td>+13.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>9:14.8</td>
      <td>+3.5</td>
      <td>+17.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>9:15.9</td>
      <td>+1.1</td>
      <td>+18.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>9:17.0</td>
      <td>+1.1</td>
      <td>+19.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:40:46.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:42:10.0</td>
      <td>+1:23.9</td>
      <td>+1:23.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:43:06.9</td>
      <td>+56.9</td>
      <td>+2:20.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:43:33.5</td>
      <td>+26.6</td>
      <td>+2:47.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:43:57.9</td>
      <td>+24.4</td>
      <td>+3:11.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:44:02.9</td>
      <td>+5.0</td>
      <td>+3:16.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:44:25.7</td>
      <td>+22.8</td>
      <td>+3:39.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:45:25.2</td>
      <td>+59.5</td>
      <td>+4:39.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:45:29.6</td>
      <td>+4.4</td>
      <td>+4:43.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:45:39.8</td>
      <td>+10.2</td>
      <td>+4:53.7</td>
    </tr>
  </tbody>
</table>

## SS23 - stage split time, rank position

![](images/2017_230/chart_stage_split_pos_SS23.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS23 - stage split delta time (seconds) to first on stage

![](images/2017_230/split_delta_firstonstage_SS23.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-4.6</td>
      <td>-15.8</td>
      <td>8:57.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-7.9</td>
      <td>-16.6</td>
      <td>9:02.4</td>
      <td>+4.9</td>
      <td>+4.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>-3.5</td>
      <td>-10.9</td>
      <td>9:02.8</td>
      <td>+5.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-4.9</td>
      <td>-10.3</td>
      <td>9:03.8</td>
      <td>+6.3</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-3.4</td>
      <td>-11.2</td>
      <td>9:03.9</td>
      <td>+6.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-4.4</td>
      <td>-6.9</td>
      <td>9:09.9</td>
      <td>+12.4</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-1.8</td>
      <td>-3.4</td>
      <td>9:11.3</td>
      <td>+13.8</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-1.9</td>
      <td>-4.0</td>
      <td>9:14.8</td>
      <td>+17.3</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.7</td>
      <td>-2.3</td>
      <td>9:15.9</td>
      <td>+18.4</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-1.2</td>
      <td>-0.3</td>
      <td>9:17.0</td>
      <td>+19.5</td>
      <td>+1.1</td>
    </tr>
  </tbody>
</table>

## SS23 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_230/chart_stage_sector_delta_SS23.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:12</td>
      <td>00:03:16.400000</td>
      <td>00:02:29.100000</td>
      <td>00:08:57.500000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:08.700000</td>
      <td>00:03:18.900000</td>
      <td>00:02:34.800000</td>
      <td>00:09:02.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:13.100000</td>
      <td>00:03:20.200000</td>
      <td>00:02:29.500000</td>
      <td>00:09:02.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:11.700000</td>
      <td>00:03:22.200000</td>
      <td>00:02:29.900000</td>
      <td>00:09:03.800000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:13.200000</td>
      <td>00:03:19.800000</td>
      <td>00:02:30.900000</td>
      <td>00:09:03.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:12.200000</td>
      <td>00:03:25.100000</td>
      <td>00:02:32.600000</td>
      <td>00:09:09.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:14.800000</td>
      <td>00:03:26</td>
      <td>00:02:30.500000</td>
      <td>00:09:11.300000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:14.700000</td>
      <td>00:03:25.500000</td>
      <td>00:02:34.600000</td>
      <td>00:09:14.800000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:14.900000</td>
      <td>00:03:27</td>
      <td>00:02:34</td>
      <td>00:09:15.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:15.400000</td>
      <td>00:03:28.500000</td>
      <td>00:02:33.100000</td>
      <td>00:09:17</td>
    </tr>
  </tbody>
</table>

## SS23 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_230/split_delta_rebase_SS23.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS23 - overall rally positions at end of stage

After stage SS23, T. NEUVILLE retained overall lead of the rally in the Hyundai i20 Coupe WRC, +1:23.9 ahead of second.

H. PADDON, for Hyundai Motorsport, retained second place overall.

S. OGIER, for M-Sport World Rally Team in the Ford Fiesta WRC, retained third place overall, +2:20.8 behind the overall rally leader and +56.9 behind H. PADDON.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:40:46.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:42:10.0</td>
      <td>+1:23.9</td>
      <td>+1:23.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:43:06.9</td>
      <td>+56.9</td>
      <td>+2:20.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:43:33.5</td>
      <td>+26.6</td>
      <td>+2:47.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>2:43:57.9</td>
      <td>+24.4</td>
      <td>+3:11.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15</td>
      <td>T. SUNINEN</td>
      <td>2:44:02.9</td>
      <td>+5.0</td>
      <td>+3:16.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>2:44:25.7</td>
      <td>+22.8</td>
      <td>+3:39.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:45:25.2</td>
      <td>+59.5</td>
      <td>+4:39.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>A. MIKKELSEN</td>
      <td>2:45:29.6</td>
      <td>+4.4</td>
      <td>+4:43.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>2:45:39.8</td>
      <td>+10.2</td>
      <td>+4:53.7</td>
    </tr>
  </tbody>
</table>

## SS23 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_230/overall_SS23.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
      <th>SS23</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>11</td>
      <td>11</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>8</td>
      <td>11</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>34</td>
      <td>12</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>12</td>
      <td>18</td>
      <td>32</td>
      <td>30</td>
      <td>29</td>
      <td>32</td>
      <td>29</td>
      <td>26</td>
      <td>26</td>
      <td>26</td>
      <td>23</td>
      <td>20</td>
      <td>18</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>22</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>18</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>18</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td>18</td>
      <td>22</td>
      <td>24</td>
      <td>22</td>
      <td>21</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>32</td>
      <td>33</td>
      <td>41</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>36</td>
      <td>36</td>
      <td>36</td>
      <td>33</td>
      <td>33</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>32</td>
      <td>31</td>
      <td>30</td>
      <td>30</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>38</td>
      <td></td>
      <td></td>
      <td></td>
      <td>44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>16</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>27</td>
      <td>28</td>
      <td>28</td>
      <td>28</td>
      <td>26</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>22</td>
      <td>21</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_230/overall_td_diffFirst_SS23.png)

### Stage position chart SS23

*Showing stage position for each stage.*

![](images/2017_230/stageStage_SS23.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
      <th>SS20</th>
      <th>SS21</th>
      <th>SS22</th>
      <th>SS23</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>39</td>
      <td>38</td>
      <td>38</td>
      <td>37</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>10</td>
      <td>5</td>
      <td>2</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>11</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>A. MIKKELSEN</th>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>11</td>
      <td>25</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>3</td>
      <td>8</td>
      <td>12</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>8</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>11</td>
      <td>9</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>10</td>
      <td>11</td>
      <td>3</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>12</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
      <td>13</td>
      <td>12</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>9</td>
      <td>5</td>
      <td>6</td>
      <td>4</td>
      <td>9</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>12</td>
      <td>12</td>
      <td>13</td>
      <td>1</td>
      <td>13</td>
      <td>10</td>
      <td>6</td>
      <td>13</td>
      <td>11</td>
      <td>8</td>
      <td>4</td>
      <td>11</td>
      <td>1</td>
      <td>12</td>
      <td>11</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>10</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>10</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>9</td>
      <td>3</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>11</td>
      <td>11</td>
      <td>27</td>
      <td>9</td>
      <td>12</td>
      <td>13</td>
      <td>12</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>13</td>
      <td>21</td>
      <td>38</td>
      <td>31</td>
      <td>27</td>
      <td>14</td>
      <td>13</td>
      <td>12</td>
      <td>9</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>11</td>
      <td>8</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
      <td>9</td>
      <td>13</td>
      <td>4</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>T. SUNINEN</th>
      <td>14</td>
      <td>10</td>
      <td>9</td>
      <td>12</td>
      <td>8</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>11</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>11</td>
      <td>4</td>
      <td>10</td>
      <td>6</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>17</td>
      <td>26</td>
      <td>20</td>
      <td>14</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>25</td>
      <td>22</td>
      <td>22</td>
      <td>18</td>
      <td>20</td>
      <td>19</td>
      <td>18</td>
      <td>15</td>
      <td>18</td>
      <td>25</td>
      <td>24</td>
      <td>16</td>
      <td>22</td>
      <td>17</td>
    </tr>
    <tr>
      <th>22</th>
      <th>J. SERDERIDIS</th>
      <td>33</td>
      <td>35</td>
      <td>42</td>
      <td>39</td>
      <td>39</td>
      <td>39</td>
      <td>37</td>
      <td>38</td>
      <td>26</td>
      <td>38</td>
      <td>30</td>
      <td>32</td>
      <td>38</td>
      <td>36</td>
      <td>32</td>
      <td>27</td>
      <td>31</td>
      <td>23</td>
      <td>37</td>
      <td>38</td>
      <td>32</td>
      <td>39</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>9</td>
      <td>6</td>
      <td>1</td>
      <td>27</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <th>E. LAPPI</th>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>44</td>
      <td></td>
      <td></td>
      <td>41</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <th>J. RAOUX</th>
      <td>17</td>
      <td>31</td>
      <td>31</td>
      <td>28</td>
      <td>29</td>
      <td>29</td>
      <td>29</td>
      <td>32</td>
      <td>19</td>
      <td>29</td>
      <td>25</td>
      <td>25</td>
      <td>27</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>15</td>
      <td>31</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS23

carNo| driverName  |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-------------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE  |N. GILSOUL  |Hyundai Motorsport         |M          |2:40:46.1|        |         |          1|        1|       1
    4|H. PADDON    |S. MARSHALL |Hyundai Motorsport         |M          |2:42:10.0|+1:23.9 |+1:23.9  |          2|        2|       2
    1|S. OGIER     |J. INGRASSIA|M-Sport World Rally Team   |M          |2:43:06.9|56.9    |+2:20.8  |          3|        3|       3
    6|D. SORDO     |M. MARTI    |Hyundai Motorsport         |M          |2:43:33.5|26.6    |+2:47.4  |          4|        4|       4
    9|S. LEFEBVRE  |G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |2:43:57.9|24.4    |+3:11.8  |          5|        5|       5
   15|T. SUNINEN   |M. MARKKULA |M-Sport World Rally Team   |           |2:44:02.9|5       |+3:16.8  |          6|        6|       1
   14|M. OSTBERG   |O. FLOENE   |M-Sport World Rally Team   |           |2:44:25.7|22.8    |+3:39.6  |          7|        7|       2
    3|E. EVANS     |D. BARRITT  |M-Sport World Rally Team   |M          |2:45:25.2|59.5    |+4:39.1  |          8|        8|       6
    7|A. MIKKELSEN |A. SYNNEVAAG|Citroën Total Abu Dhabi WRT|M          |2:45:29.6|4.4     |+4:43.5  |          9|        9|       7
   11|J. HÄNNINEN  |K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:45:39.8|10.2    |+4:53.7  |         10|       10|       8
    8|C. BREEN     |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:52:42.6|+7:02.8 |+11:56.5 |         11|       11|       9
   21|V. GORBAN    |S. LARENS   |Eurolamp WRT               |WRCT       |2:58:14.5|14.9    |+17:28.4 |         16|       12|       1
   10|J. LATVALA   |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |3:08:47.1|+6:50.9 |+28:01.0 |         20|       13|      10
   22|J. SERDERIDIS|L. VANNESTE |Jourdan Serderidis         |WRCT       |3:26:20.5|+2:15.7 |+45:34.4 |         30|       14|       2